<% # Remember to update the <textarea> rows attribute if you add/remove any lines in this partial  %>
<div>
  <noscript><p>You have javascript turned off. Please turn javascript on to see the tools in action.</p></noscript>
  <p>
    <a id="<%= partner.tool_id %>" class="mas-widget" target="_blank" lang="<%= I18n.locale %>" href="https://www.moneyadviceservice.org.uk/en/tools/<%= partner.tool_slug %>" data-width="<%= partner.total_tool_width %>"><%= partner.tool_name %></a>
  </p>
</div>
<script class="application_scripts" src="https://www.moneyadviceservice.org.uk/assets/syndication/tools.js"></script>
