<section class="category-detail" data-dough-component="Collapsable">
  <h2 aria-level="2" class="category-detail__heading" data-dough-collapsable-trigger="category_before-you-borrow" id="before-you-borrow" role="heading">
  <%= render 'shared/svg/use_icon', icon: 'plus', variant: 'yellow' %>
  <%= render 'shared/svg/use_icon', icon: 'minus', variant: 'yellow' %>
  Before you borrow</h2>    
  <p class="category-detail__intro">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
  <ul class="featured-links">
    <li class="featured-links__item">
      <h3 aria-level="3" class="featured-links__tag featured-links__tag--tool" role="heading">Tool</h3>
      <h4 aria-level="4" class="featured-links__title" role="heading"><a href="/en/">Do you need to borrow money?</a></h4>      
      <p class="featured-links__description">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
    </li>
    <li class="featured-links__item">
      <h3 aria-level="3" class="featured-links__tag featured-links__tag--blog" role="heading">Blog</h3>
      <h4 aria-level="4" class="featured-links__title" role="heading"><a href="/en/">How to work out the true cost of borrowing</a></h4>      
      <p class="featured-links__description">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
    </li>
  </ul>
  <div class="category-detail__list-container" data-dough-collapsable-target="category_before-you-borrow">
    <ol class="category-detail__list">
      <li class="category-detail__list-item"><a href="/">How to set a savings goal</a></li>
      <li class="category-detail__list-item"><a href="/">Planning your savings</a></li>
      <li class="category-detail__list-item"><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li class="category-detail__list-item"><a href="/">Planning your investments</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Endowments and other life insurance investments</a></li>
      <li class="category-detail__list-item"><a href="/">Property investments</a></li>
    </ol>
    <ol class="collapsible-section category-detail__list category-detail__list--extended js-category-detail__list--extended">
      <li class="category-detail__list-item"><a href="/">Put your investment plans into practice</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--tool"></span></span><span class="visually-hidden">Tool</span>Alternative investments</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Choosing where to put your money</a></li>
      <li class="category-detail__list-item"><a href="/">Cash savings options</a></li>
    </ol>
    <button class="unstyled-button category-detail__view-all js-category-detail__view-all">View all ...</button>
  </div>
  <span class="category-detail__view-more" data-dough-collapsable-trigger="category_before-you-borrow">
    <%= render 'shared/svg/use_icon', icon: 'plus', variant: 'blue' %>
    <%= render 'shared/svg/use_icon', icon: 'minus', variant: 'blue' %>
    <span class="category-detail__view-more__label-more">View more</span>
    <span class="category-detail__view-more__label-less">View less</span>
  </span>
</section>

<section class="category-detail" data-dough-component="Collapsable">
  <h2 aria-level="2" class="category-detail__heading" data-dough-collapsable-trigger="category_before-you-borrow" id="before-you-borrow" role="heading">
  <%= render 'shared/svg/use_icon', icon: 'plus', variant: 'yellow' %>
  <%= render 'shared/svg/use_icon', icon: 'minus', variant: 'yellow' %>
  Before you borrow</h2>    
  <p class="category-detail__intro">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
  <ul class="featured-links">
    <li class="featured-links__item">
      <h3 aria-level="3" class="featured-links__tag featured-links__tag--tool" role="heading">Tool</h3>
      <h4 aria-level="4" class="featured-links__title" role="heading"><a href="/en/">Do you need to borrow money?</a></h4>      
      <p class="featured-links__description">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
    </li>
    <li class="featured-links__item">
      <h3 aria-level="3" class="featured-links__tag featured-links__tag--blog" role="heading">Blog</h3>
      <h4 aria-level="4" class="featured-links__title" role="heading"><a href="/en/">How to work out the true cost of borrowing</a></h4>      
      <p class="featured-links__description">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
    </li>
  </ul>
  <div class="category-detail__list-container" data-dough-collapsable-target="category_before-you-borrow">
    <ol class="category-detail__list">
      <li class="category-detail__list-item"><a href="/">How to set a savings goal</a></li>
      <li class="category-detail__list-item"><a href="/">Planning your savings</a></li>
      <li class="category-detail__list-item"><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li class="category-detail__list-item"><a href="/">Planning your investments</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Endowments and other life insurance investments</a></li>
      <li class="category-detail__list-item"><a href="/">Property investments</a></li>
    </ol>
    <ol class="collapsible-section category-detail__list category-detail__list--extended js-category-detail__list--extended">
      <li class="category-detail__list-item"><a href="/">Put your investment plans into practice</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--tool"></span></span><span class="visually-hidden">Tool</span>Alternative investments</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Choosing where to put your money</a></li>
      <li class="category-detail__list-item"><a href="/">Cash savings options</a></li>
    </ol>
    <button class="unstyled-button category-detail__view-all js-category-detail__view-all">View all ...</button>
  </div>
  <span class="category-detail__view-more" data-dough-collapsable-trigger="category_before-you-borrow">
    <%= render 'shared/svg/use_icon', icon: 'plus', variant: 'blue' %>
    <%= render 'shared/svg/use_icon', icon: 'minus', variant: 'blue' %>
    <span class="category-detail__view-more__label-more">View more</span>
    <span class="category-detail__view-more__label-less">View less</span>
  </span>
</section>

<section class="category-detail" data-dough-component="Collapsable">
  <h2 aria-level="2" class="category-detail__heading" data-dough-collapsable-trigger="category_before-you-borrow" id="before-you-borrow" role="heading">
  <%= render 'shared/svg/use_icon', icon: 'plus', variant: 'yellow' %>
  <%= render 'shared/svg/use_icon', icon: 'minus', variant: 'yellow' %>
  Before you borrow</h2>    
  <p class="category-detail__intro">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
  <ul class="featured-links">
    <li class="featured-links__item">
      <h3 aria-level="3" class="featured-links__tag featured-links__tag--tool" role="heading">Tool</h3>
      <h4 aria-level="4" class="featured-links__title" role="heading"><a href="/en/">Do you need to borrow money?</a></h4>      
      <p class="featured-links__description">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
    </li>
    <li class="featured-links__item">
      <h3 aria-level="3" class="featured-links__tag featured-links__tag--blog" role="heading">Blog</h3>
      <h4 aria-level="4" class="featured-links__title" role="heading"><a href="/en/">How to work out the true cost of borrowing</a></h4>      
      <p class="featured-links__description">Before you sign up for a credit card, bank loan or store card, or add to an existing card or loan it makes sense to think about whether you really need to borrow money.</p>
    </li>
  </ul>
  <div class="category-detail__list-container" data-dough-collapsable-target="category_before-you-borrow">
    <ol class="category-detail__list">
      <li class="category-detail__list-item"><a href="/">How to set a savings goal</a></li>
      <li class="category-detail__list-item"><a href="/">Planning your savings</a></li>
      <li class="category-detail__list-item"><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li class="category-detail__list-item"><a href="/">Planning your investments</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Endowments and other life insurance investments</a></li>
      <li class="category-detail__list-item"><a href="/">Property investments</a></li>
    </ol>
    <ol class="collapsible-section category-detail__list category-detail__list--extended js-category-detail__list--extended">
      <li class="category-detail__list-item"><a href="/">Put your investment plans into practice</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--tool"></span></span><span class="visually-hidden">Tool</span>Alternative investments</a></li>
      <li class="category-detail__list-item"><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Choosing where to put your money</a></li>
      <li class="category-detail__list-item"><a href="/">Cash savings options</a></li>
    </ol>
    <button class="unstyled-button category-detail__view-all js-category-detail__view-all">View all ...</button>
  </div>
  <span class="category-detail__view-more" data-dough-collapsable-trigger="category_before-you-borrow">
    <%= render 'shared/svg/use_icon', icon: 'plus', variant: 'blue' %>
    <%= render 'shared/svg/use_icon', icon: 'minus', variant: 'blue' %>
    <span class="category-detail__view-more__label-more">View more</span>
    <span class="category-detail__view-more__label-less">View less</span>
  </span>
</section>
