<div class="contact-panel">
  <h2 class="contact-panel__heading t-contact-heading">
    <span class="icon icon--call-us"></span><%= t('contact_panels.call_us.title') %>
  </h2>

  <p class="t-contact-introduction"><%= t('contact_panels.call_us.description') %></p>

  <p>
    <a class="contact-panel__telephone t-contact-number" href="<%= t('contact.telephone_number_href') %>">
      <%= t('contact.telephone_number') %> *</a>
  </p>

  <%= t('contact_panels.call_us.opening_times_html') %>

  <p class="smallprint">* <%= t('contact_panels.call_us.smallprint') %></p>
</div>
