<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-article-intro">
  <h1>Help to Buy Scheme</h1>

  <p class="intro">
    Facing up to debt can be a tough process. But there is lo*ts of free, co*nfidential help and advice available, so
    there’s no need to pay a debt management company to sort out your money worries.
  </p>
</div>

<div class="l-article-main">
  <h2>Everything you need to know</h2>

  <p>Help to Buy - the two main schemes:</p>

  <ul>
    <li><strong>Equity loans</strong> - the government lends you up to a fifth of the value of a new-build home in
      England. A similar equity loan scheme is available in Scotland, for properties valued up to £400,000.
    </li>
    <li><strong>Mortgage guarantees</strong> - the government agrees to cover part of your mortgage if you only have a
      small deposit, taking on the default risk should you fall behind with payments.&nbsp;</li>
  </ul>

  <div class="add-action">
    <a href="/en/articles/help-to-buy-schemes-faqs">Help to Buy schemes FAQs</a>
  </div>

  <h2>Did you know?</h2>

  <%= render 'styleguide/shared/callout' %>

  <p>There’s an estimated £850 million lying unclaimed in lost bank accounts. If some of it’s yours, don’t let it go to
    waste!</p>

  <p>Often accounts go missing because people change their address or change names. When you search, be sure to give any
    previous names too.</p>

  <p>It’s simple and free to check whether you have long-lost bank or building society accounts or savings with National
    Savings and Investments (NS&I). You can also check online for unclaimed Premium Bond prizes.</p>

  <p>There’s a free service set up specifically to help you find lost accounts, called
    <a href="http://www.mylostaccount.org.uk">mylostaccount.org.uk</a>.</p>

  <p>The service was set up by the British Bankers’ Association, the Building Societies Association and National Savings
    and Investments (NS&I). It can help you find any lost account with any UK bank, building society or NS&I, as well as
    with some overseas banks with branches in the UK.</p>

  <h3>Budget for the other costs of buying a home</h3>

  <p>The Help to Buy equity loan scheme started in April 2013 and will run for up to three years. The mortgage guarantee
    scheme launched in October 2013 will also run for three years.
  </p>

  <table class="datatable-default">
    <thead>
    <tr>
      <th>Heading</th>
      <th>Heading 2</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>&nbsp;Equity loans</td>
      <td>&nbsp;Mortgage guarantees</td>
    </tr>
    <tr>
      <td><a title="News index" href="https://www.moneyadviceservice.org.uk/en/news">New-build properties</a></td>
      <td><a title="BBC News site" target="_blank" href="http://www.bbc.co.uk/news/business/your_money/">New-build and
        pre-owned properties</a></td>
    </tr>
    <tr>
      <td>&nbsp;Minimum 5% deposit</td>
      <td>&nbsp;Minimum 5% deposit</td>
    </tr>
    </tbody>
  </table>

  <p>
    <a data-action-id="1544" href="#">Find out more information on the Gov.uk website</a>
  </p>

  <p>Text introducing bullet points:&nbsp;
  </p>
  <ul>
    <li>Borrowers will need to pass affordability checks with mortgage lenders. This varies by lender, but usually
      involves them checking that you’ll still be able to meet payments should interest rates go up.
    </li>
    <li>Borrowers will need to state that they have no interest in any other property worldwide, or won’t have by the
      time
      they complete on a mortgage guarantee scheme mortgage product.
    </li>
  </ul>

  <ul>
    <li><a data-action-id="1543" href="#">Find out more on the Help to Buy website</a></li>
    <li><a data-action-id="1543" href="#">Find out more on the Help to Buy website</a></li>
  </ul>

  <div class="add-action">
    <a href="/en/articles/help-to-buy-schemes-faqs">Affordability Checks FAQs</a>
  </div>

  <%= render 'styleguide/shared/collapsible' %>

  <h2>Alternatives to Help to Buy</h2>

  <p>It’s simple and free to check whether you have long-lost bank or building society accounts or savings with National
    Savings and Investments (NS&I). You can also check online for unclaimed Premium Bond prizes.</p>

  <p><a data-type="action" href="help-to-buy-homebuy-and-other-housing-schemes">Looking for alternatives? Read our guide to
    HomeBuy and other housing schemes</a>
  </p>

  <ul class="yes-no">
    <li class="yes">You should do this</li>
    <li class="yes">and then do this</li>
    <li class="yes">and finally this</li>
    <li class="no">You should not do this</li>
    <li class="no">or this</li>
    <li class="no">and definitely not do this</li>
  </ul>

  <ul>
    <li>Borrowers will need to pass affordability checks with mortgage lenders.
    </li>
    <li>Borrowers will need to state that they have no interest in any other property worldwide.
    </li>
  </ul>

  <ol>
    <li>The study also found that that this age group has a greater fear of redundancy than they do of a life-changing
      injury.&nbsp;</li>
    <li>Worries around job security are a concern for over half this age group while one in five worries about
      money.&nbsp;</li>
  </ol>

  <div class="callout">
    <p>Callout with no heading or citation.</p>
    <a title="Gov.uk" target="_blank" href="https://www.gov.uk/browse/employing-people">This is a link with a
      bulleted
      point.</a>
  </div>

  <p>How much does Christmas cost? We asked the kids what they think!&nbsp;</p>

  <p>
    <a data-type="video" href="#">Watch this video to find out how people are planning to pay for their summer
      holiday.</a>
  </p>

  <div class="video-wrapper">
    <iframe frameborder="0" height="413" width="680" src="https://www.youtube.com/embed/glFy-NkCnu8"> &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
      id="XinhaEditingPostion"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
      id="XinhaEditingPostion"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
      id="XinhaEditingPostion"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
    </iframe>
  </div>

  <a title="Christmas transcript" href="https://www.moneyadviceservice.org.uk/files/the-cost-of-christmas-video-transcript.doc">Read
    a transcript of the video (doc)</a>
  <br/>

  <p>Young people are more likely to feel the pressure, with almost one in four 18-24 year olds calling in sick due to
    stress over the past 12 months.
  </p>
  <ol>
    <li>The study also found that that this age group has a greater fear of redundancy than they do of a life-changing
      injury.&nbsp;</li>
    <li>Worries around job security are a concern for over half this age group while one in five worries about
      money.&nbsp;</li>
  </ol>


  <%= render 'styleguide/shared/table' %>

  <h2>Links to test analytics</h2>

  <h3>Internal Documents</h3>
  <ul>
    <li>
      <a href="https://www.moneyadviceservice.org.uk/files/mas-a5-dealing-with-your-mortgage-shortfall-april-2013.pdf" data-link-type="attachment" target="_blank" title="dealing with your mortgage shortfall">Letter
        to cancel an insurance policy</a>&nbsp;(PDF)
    </li>
    <li>
      <a href="/files/insl002-letter-to-reclaim-mis-sold-ppi.doc" target="_blank" title="Letter to reclaim mis-sold PPI">Letter
        to reclaim mis-sold PPI</a> (DOC)
    </li>
  </ul>

  <h3>Full Domain local documents</h3>
  <ul>
    <li>
      <a href="https://www.moneyadviceservice.org.uk/files/insl009-letter-of-complaint-about-an-insurance-companys-service.doc" target="_blank" title="Letter of complaint about an insurance companys service">Letter
        of complaint about an insurance company's service</a> (DOC)
    </li>
    <li>
      <a href="https://www.moneyadviceservice.org.uk/files/insl010-letter-of-complaint-arguing-against-an-insurance-companys-rejection-of-a-claim.doc" target="_blank" title="Letter of complaint, arguing against an insurance companys rejection of a claim">Letter
        of complaint, arguing against an insurance company's rejection of a claim</a> (DOC)
    </li>
  </ul>

  <h3>External Documents</h3>
  <ul>
    <li>
      <a href="https://docs.google.com/a/moneyadviceservice.org.uk/document/d/1OSrtpKVuU0hIqun8qRaaE-QIoXS9YqUVNoCdgebfvgY/edit?usp=sharing" target="_blank">Google
        doc test file</a> (Google DOC)
    </li>
  </ul>
</div>


<hr class="l-hr-article-related-links"/>

<%= render 'shared/related_links',
           categories: [
                         {
                           title:    'Home & mortgages',
                           path:     '#',
                           contents: [
                                       { title: 'Interest-only mortgages', path: '#' },
                                       { title: 'Buying property - what can you afford?', path: '#' },
                                       { title: 'Understanding mortgages', path: '#' },
                                       { title: 'Choosing the right mortgage', path: '#' }
                                     ]
                         },
                         {
                           title:    'Renting a property',
                           path:     '#',
                           contents: [
                                       { title: 'How much rent can you afford?', path: '#' },
                                       { title: 'Rent or buy?', path: '#' },
                                       { title: 'Budgeting and sharing costs when renting', path: '#' },
                                       { title: 'Your legal and financial responsibilities when renting', path: '#' },
                                       { title: 'Rent arrears and problems paying your rent', path: '#' },
                                       { title: 'Buy-to-let mortgages', path: '#' }
                                     ]
                         }
                       ].map(&:to_ostruct).map { |c| [c, c.contents] } %>
