<% set_meta_tags(title: 'Contact Us') %>

<% content_for(:editorial) do %>
  <main class="l-main__cell-double-primary" role="main">
    <%= heading_tag 'Contact Us' %>

    <p class="intro">
      Our trained staff can help you work out what’s right for you. Whatever your question, we’re
      here to help. If we don’t know the answer, we'll point you in the right direction of someone
      who does.
    </p>

    <div class="contact-detail">
      <%= heading_tag 'For face-to-face advice', level: 2, class: 'contact-detail__heading' %>

      <div class="contact-detail__content">
        <p>If you would prefer to speak to someone face to face, we work with a number of partners
          across the UK to give free unbiased money advice in person.</p>

        <p>To book a face-to-face Money Advice session (call rates may vary)</p>

        <ul>
          <li>England – <a href="tel:+44333 321 3434">0333 321 3434</a>* or
            <a href="http://moneyadviceservice.a4e.co.uk/eService/viewcase.aspx">book online</a>
          </li>
          <li>
            Wales – <a href="tel:+443003300520">0300 330 0520</a>* or email
            <a href="mailto:moneyadviser@citizensadvice.org.uk">moneyadviser@citizensadvice.org.uk</a>
          </li>
          <li>Scotland – <a href="tel:+448088000118">0808 800 0118</a>* or
            <a href="http://www.cas.org.uk/book-face-face-money-advice-service-session">book
              online</a></li>
          <li>Northern Ireland – <a href="tel:+44333 321 2424">0333 321 2424</a>* or
            <a href="http://moneyadviceservice.a4e.co.uk/eService/viewcase.aspx">book online</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="contact-detail">
      <%= heading_tag 'For Money Advice Service printed guides',
                      level: 2,
                      class: 'contact-detail__heading' %>

      <div class="contact-detail__content">
        <p>
          Our free printed guides give you clear, unbiased information and advice. They are a good
          starting point and can help you make informed choices. Our guides are intended for
          consumers of UK financial services, resident in the UK.
        </p>

        <p>Use our online order forms to request a printed guide.</p>
      </div>
    </div>

    <div class="contact-detail">
      <%= heading_tag 'To make a complaint', level: 2, class: 'contact-detail__heading' %>

      <div class="contact-detail__content">
        <p>
          Email
          <a href="complaints@moneyadviceservice.org.uk">complaints@moneyadviceservice.org.uk</a>
          or write to our head office.
        </p>

        <p>We will send you an acknowledgement within five working days and reply to you within
          twenty working days.</p>

        <p>
          To ensure that we learn from the feedback we receive, our Board gets regular reports
          summarising any complaints and comments we have received and the actions we have taken.
        </p>
      </div>
    </div>

    <div class="contact-detail">
      <%= heading_tag(level: 2, class: 'contact-detail__heading') do %>
        For press office enquiries (journalists only)
      <% end %>

      <div class="contact-detail__content">
        <p>Email
          <a href="mailto:pressoffice@moneyadviceservice.org.uk">pressoffice@moneyadviceservice.org.uk</a>
        </p>

        <p>
          Phone <a href="tel:+442079430593">020 7943 0593</a> (<a href="tel:+447767438670">07767 438
          670</a>
          for out-of-hours or urgent calls)
        </p>

        <p>
          The press office regrets it cannot take sales and marketing enquiries, please email:
          <a href="mailto:marketing@moneyadviceservice.org.uk">marketing@moneyadviceservice.org.uk</a>
        </p>
      </div>
    </div>
  </main>

  <div class=" l-main__cell-double-secondary">
    <div class="sidebar">
      <div class="panel">
        <%= heading_tag 'What we can’t help with', level: 2, class: 'heading-extra-small' %>

        <p>
          We’re not regulated by the Financial Conduct Authority which means we can’t give you
          specific product recommendations, such as telling you which savings account to take out.
        </p>

        <p>
          If you need regulated financial advice, you'll need to speak with a professional financial
          adviser. Read our guide for more information on
          <a href="/en/articles/choosing-a-financial-adviser">choosing a financial adviser</a>.
        </p>
      </div>

      <%= heading_tag 'Our head office address is', level: 2, class: 'heading-extra-small' %>

      <p>
        <a href="https://www.google.co.uk/maps/place/The+Money+Advice+Service/@51.5178989,-0.1080938,19z/data=!4m7!1m4!3m3!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134!2sThe+Money+Advice+Service!3b1!3m1!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134">
          The Money Advice Service, Holborn Centre, 120 Holborn, London, EC1N&nbsp;2TD</a>
      </p>

      <a href="https://www.google.co.uk/maps/place/The+Money+Advice+Service/@51.5178989,-0.1080938,19z/data=!4m7!1m4!3m3!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134!2sThe+Money+Advice+Service!3b1!3m1!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.5180658,-0.108537&zoom=17&size=260x200&scale=2&markers=color:green%7Clabel:M%7C51.5180658,-0.108537" />
      </a>

      <%= heading_tag 'Our general email address is', level: 2, class: 'heading-extra-small' %>

      <p>
        <a href="mailto:enquiries@moneyadviceservice.org.uk">enquiries@moneyadviceservice.org.uk</a>
      </p>

      <%= heading_tag 'Our opening hours are', level: 2, class: 'heading-extra-small' %>

      <ul class="unstyled-list">
        <li class="unstyled-list__item">Monday to Friday: 8am to 8pm</li>
        <li class="unstyled-list__item">Saturday: 9am to 1pm</li>
        <li class="unstyled-list__item">Sunday and Bank Holidays: closed</li>
      </ul>

      <%= heading_tag 'Call our Money Advice Line on', level: 2, class: 'heading-extra-small' %>
      <ul class="unstyled-list">
        <li class="unstyled-list__item"><a href="tel:+443005005000">0300 500 5000</a> (English)*</li>
        <li class="unstyled-list__item"><a href="tel:+443005005555">0300 500 5555</a> (Welsh)*</li>
        <li class="unstyled-list__item">
          Typetalk: <a href="tel:1800103005005000">18001 0300 500 5000</a>*
        </li>
        <li class="unstyled-list__item">
          From overseas: <a href="tel:+441443827658">+44 1443 827658</a></li>
      </ul>

      <div class="sidebar__smallprint">
        <p class="smallprint">
          * Calls to 03 numbers cost no more than calls to standard UK-wide numbers. If your calls are free, then they're free - even from mobiles. Calls to 0808 numbers are normally free from landlines but charges may apply from mobiles.
        </p>

        <p class="smallprint">
          We’re committed to providing you with a quality service, so calls may be recorded or
          monitored for training purposes.
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= render template: '/static_pages/show' %>
