<% set_meta_tags(title: 'Content Hub') %>

<%# content_for(:editorial) do %>
<%# render layout: 'layouts/unconstrained' do %>
  <div class="l-content-hub__inner">
    <div class="l-constrained">
      <section class="l-content-hub__title">
        <%= heading_tag 'Budgeting and managing money', class: 'heading-medium', level: 1 %>
      </section>

      <section class="l-content-hub__hero">
        <div class="l-content-hub__hero__inner">
          <div class="l-content-hub__hero__image"></div>
          <div class="l-content-hub__hero__content">
            <%= heading_tag 'Budget Planner', class: 'l-content-hub__hero__title heading-small', level: 2 %>
            <p class="l-content-hub__hero__description">Use our Budget planner to work out how much you have coming in and out each month. We’ll analyse your results and help you cut costs.</p>
            <button class="button button--primary">Start budgeting</button>
          </div>
        </div>
      </section>

      <section class="l-content-hub__modules">
        <div class="l-content-hub__modules__inner">
          <div class="l-content-hub__modules__content">
            <div class="l-content-hub__module content-hub__module--img-con-lnk">
              <div class="l-content-hub__module__inner">
                <div class="l-content-hub__module__image" style="background-image:url(/assets/campaign/cut-the-costs-of-a-merry-christmas.jpg)"></div>
                <div class="l-content-hub__module__content">
                  <p class="l-content-hub__module__description">Work out your festive budget and keep your Christmas merry with our Christmas Money Planner.</p>
                  <button class="button button--primary">Get started</button>
                </div>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--hdr-lnks">
              <div class="l-content-hub__module__inner">
                <%= heading_tag 'Most read articles', class: 'l-content-hub__module__title heading-small', level: 2 %>
                <ul class="content-hub__module__links unstyled-list">
                  <li><a href="#">Beginner’s guide to managing your money</a></li>
                  <li><a href="#">How to choose the right bank account</a></li>
                  <li><a href="#">Should you manage your money jointly or separately?</a></li>
                </ul>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--img-con-lnk">
              <div class="l-content-hub__module__inner">
                <div class="l-content-hub__module__image" style="background-image:url(http://comfy.moneyadviceservice.org.uk/system/comfy/cms/files/files/000/000/180/original/budgeting_managing_money_small.png)"></div>
                <div class="l-content-hub__module__content">
                  <p class="l-content-hub__module__description">Need extra money? Our Quick cash finder can help you cut your spending.</p>
                  <button class="button button--primary">Get saving</button>
                </div>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--hdr-lnks-cta">
              <div class="l-content-hub__module__inner">
                <%= heading_tag 'Running a bank account', class: 'l-content-hub__module__title heading-small', level: 2 %>
                <ul class="content-hub__module__links unstyled-list">
                  <li><a href="#">Running your bank account</a></li>
                  <li><a href="#">Current accounts</a></li>
                  <li><a href="#">How to reclaim unfair bank charges</a></li>
                </ul>
                <a href="#" class="content-hub__module__cta">
                  view all
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon content-hub__module__cta-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--stripe-banner-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--hdr-lnks-cta">
              <div class="l-content-hub__module__inner">
                <%= heading_tag 'Managing money', class: 'l-content-hub__module__title heading-small', level: 2 %>
                <ul class="content-hub__module__links unstyled-list">
                  <li><a href="#">How to budget on a low income</a></li>
                  <li><a href="#">Money Health Check</a></li>
                  <li><a href="#">How to avoid debt using a bank account and a prepaid card</a></li>
                </ul>
                <a href="#" class="content-hub__module__cta">
                  view all
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon content-hub__module__cta-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--stripe-banner-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--hdr-lnks-cta">
              <div class="l-content-hub__module__inner">
                <%= heading_tag 'Student and graduate money', class: 'l-content-hub__module__title heading-small', level: 2 %>
                <ul class="content-hub__module__links unstyled-list">
                  <li><a href="#">Preparing your son or daughter for student life</a></li>
                  <li><a href="#">A guide to student and graduate bank accounts</a></li>
                  <li><a href="#">Budgeting for college or university</a></li>
                </ul>
                <a href="#" class="content-hub__module__cta">
                  view all
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon content-hub__module__cta-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--stripe-banner-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--hdr-con-lnk-img">
              <div class="l-content-hub__module__inner">
                <div class="l-content-hub__module__image" style="background-image:url(/assets/prototype_to-be-deleted/content-hub_price-comp-img-tmp.png)"></div>
                <div class="l-content-hub__module__content">
                  <%= heading_tag 'How to use price comparison websites', class: 'l-content-hub__module__title heading-small', level: 2 %>
                  <p class="l-content-hub__module__description">How to compare mortgages, gas and electricity deals and bank accounts. Includes links to comparison websites.</p>
                  <button class="button button--primary">Read more</button>
                </div>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--hdr-lnks-cta">
              <div class="l-content-hub__module__inner">
                <%= heading_tag 'Cutting costs', class: 'l-content-hub__module__title heading-small', level: 2 %>
                <ul class="content-hub__module__links unstyled-list">
                  <li><a href="#">Save money on your home phone and broadband</a></li>
                  <li><a href="#">Paying for and protecting your phone</a></li>
                  <li><a href="#">Council Tax: what it is, how much it costs and how to save money</a></li>
                </ul>
                <a href="#" class="content-hub__module__cta">
                  view all
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon content-hub__module__cta-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--stripe-banner-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--img">
              <div class="l-content-hub__module__inner">
                <div class="l-content-hub__module__image" style="background-image:url(/assets/prototype_to-be-deleted/content-hub_money-jar.jpg)"></div>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--tool">
              <div class="l-content-hub__module__inner">
                <div class="l-content-hub__module__content">
                  <%= heading_tag 'Mortgage Calculator', class: 'l-content-hub__module__title heading-small', level: 2 %>
                  <p class="l-content-hub__module__description">Find out your monthly mortgage payments.</p>
                </div>
              </div>
            </div>

            <div class="l-content-hub__module content-hub__module--blog">
              <div class="l-content-hub__module__inner">
                <div class="l-content-hub__module__content">
                  <%= heading_tag 'Paws for thought &#8211; the hidden &#163;5,000 cost of a dog', class: 'l-content-hub__module__title heading-small', level: 2 %>
                  <p class="l-content-hub__module__description">26th August</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
<%# end %>

<%# render layout: '/layouts/unconstrained' %>
<%# render template: '/static_pages/show' %>
