<% set_meta_tags(title: 'Cysylltu â ni',
                 canonical: 'http://www.moneyadviceservice.org.uk/cy/corporate/cysylltu-a-ni') %>

<% content_for(:editorial) do %>

  <main class="l-main__cell-double-primary" role="main">
    <%= heading_tag 'Cysylltu â ni' %>

    <p class="intro">
      Gall ein staff hyfforddedig roi cymorth i benderfynu beth sy'n iawn i chi. Pa bynnag gwestiwn sydd gennych, rydym yma i helpu. Os nad yw'r ateb gennym, byddwn yn eich cyfeirio at rywun a ŵyr.
    </p>

    <div class="contact-detail">
      <%= heading_tag(level: 2, class: 'contact-detail__heading') do %>
        Galwadau ffôn
      <% end %>

      <div class="contact-detail__content">
        <p>
          Gallwch ein ffonio ni, ond ni fyddwn fyth yn gwneud galwadau diwahoddiad i chi na’ch gofyn am wybodaeth ariannol bersonol fel manylion banc neu ddogfennau pensiwn.
        </p>

        <p>
          Os byddwch yn derbyn galwad annisgwyl gan rywun sy’n ymhonni i fod o’r Gwasanaeth Cynghori Ariannol, gwnewch yn siŵr nad ydych yn rhoi unrhyw fanylion personol ac adrodd am yr alwad i’r FCA.
        </p>

        <p>
          <%= link_to 'fca.org.uk/consumers/scams/report-scam', 'http://www.fca.org.uk/consumers/scams/report-scam', target: '_blank' %>
        </p>

        <p>
          Os ydych chi wedi datgelu unrhyw wybodaeth bancio i’r galwr, cysylltwch ag Action Fraud ar 0300 123 2040 neu ewch i’w gwefan.
        </p>

        <p>
          <%= link_to 'actionfraud.police.uk', 'http://www.actionfraud.police.uk', target: '_blank' %>
        </p>

        <p>
          Am ragor o wybodaeth ar dwyll, gweler ein <%= link_to 'canllaw dechreuwr i dwyll', 'https://www.moneyadviceservice.org.uk/cy/articles/canllaw-dechreuwr-i-dwyll' %>.
        </p>
      </div>
    </div>

    <div class="contact-detail">
      <%= heading_tag 'Cyngor wyneb yn wyneb', level: 2, class: 'contact-detail__heading' %>

      <div class="contact-detail__content">
        <p>
          Os byddai'n well gennych siarad â rhywun wyneb yn wyneb, rydym yn gweithio gyda nifer o bartneriaid ledled y DU i roi cyngor ariannol diduedd.
        </p>

        <p>I drefnu sesiwn Cyngor Ariannol wyneb yn wyneb (gall cyfraddau galwadau amrywio)</p>

        <ul>
          <li>
            Lloegr – <a href="tel:+443333213434">0333 321 3434</a>* neu
            <a href="http://moneyadviceservice.a4e.co.uk/eService/viewcase.aspx">archebwch
              ar-lein</a></li>
          <li>
            Cymru – <a href="tel:+443003300520">0300 330 0520</a>* neu e-bostiwch
            <a href="mailto:moneyadviser@citizensadvice.org.uk">moneyadviser@citizensadvice.org.uk</a>
          </li>
          <li>Yr Alban – <a href="tel:+448088000118">0808 800 0118</a>* neu
            <a href="http://www.cas.org.uk/book-face-face-money-advice-service-session">archebwch
              ar-lein</a></li>
          <li>Gogledd Iwerddon – <a href="tel:+443333212424">0333 321 2424</a>* neu
            <a href="http://moneyadviceservice.a4e.co.uk/eService/viewcase.aspx">archebwch
              ar-lein</a></li>
        </ul>
      </div>
    </div>

    <div class="contact-detail">
      <%= heading_tag 'Er mwyn archebu canllawiau argraffedig y Gwasanaeth Cynghori Ariannol',
                      level: 2,
                      class: 'contact-detail__heading' %>

      <div class="contact-detail__content">
        <p>
          Mae ein <a href="/cy/articles/canllawiau-printiedig-am-ddim">canllawiau printiedig am ddim</a> yn rhoi gwybodaeth a chyngor clir a diduedd ichi. Maent yn fan cychwyn da a gallant eich helpu wrth wneud dewisiadau gwybodus. Mae ein canllawiau wedi'u bwriadu ar gyfer defnyddwyr gwasanaethau ariannol yn y Deyrnas Unedig, ac sy'n preswylio yn y Deyrnas Unedig.
        </p>

        <p>Defnyddiwch ein <a href="/cy/articles/ffurflenni-archebu">ffurflenni archebu</a> ar-lein i ofyn am ganllaw argraffedig.</p>
      </div>
    </div>

    <div class="contact-detail">
      <%= heading_tag 'I wneud cwyn', level: 2, class: 'contact-detail__heading' %>

      <div class="contact-detail__content">
        <p>
          Rydym yn ymroddedig i helpu pobl i ddeall ac ymwneud â'u harian. Mae ein  <a href="/files/final-external-complaints-policy-20120125.pdf">polisi cwynion</a> (PDF) yn cyflwyno'r ffordd y byddwn yn delio â'ch cwyn.
        </p>
        <p>
          E-bostiwch
          <a href="mailto:complaints@moneyadviceservice.org.uk">complaints@moneyadviceservice.org.uk</a>
          neu anfonwch lythyr atom yn: Y Gwasanaeth Cynghori Ariannol, Holborn Centre, 120 Holborn, Llundain, EC1N 2TD.
        </p>

        <p>Byddwn yn anfon cydnabyddiaeth atoch cyn pen pum diwrnod gwaith ac yn ateb cyn pen 20 diwrnod gwaith.</p>

        <p>
          Er mwyn gwneud yn siŵr ein bod yn dysgu oddi wrth yr adborth yr ydym yn ei dderbyn, mae
          ein Bwrdd yn cael adroddiadau cyson yn crynhoi unrhyw gwynion a sylwadau y byddwn wedi eu
          derbyn a'r camau a gymerwyd gennym.
        </p>
      </div>
    </div>

    <div class="contact-detail">
      <%= heading_tag "Ar gyfer ymholiadau swyddfa'r wasg (newyddiadurwyr yn unig)",
                      level: 2,
                      class: 'contact-detail__heading' %>

      <div class="contact-detail__content">
        <p>E-bost
          <a href="mailto:pressoffice@moneyadviceservice.org.uk">pressoffice@moneyadviceservice.org.uk</a>
        </p>

        <p>
          Ffôn <a href="tel:+442079430593">020 7943 0593</a> (<a href="tel:+447767438670">07767 438
          670</a> ar gyfer galwadau allan o oriau neu alwadau brys)
        </p>

        <p>
          Ni all swyddfa'r wasg dderbyn ymholiadau gwerthiant a marchnata, anfonwch e-bost at:
          <a href="mailto:marketing@moneyadviceservice.org.uk">marketing@moneyadviceservice.org.uk</a>
        </p>
      </div>
    </div>
  </main>

  <div class=" l-main__cell-double-secondary">
    <div class="sidebar">
      <div class="panel">
        <%= heading_tag 'Yr hyn na allwn gynnig help ar ei gyfer', level: 2, class: 'heading-extra-small' %>

        <p>
          Nid ydym wedi ein rheoleiddio gan yr Awdurdod Ymddygiad Ariannol sy'n golygu ni allwn roi
          argymhellion penodol i chi ar gynnyrch, megis dweud wrthych pa gyfrif cynilo i'w ddewis.
        </p>

        <p>
          Os oes angen cyngor ariannol rheoleiddiol arnoch, bydd angen i chi ymgynghori â chynghorwr
          ariannol proffesiynol. Darllenwch ein canllaw am ragor o wybodaeth ar
          <a href="/cy/articles/dewis-cynghorydd-ariannol">Ddewis cynghorydd ariannol</a>.
        </p>
      </div>

      <%= heading_tag 'Cyfeiriad ein pencadlys yw', level: 2, class: 'heading-extra-small' %>

      <p>
        <a href="https://www.google.co.uk/maps/place/The+Money+Advice+Service/@51.5178989,-0.1080938,19z/data=!4m7!1m4!3m3!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134!2sThe+Money+Advice+Service!3b1!3m1!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134">
          Y Gwasanaeth Cynghori Ariannol, Holborn Centre, 120 Holborn, Llundain, EC1N&nbsp;2TD</a>
      </p>

      <a href="https://www.google.co.uk/maps/place/The+Money+Advice+Service/@51.5178989,-0.1080938,19z/data=!4m7!1m4!3m3!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134!2sThe+Money+Advice+Service!3b1!3m1!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.5180658,-0.108537&zoom=17&size=260x200&scale=2&markers=color:green%7Clabel:M%7C51.5180658,-0.108537" />
      </a>

      <%= heading_tag 'Ein cyfeiriad e-bost cyffredinol yw', level: 2, class: 'heading-extra-small' %>

      <p>
        <a href="mailto:enquiries@moneyadviceservice.org.uk">enquiries@moneyadviceservice.org.uk</a>
      </p>

      <%= heading_tag 'Ein Horiau agor yw', level: 2, class: 'heading-extra-small' %>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">Llun i Wener, 8am i 8pm</li>
        <li class="unstyled-list__item">Dydd Sadwrn, 9am i 1pm</li>
        <li class="unstyled-list__item">Dydd Sul a Gwyliau Banc, ar gau</li>
      </ul>

      <%= heading_tag 'Ffoniwch ein Llinell Cynghori Ariannol ar', level: 2, class: 'heading-extra-small' %>
      <ul class="unstyled-list">
        <li class="unstyled-list__item"><a href="tel:+443005005000">0300 500 5000</a> (Saesneg)*</li>
        <li class="unstyled-list__item"><a href="tel:+443005005555">0300 500 5555</a> (Cymraeg)*
        </li>
        <li class="unstyled-list__item">
          Typetalk: <a href="tel:1800103005005000">18001 0300 500 5000</a>*
        </li>
        <li class="unstyled-list__item">
          O dramor: <a href="tel:+441443827658">+44 1443 827658</a>
        </li>
      </ul>

      <div class="sidebar__smallprint">
        <p class="smallprint">
          * Yr un gost â galwad arferol, os yw eich galwadau am ddim, caiff ei gynnwys. Mae galwadau i rifau 0808 am ddim fel arfer o linell dir ond efallai y bydd cost wrth ddefnyddio ffonau symudol.
        </p>

        <p class="smallprint">
          Rydym yn ymroddedig i ddarparu gwasanaeth o safon uchel, felly gall galwadau gael eu
          recordio neu eu monitro at ddibenion hyfforddi.
        </p>
      </div>
    </div>
  </div>

<% end %>

<%= render template: '/static_pages/show' %>
