<% set_meta_tags(description: static_page.description,
                 canonical: static_page.canonical_url,
                 alternate: static_page.alternate_options) %>

<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-double-primary" role="main">
      <h1><%= title static_page.title %></h1>

      <%= static_page.content %>
    </main>
  </div>
</div>


<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>

<% content_for(:alternate_link) do %>
  <% static_page.footer_alternate_options.each do |locale, url| %>
    <%= link_to(url, id: "#{locale}Link", lang: locale) do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
