<section class="l-pace__faqs" id="<%= t('pace.nav.links')[2][:id] %>">
  <div class="l-constrained">
    <div class="l-pace__faqs__content">
      <%= heading_tag t('pace.faqs.heading'), level: 3 %>
      <ul class="l-pace__faqs__list">
        <% t('pace.faqs.list').each do |listitem| %>
          <li
            class="l-pace__faqs__list-item"
          >
            <div
              data-dough-component="Collapsable"
              data-dough-collapsable-config='{"iconPosition":"right","oneGroupOpenOnly":"true","focusTarget":false}'
              data-dough-collapsable-trigger="<%= listitem[:id] %>"
            >
              <%= heading_tag listitem[:heading], level: 4, class: 'l-pace__faqs__list__heading', id: 'faq_' + listitem[:id] %>
            </div>

            <div
              class="l-pace__faqs__list__content"
              data-dough-collapsable-target="<%= listitem[:id] %>"
            >
              <p><%= listitem[:content] %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
