<footer class="l-footer l-pace__footer">
  <div class="l-footer-primary t-footer-primary">
    <div class="l-constrained">
      <nav role="navigation" aria-label="footer">
        <ul class="l-footer-primary__list">
          <li class="footer-primary__list-item footer-primary__corporate-link">
            <a href="<%= t('footer.about_us_link') %>"><%= t('footer.about_us') %></a>
          </li>

          <li class="footer-primary__list-item footer-primary__corporate-link">
            <a href="<%= t('footer.our_debt_work_link') %>"><%= t('footer.our_debt_work') %></a>
          </li>

          <li class="footer-primary__list-item footer-primary__corporate-link">
            <a href="<%= t('footer.media_centre_link') %>"><%= t('footer.media_centre') %></a>
          </li>

          <li class="footer-primary__list-item footer-primary__corporate-link">
            <a href="<%= t('footer.fincap_link') %>" target="_blank"><%= t('footer.fincap') %><span class="visually-hidden"><%= t('footer.new-window-label') %></span></a>
          </li>

          <li class="footer-primary__list-item footer-primary__corporate-link t-partners-link">
            <a href="<%= t('footer.partners_link') %>"><%= t('footer.partners') %></a>
          </li>

          <li class="footer-primary__list-item footer-primary__corporate-link">
            <a href="<%= t('footer.jobs_link') %>"><%= t('footer.jobs') %></a>
          </li>

          <li class="footer-primary__list-item footer-primary__corporate-link">
            <a href="<%= t('footer.tools_and_resources_link') %>"><%= t('footer.tools_and_resources') %></a>
          </li>
        </ul>
      </nav>

      <div class="footer-primary__clear-english">
        <a
          class="footer-primary__clear-english-link"
          href="https://www.clearest.co.uk/silver-standard"
          target="_blank"
        >
          <span class="icon icon--clear-english"></span>

          <span class="footer-primary__clear-english-text">
            <span>Clear English Standard</span>
            <span>Winning Website</span>
            <span>Silver Level</span>
          </span>

          <span class="visually-hidden">Clear English Award - <%= t('footer.new-window-label') %></span>
        </a>
      </div>
    </div>

    <div class="l-constrained">
      <p class="footer-primary__copyright">&copy; <%= "#{t('footer.copyright')} #{DateTime.now.year} #{t('footer.money_advice_service')} #{t('footer.address')}" %>
      </p>
    </div>
  </div>

  <%= render 'shared/footer_secondary', locals: alternate_locales %>
</footer>
