<section class="l-pace__organisations">
  <div class="l-constrained">
    <div class="l-pace__organisations__inner">
      <div class="l-pace__organisations__image">
        <div class="l-pace__organisations__image__content"></div>
      </div>

      <div class="l-pace__organisations__content">
        <%= heading_tag t('pace.organisations.heading'), level: 3 %>
        <p><%= t('pace.organisations.text') %></p>
      </div>

      <ul class="l-pace__organisations__list">
        <% t('pace.organisations.list').each do |listitem| %>
          <li class="l-pace__organisations__list-item">
            <div class="l-pace__organisations__list-item__content">
              <%= heading_tag level: 4, class: "l-pace__organisations__list-item__header #{listitem[:imageclass]}" do %>
                <span class="visually-hidden"><%= "#{listitem[:name]}" %></span>
              <% end %>
              <p><%= "#{listitem[:text]}" %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
