<% set_meta_tags(title: 'PACE') %>

<div class="l-pace">
  <main class="l-main__primary" role="main">
    <article class="l-constrained editorial">
      <%= heading_tag t('pace.privacy-policy.heading'), level: 1, class: 'l-pace__privacy-policy__heading' %>

      <section class="l-pace__privacy-policy__toc">
        <ul>
          <% t('pace.privacy-policy.contents').each do |contentitem| %>
            <li>
              <a href="#<%= contentitem[:id] %>"><%= contentitem[:title] %></a>
            </li>
          <% end %>
        </ul>
      </section>

      <section class="l-pace__privacy-policy__contents">
        <ol class="l-pace__privacy-policy__contents-items">
          <% t('pace.privacy-policy.contents').each do |contentsitem| %>
            <li class="l-pace__privacy-policy__contents-item">
              <%= heading_tag contentsitem[:title], level: 2, id: "#{contentsitem[:id]}" %>

              <ol class="l-pace__privacy-policy__points">
                <% contentsitem[:content].each do |contentitem| %>
                  <li class="l-pace__privacy-policy__point">
                    <%= contentitem[:point].html_safe %>

                    <% if contentitem[:bullets] %>
                      <ul>
                        <% contentitem[:bullets].each do |bulletsitem| %>
                          <li><%= bulletsitem[:bullet].html_safe %></li>

                          <% if bulletsitem[:bullets_secondary] %>
                            <ol class="l-pace__privacy-policy__bullets-secondary">
                              <% bulletsitem[:bullets_secondary].each do |bullet_secondary| %>
                                <li><%= bullet_secondary %></li>
                              <% end %>
                            </ol>
                          <% end %>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ol>
            </li>
          <% end %>
        </ol>
      </section>
    </article>
  </main>
</div>
