<% set_meta_tags(title: t('pace.title')) %>

<%= render 'pace/introduction' %>

<div class="l-constrained l-pace__2-section">
  <%= render 'pace/help' %>
  <%= render 'pace/advice' %>
</div>

<%= render 'pace/wellbeing' %>
<%= render 'pace/adviser' %>
<%= render 'pace/online_advice' %>
<%= render 'pace/faqs' %>
<%= render 'pace/organisations' %>
<%= render 'pace/referred' %>
<%= render 'pace/privacy' %>
