<%= form_tag(subscription_path, class: 'newsletter', remote: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <h3 class="newsletter__heading"><%= t('newsletter.heading') %></h3>
  <ul class="list-benefits list-benefits--s">
    <% t('newsletter.benefits').each do |benefit| %>
      <li><%= benefit %></li>
    <% end %>
  </ul>
  <%= label_tag('subscription[email]', 'Email address', class: 'visually-hidden') %>
  <div class="newsletter__form js-newsletter-form">
    <div class="newsletter__form-cell newsletter__form-cell--input">
      <%= email_field_tag('subscription[email]', nil, class: 'newsletter__input') %>
    </div>
    <div class="newsletter__form-cell">
      <%= button_tag('Sign up', type: 'submit', class: 'button button--inline-input newsletter__button') %>
    </div>
  </div>
<% end %>
