<main role="main" class="l-registration">
  <h1><%= t("authentication.settings.title") %></h1>
  <p><%= t("authentication.settings.secondary_intro_html", url: edit_profile_path) %></p>

  <%= form_for(resource, as: resource_name,
                         url: registration_path(resource_name),
                         html: {class: "form", novalidate: 'novalidate', method: :put},
                         builder: Dough::Forms::Builders::Validation) do |f| %>

    <%= f.validation_summary %>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :first_name do %>
          <%= f.errors_for :first_name %>
          <%= f.label :first_name, class: "form__label-heading" %>
          <%= f.text_field :first_name, autofocus: true, "aria-describedby" => "tooltip_first_name" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_first_name" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.registration.field_help_texts.first_name") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :email do %>
          <%= f.errors_for :email %>
          <%= f.label :email, class: "form__label-heading" %>
          <%= f.email_field :email, autofocus: true, "aria-describedby" => "tooltip_email" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_email" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.settings.field_help_texts.email") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :contact_number do %>
          <%= f.errors_for :contact_number %>
          <%= f.label :contact_number, t('authentication.settings.contact_number.label'), class: "form__label-heading" %>
          <%= f.text_field :contact_number, autofocus: true, "aria-describedby" => "tooltip_contact_number" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_contact_number" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.settings.field_help_texts.contact_number") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :post_code do %>
          <%= f.errors_for :post_code %>
          <%= f.label :post_code, class: "form__label-heading" %>
          <%= f.text_field :post_code, "aria-describedby" => "tooltip_postcode" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_postcode" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.settings.field_help_texts.postcode") %></p>
          </div>
        </div>
      </div>
    </div>

    <h3><%= t('authentication.settings.password.title') %></h3>
    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password do %>
          <%= f.errors_for :password %>
          <%= f.label :password, class: "form__label-heading" %>
          <%= f.password_field :password, autocomplete: "off", "aria-describedby" => "tooltip_password" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_password" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.settings.field_help_texts.password") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password_confirmation do %>
          <%= f.errors_for :password_confirmation %>
          <%= f.label :password_confirmation, class: "form__label-heading" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <% end %>
      </div>
    </div>

    <h3><%= t("authentication.settings.newsletter.title") %></h3>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :opt_in_for_research, html_options: {classes: "form__row--collapse"} do %>

          <%= f.errors_for :opt_in_for_research %>

          <fieldset class="form__group">
            <div class="form__group-item">
              <%= f.label :opt_in_for_research, class: "form__label-heading" do %>
                <%= f.check_box :opt_in_for_research, class: "form__group-input" %>
                <%= t("authentication.settings.opt_in_for_research.title") %>
              <% end %>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :newsletter_subscription do %>

          <%= f.errors_for :newsletter_subscription %>

          <fieldset class="form__group">
            <div class="form__group-item">
              <%= f.label :newsletter_subscription, class: "form__label-heading" do %>
                <%= f.check_box :newsletter_subscription, class: "form__group-input" %>
                <%= t("activerecord.attributes.user.newsletter") %>
              <% end %>
            </div>
          </fieldset>
          <strong><p><%= t("authentication.settings.newsletter.intro") %></p></strong>
          <ul class="list form__list">
            <% t('authentication.registration.newsletter.benefits').each do |benefit| %>
              <li><%= benefit %></li>
            <% end %>
          </ul>

        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :current_password do %>
          <%= f.errors_for :current_password %>
          <%= f.label :current_password, t('authentication.settings.current_password'), class: "form__label-heading" %>
          <%= f.password_field :current_password, autocomplete: "off", "aria-describedby" => "tooltip_current_password" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_current_password" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.settings.field_help_texts.current_password") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <div class="form__row">
          <%= f.submit t("authentication.settings.label"), class: "button button--primary" %>
          <p class="tertiary-link"><%= t("authentication.settings.secondary_intro_html", url: edit_profile_path) %></p>
        </div>
      </div>
    </div>
  <% end %>
</main>
