<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form"}) do |f| %>
        <%= devise_error_messages! %>

        <%= f.form_row :email do %>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        <% end %>

        <%= f.form_row :password do %>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        <% end %>

        <%= f.form_row :password_confirmation do %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <% end %>

        <div class="form__row">
          <%= f.submit "Sign up", class: "button button--primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </main>
  </div>
</div>
