<main role="main" class="l-registration">
  <h1><%= t("authentication.registration.title") %></h1>
  <p class="intro"><%= t("authentication.registration.intro") %></p>

  <%= render "devise/shared/links" %>

  <%= form_for(resource, as: resource_name,
                         url: registration_path(resource_name),
                         html: {:class => "form", novalidate: 'novalidate'},
                         builder: Dough::Forms::Builders::Validation) do |f| %>
    <%= f.validation_summary %>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :first_name do %>
          <%= f.errors_for :first_name %>
          <%= f.label :first_name, :class => "form__label-heading" %>
          <%= f.text_field :first_name, autofocus: true, "aria-describedby" => "tooltip_first_name" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_first_name" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.registration.field_help_texts.first_name") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :email do %>
          <%= f.errors_for :email %>
          <%= f.label :email, :class => "form__label-heading" %>
          <%= f.email_field :email, autofocus: true, "aria-describedby" => "tooltip_email" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_email" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.registration.field_help_texts.email") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password do %>
          <%= f.errors_for :password %>
          <%= f.label :password, :class => "form__label-heading" %>
          <%= f.password_field :password, autocomplete: "off", "aria-describedby" => "tooltip_password" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_password" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.registration.field_help_texts.password") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :post_code do %>
          <%= f.errors_for :post_code %>
          <%= f.label :post_code, :class => "form__label-heading" %>
          <%= f.text_field :post_code, "aria-describedby" => "tooltip_postcode" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_postcode" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.registration.field_help_texts.postcode") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :newsletter_subscription do %>

          <h3><%= t("authentication.registration.newsletter.title") %></h3>
          <p><%= t("authentication.registration.newsletter.intro") %></p>
          <ul class="list-benefits">
            <% t('authentication.registration.newsletter.benefits').each do |benefit| %>
              <li><%= benefit %></li>
            <% end %>
          </ul>


          <%= f.errors_for :newsletter_subscription %>

          <fieldset class="form__group">
            <div class="form__group-item">
              <%= f.label :newsletter_subscription, :class => "form__label-heading" do %>
                <%= f.check_box :newsletter_subscription, :class => "form__group-input" %>
                <%= f.label :newsletter %>
              <% end %>
            </div>
          </fieldset>

        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <div class="form__row">
          <%= f.submit "Sign up", class: "button button--primary" %>
        </div>
      </div>
    </div>
  <% end %>
</main>
