<main role="main" class="l-registration">
  <h1>Register</h1>
  <p class="intro">To get great benefits I promise</p>

  <%= form_for(resource, as: resource_name,
                         url: registration_path(resource_name),
                         html: {:class => "form"},
                         builder: Dough::Forms::Builders::Validation) do |f| %>
    <%= f.validation_summary %>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :first_name do %>
          <%= f.errors_for :first_name %>
          <%= f.label :first_name, :class => "form__label-heading" %>
          <%= f.text_field :first_name, autofocus: true %>
        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :email do %>
          <%= f.errors_for :email %>
          <%= f.label :email, :class => "form__label-heading" %>
          <%= f.email_field :email, autofocus: true, "aria-describedby" => "tooltip_1" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_1" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text">This is the tooltip, is it not.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password do %>
          <%= f.errors_for :password %>
          <%= f.label :password, :class => "form__label-heading" %>
          <%= f.password_field :password, autocomplete: "off", "aria-describedby" => "tooltip_2" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_2" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text">This is the tooltip, is it not.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password_confirmation do %>
          <%= f.errors_for :password_confirmation %>
          <%= f.label :password_confirmation, :class => "form__label-heading" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", "aria-describedby" => "tooltip_3" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_3" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text">This is the tooltip, is it not.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :post_code do %>
          <%= f.errors_for :post_code %>
          <%= f.label :post_code, :class => "form__label-heading" %>
          <%= f.text_field :post_code %>
        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :newsletter_subscription do %>
          <%= f.errors_for :newsletter_subscription %>
          <%= f.label :newsletter_subscription, :class => "form__label-heading" %>
          <%= f.check_box :newsletter_subscription %>
        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <div class="form__row">
          <%= f.submit "Sign up", class: "button button--primary" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
