<% set_meta_tags(title:       t('c19_diagnostics_tool.meta.title'),
                 description: t('c19_diagnostics_tool.meta.description'),
                 canonical:   t('c19_diagnostics_tool.meta.canonical'),
                 alternate:   t('c19_diagnostics_tool.meta.alternate')) %>

<h1><%= t("c19_diagnostics_tool.heading") %></h1>

<p><%= t("c19_diagnostics_tool.subheading") %></p>

<%= form_for @model, 
  url:c19_diagnostics_questionnaire_path, 
  builder: Dough::Forms::Builders::Validation do |f| 
%>
  <%= f.validation_summary %>

  <% t("c19_diagnostics_tool.questions").each_with_index do |question, index| %>
    <div>
      <% if index > 0 %>
        <p><%= t("c19_diagnostics_tool.counter", number: index, total: t("c19_diagnostics_tool.questions").length - 1) %></p>
      <% end %>

      <%= f.form_row do %>
        <fieldset>
          <legend><%= question[:text] %></legend>

          <% question[:responses].each do |response| %>
            <label>
              <%= f.radio_button(question[:label], response[:value]) %>
              <%= response[:text] %>
            </label>
          <% end %>
        </fieldset>
      <% end %>
    </div>
  <% end %>

  <%= f.submit t("c19_diagnostics_tool.controls.submit_label") %>
<% end %>
