<% set_meta_tags(title:       t('c19_diagnostics_tool.meta.title'),
                 description: t('c19_diagnostics_tool.meta.description'),
                 canonical:   t('c19_diagnostics_tool.meta.canonical'),
                 alternate:   t('c19_diagnostics_tool.meta.alternate')) %>

<h1><%= t("c19_diagnostics_tool.heading") %></h1>

<p><%= t("c19_diagnostics_tool.subheading") %></p>

<%= form_for @model, 
  url:c19_diagnostics_questionnaire_path, 
  builder: Dough::Forms::Builders::Validation do |f| 
%>
  <%= f.validation_summary %>

  <% @current_questions.each do |question| %>
    <div>
      <p><%= t("c19_diagnostics_tool.questions.#{question}.question") %></p>

      <fieldset>
        <legend><%= question %></legend>

        <% t("c19_diagnostics_tool.questions.#{question}.responses").each do |response| %>
          <label>
            <%= f.radio_button question, response[:value] %>
            <%= response[:text] %>
          </label>
        <% end %>
      </fieldset>

      <%= f.submit t("c19_diagnostics_tool.controls.submit_label") %>
    </div>
  <% end %>
<% end %>
