<% set_meta_tags(title:       t('c19_diagnostics_tool.meta.title'),
                 description: t('c19_diagnostics_tool.meta.description'),
                 canonical:   t('c19_diagnostics_tool.meta.canonical'),
                 alternate:   t('c19_diagnostics_tool.meta.alternate')) %>

<div class="l-container-tool">
  <main>
    <div class="l-c19_diagnostics">
      <h1 class="l-c19_diagnostics__heading"><%= t("c19_diagnostics_tool.heading") %></h1>

      <h2 class="l-c19_diagnostics__subheading"><%= t("c19_diagnostics_tool.subheading") %></h2>

      <%= form_for @model, 
        url:c19_diagnostics_questionnaire_path, 
        builder: Dough::Forms::Builders::Validation do |f| 
      %>
        <%= f.validation_summary %>

        <ul class="l-c19_diagnostics__questions" data-dough-component="MoneyNavigatorQuestions">
          <% t("c19_diagnostics_tool.questions").each_with_index do |question, index| %>
            <li class="l-c19_diagnostics__question">
              <% if index > 0 %>
                <p class="question__counter"><%= t("c19_diagnostics_tool.counter", number: index, total: t("c19_diagnostics_tool.questions").length - 1) %></p>
              <% end %>

              <div class="question__content">
                <fieldset>
                  <legend class="question__heading"><%= question[:text] %></legend>

                  <% if question[:explainer] %>
                    <p class="question__explainer"><%= question[:explainer] %></p>
                  <% end %>

                  <% question[:responses].each do |response| %>
                    <label class="question__response">
                      <% if question[:type] == 'radio' %>
                        <span class="response__control">
                          <%= f.radio_button question[:code], response[:code] %>
                        </span>

                        <span class="response__text">
                          <%= response[:text] %>
                        </span>
                      <% elsif question[:type] == 'checkbox' %>
                        <span class="response__control">
                          <%= f.check_box question[:code], {multiple: true}, response[:code], nil  %>
                        </span>

                        <span class="response__text">
                          <%= response[:text] %>
                        </span>
                      <% end %>
                    </label>
                  <% end %>
                </fieldset>

                <% if question[:note] %>
                  <p class="question__note"><%= question[:note] %></p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>

        <%= f.submit t("c19_diagnostics_tool.controls.submit_label"), class: 'button button--primary c19_diagnostics__button' %>
      <% end %>
    </div>
  </main>
</div>
