<%
  set_meta_tags(
    title: t('annuities.page_title'),
    description: t('annuities.meta_description'),
    canonical: 'https://www.moneyadviceservice.org.uk/en/tools/annuities',
    alternate: {
      'en-GB' => 'https://www.moneyadviceservice.org.uk/en/tools/annuities',
      'cy-GB' => 'https://www.moneyadviceservice.org.uk/cy/tools/annuities'
    }
  )
%>

<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
<% end %>

<main role="main" id="main">
  <div class="l-annuities__banner">
    <div class="l-constrained">
      <h1 class="l-annuities__heading"><%= t('annuities.page_heading') %></h1>

      <div class="l-annuities__banner-left">
        <div class="video-wrapper">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/kx7yDgXYVbE" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="l-annuities__video-caption"><%= t('annuities.video_caption') %> (<a href="<%= t('annuities.video_transcript_link') %>"><%= t('annuities.video_transcript') %></a>)</p>
      </div>

      <div class="l-annuities__banner-right">
        <ul class="l-annuities__list list">
          <% t('annuities.cta.list').each do |item| %>
          <li><%= item[:text] %></li>
          <% end %>
        </ul>

        <a href="<%= t('annuities.cta.button_link') %>" class="button button--primary"><%= t('annuities.cta.button') %></a>
        <p><%= t('annuities.cta.retrieve_quote_html') %></p>
      </div>
    </div>
  </div>

  <div class="l-constrained">
    <div class="l-2col-even">
      <h2><%= t('annuities.section_one.heading_one') %></h2>
      <p class="l-annuities__intro"><%= t('annuities.section_one.content.intro') %></p>
      <p><%= t('annuities.section_one.content.text').html_safe %></p>
      <h2><%= t('annuities.section_one.heading_two') %></h2>
      <ul class="list">
        <%= t('annuities.section_one.list_html') %>
      </ul>
    </div>

    <div class="l-2col-even">
      <%= image_tag('annuities/annuities-shopping-around-image.png', class: 'l-annuities__image') %>
    </div>

    <div class="l-1col l-annuities__panel">
      <h2 class="l-annuities__heading l-annuities__small-heading"><%= t('annuities.section_two.heading') %></h2>

      <% t('annuities.section_two.content').each do |item| %>
      <p class="l-3col-even"><%= raw item[:text] %></p>
      <% end %>
    </div>

    <div class="l-2col-even">
      <h2 class="l-annuities__small-heading"><%= t('annuities.section_three.heading') %></h2>
      <ul class="unstyled-list">
        <% t('annuities.section_three.list').each do |item| %>
        <li><a href="<%= item[:url] %>"><%= item[:text] %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="l-2col-even">
      <h2 class="l-annuities__small-heading"><%= t('annuities.section_four.heading') %></h2>
      <ul class="list-benefits">
        <% t('annuities.section_four.list').each do |item| %>
        <li><%= item[:text] %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="l-constrained">
    <div class="l-1col l-annuities-logos">
      <h4><%= t('annuities.partners.heading') %></h4>

      <ul class="unstyled-list l-annuities-logos__list">
        <li><%= image_tag('annuities/provider_logos/aviva@2x.png', alt: 'Aviva', class: 'l-annuities-logos__image--aviva') %></li>
        <li><%= image_tag('annuities/provider_logos/canada-life@2x.png', alt: 'Canada Life', class: 'l-annuities-logos__image--canada-life') %></li>
        <li><%= image_tag('annuities/provider_logos/hodge-lifetime@2x.png', alt: 'Hodge Lifetime', class: 'l-annuities-logos__image--hodge-lifetime') %></li>
        <li><%= image_tag('annuities/provider_logos/just-retirement@2x.png', alt: 'Just Retirement', class: 'l-annuities-logos__image--just-retirement') %></li>
        <li><%= image_tag('annuities/provider_logos/legal-general@2x.png', alt: 'Legal and General', class: 'l-annuities-logos__image--legal-general') %></li>
        <li><%= image_tag('annuities/provider_logos/retirement-advantage@2x.png', alt: 'Retirement Advantage', class: 'l-annuities-logos__image--retirement-advantage') %></li>
        <li><%= image_tag('annuities/provider_logos/saga@2x.png', alt: 'Saga', class: 'l-annuities-logos__image--saga') %>
        <li><%= image_tag('annuities/provider_logos/scottish-widows@2x.png', alt: 'Scottish Widows', class: 'l-annuities-logos__image--scottish-widows') %></li>
      </ul>
    </div>
  </div>
</main>
