<div class="pagination">
  <% unless search_results.first_page? %>
    <%= link_to search_results_path(query: params[:query], page: search_results.previous_page), class: 'button button--compact t-button--previous' do %>
      <span class="icon icon--left-chevron"></span>
      <span class="button--compact__text"><%= t('search_results.index_with_results.prev_button_html')%></span>
    <% end %>
  <% end %>

  <p class="pagination__counter">
    <%= t('search_results.index_with_results.pagination_counter', page_number: search_results.page, total_pages: search_results.number_of_pages) %>
  </p>

  <% unless search_results.last_page? %>
    <%= link_to search_results_path(query: params[:query], page: search_results.next_page), class: 'button button--compact t-button--next' do %>
      <span class="button--compact__text"><%= t('search_results.index_with_results.next_button_html')%></span>
      <span class="icon icon--right-chevron"></span>
    <% end %>
  <% end %>
</div>
