<div class="l-search-results">
  <main>
    <% if params[:query].present? %>
      <h1><%= t('.title') %> "<%= params[:query] %>"</h1>

      <% if search_results.present? %>
        <% search_results.each do |result| %>
          <article class="search-results__item">
            <h2><%= result.title %></h2>
            <p><%= result.description %></p>
          </article>
        <% end %>
      <% else %>
        <p><%= t('.no_results.title') %></p>
        <p><%= t('.no_results.body') %></p>
      <% end %>
    <% else %>
      <h1><%= t('.no_query.title') %></h1>
      <p>
        <%= t('.no_query.body') %>
      </p>
    <% end %>
  </main>
</div>
