<% set_meta_tags(title:  t('.document_title', query: params[:query]),
                 robots: 'noindex') %>

<div class="l-main">
  <main role="main">
    <h1><%= t('.page_title', query: params[:query]) %></h1>

    <div class="l-search-results">
      <%= render 'shared/search', search_in_page_header: false %>
      <ol class="search-results">
        <%= render partial: 'search_result', collection: search_results.items %>
      </ol>
      <%= render 'pagination', search_results: search_results %>
    </div>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>
