<% set_meta_tags(title:       t('money_navigator_tool.meta.title'),
                 description: t('money_navigator_tool.meta.description'),
                 canonical:   t('money_navigator_tool.meta.canonical'),
                 alternate:   t('money_navigator_tool.meta.alternate')) %>

<div class="l-container-tool">
	<main>
		<div class="l-money_navigator-landing">
			<section class="landing__intro">
				<h1 class="l-money_navigator__heading landing__section-heading"><%= t("money_navigator_tool.landing.intro.heading") %></h1>

				<h2 class="l-money_navigator__subheading"><%= t("money_navigator_tool.landing.intro.subheading") %></h2>

				<% t("money_navigator_tool.landing.intro.text.paras").each do |para| %>
					<p><%= para %></p>
				<% end %>
			</section>

			<section class="landing__who-help">
				<h3 class="landing__section-heading"><%= t("money_navigator_tool.landing.who-help.heading") %></h2>

				<ul class="list">
					<% t("money_navigator_tool.landing.who-help.bullets").each do |bullet| %>
						<li><%= bullet %></li>
					<% end %>
				</ul>
			</section>

			<section class="landing__how-help">
				<h3 class="landing__section-heading"><%= t("money_navigator_tool.landing.how-help.heading") %></h2>

				<% t("money_navigator_tool.landing.how-help.paras").each do |para| %>
					<p><%= para %></p>
				<% end %>

				<ul class="list">
					<% t("money_navigator_tool.landing.how-help.bullets").each do |bullet| %>
						<li><%= bullet %></li>
					<% end %>
				</ul>

				<div class="landing__actions">
					<a href="/en/tools/money-navigator-tool/questionnaire" class="button button--start">
						<%= t("money_navigator_tool.landing.how-help.cta") %>
					</a>
				</div>
			</section>

			<section class="landing__crisis-help">
				<div class="callout callout--tool">
					<span class="callout__icon" aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon callout__tool-icon" role="presentation">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--tool"></use>
						</svg>
					</span>

					<h3><%= t("money_navigator_tool.landing.crisis-help.heading") %></h3>

					<p>
						<%= t("money_navigator_tool.landing.crisis-help.text") %>
						<a href="/en/tools/debt-advice-locator" class="crisis-help__cta"><%= t("money_navigator_tool.landing.crisis-help.cta") %></a>
					</p>
				</div>
			</section>

			<section class="landing__supporting-partners">
				<h3 class="landing__section-heading"><%= t("money_navigator_tool.landing.supporting-partners.heading") %></h2>

				<p><%= t("money_navigator_tool.landing.supporting-partners.text") %></p>

				<ul class="supporting-partners__list">
					<% t("money_navigator_tool.landing.supporting-partners.partners").each do |partner| %>
						<li class="supporting-partners__listitem">
							<span class="listitem__content listitem__<%= partner.parameterize.underscore %>">
								<span class="visually-hidden"><%= partner %></span>
							</span>
						</li>
					<% end %>
				</ul>
			</section>
		</div>
	</main>
</div>
