<% set_meta_tags(title:       t('money_navigator_tool.meta.title'),
                 description: t('money_navigator_tool.meta.description'),
                 canonical:   t('money_navigator_tool.meta.canonical'),
                 alternate:   t('money_navigator_tool.meta.alternate')) %>

<div class="l-container-tool">
	<main>
		<div class="l-money_navigator-results">
			<h1><%= t("money_navigator_tool.results.heading") %></h1>

			<p class="results__intro"><%= t("money_navigator_tool.results.intro") %></p>

      <% @results.select {|res| res[:section_code] == 'S1'}.each do |section| %>
        <section class="results__urgent-actions">
          <div class="urgent-actions__content">
            <h2 class="urgent-actions__heading"><%= t('money_navigator_tool.results.S1.title') %></h2>

            <ul class="urgent-actions__actions">
              <% section[:headings].each do |heading| %>
<!--                 <li class="urgent-actions__action <%= heading[:content][:url].html_safe %>">
                  <%= heading[:content][:html].html_safe %>
                </li>
 -->              <% end %>
<!-- Hard-coded content to work on styling -->
<li class="urgent-actions__action coronavirus-debt-advice-england">
	<p><strong>It looks like you really need to get some help.​</strong></p>

	<div class="callout callout--tool">
		<span class="callout__icon">
			<svg class="callout__tool-icon" role="presentation" viewBox="0 0 100 100">
				<use xlink:href="#svg-icon--tool"></use>
			</svg>
		</span>

		<p>Get free debt advice now <span class="NormalTextRun SCXP17572134 BCX0">with our </span><a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">debt advice locator tool</a>.​</p>

		<p>You can talk to someone <span class="TextRun SCXP17572134 BCX0"><span class="NormalTextRun SCXP17572134 BCX0">in confidence today online </span></span><span class="TextRun SCXP17572134 BCX0"><span class="NormalTextRun SCXP17572134 BCX0">or over the phone</span></span></p>
	</div>

	<p>Find free, confidential support in a way that’s best for you with our <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">debt advice locator tool</a>.​</p>

	<p>Specially trained advisers can help you start sorting out your financial problems today.</p>
</li>

<li class="urgent-actions__action coronavirus-debt-advice-ni">
	<p><strong>It looks like you really need to get some help.​</strong></p>

	<div class="callout callout--tool">
		<span class="callout__icon">
			<svg class="callout__tool-icon" role="presentation" viewBox="0 0 100 100">
				<use xlink:href="#svg-icon--tool"></use>
			</svg>
		</span>

		<p>Get free debt advice now with our <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">debt advice locator tool</a></p>

		<p>You can talk to someone in confidence today online <span class="NormalTextRun SCXP70710647 BCX0">or over the phone</span></p>
	</div>

	<p>Find free, confidential support in a way that’s best for you with our <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">debt advice locator tool</a><a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">.</a>​</p>

	<p>Specially trained advisers can help you start sorting out your financial problems today.</p>

	<p>You can also go direct to:</p>

	<p><img src="https://masassets.blob.core.windows.net/cms/files/000/001/190/original/advice_ni_logo.png" alt="Advice NI logo"></p>

	<p><a href="https://www.adviceni.net/advice/debt" target="_blank">Advice NI</a></p>

	<p>Tel: <strong>0800 915 460</strong> (10am-4pm Mon-Fri)</p>

	<p>Text “Action” to 81025 and an adviser will call you back.</p>

	<p>Email: <a href="mailto:advice@adviceni.net">advice@adviceni.net</a></p>

	<p><a href="https://www.adviceni.net/advice/debt" target="_blank">Webchat</a><span class="visually-hidden">opens in new window</span></p>
</li>

<li class="urgent-actions__action coronavirus-debt-advice-scotland">
	<p><strong>It looks like you really need to get some help.​</strong></p>

	<div class="callout callout--tool">
		<span class="callout__icon">
			<svg class="callout__tool-icon" role="presentation" viewBox="0 0 100 100">
				<use xlink:href="#svg-icon--tool"></use>
			</svg>
		</span>

		<p>Get free debt advice now with our <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">debt advice locator tool</a>.</p>

		<p>You can talk to someone in confidence today online or over the phone</p>
	</div>

	<p>Find free, confidential support in a way that’s best for you with our <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">debt advice locator tool</a>.</p>

	<p>Specially trained advisers can help you start sorting out your financial problems today.</p>

	<p>You can also go direct to:</p>

	<p><img src="https://masassets.blob.core.windows.net/cms/files/000/001/194/original/AiB_logo_adapt.png" alt="Accountant in Bankruptcy (AiB) logo"></p>

	<p><a href="https://www.aib.gov.uk/debt-arrangement-scheme" target="_blank">Account in Bankruptcy (AiB)</a><span class="visually-hidden">opens in new window</span></p>

	<p>Tel: <strong>0300 200 2600</strong> Mon-Fri 9am-4:30pm</p>
</li>

<li class="urgent-actions__action coronavirus-debt-advice-wales">
	<p><strong>It looks like you really need to get some help.​</strong></p>

	<div class="callout callout--tool">
		<span class="callout__icon">
			<svg class="callout__tool-icon" role="presentation" viewBox="0 0 100 100">
				<use xlink:href="#svg-icon--tool"></use>
			</svg>
		</span>

		<p>Get free debt advice now with our <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">debt advice locator tool</a>.</p>

		<p>You can talk to someone in confidence today online or over the phone</p>
	</div>

	<p>Find free, confidential support in a way that’s best for you with our debt advice locator tool.</p>

	<p>Specially trained advisers can help you start sorting out your financial problems today.</p>

	<p>You can also go direct to:</p>

	<p>
		<img src="https://masassets.blob.core.windows.net/cms/files/000/001/191/original/M_G0036_LP_logos_v1-01.png" alt="Citizens Advice logo">
		<br />
		<strong>Citizens Advice Cymru</strong>
		<br />
		<a href="https://edit.citizensadvice.org.uk/about-us/how-we-provide-advice/advice-partnerships/advicelink-cymru/" target="_blank">Advicelink Cymru Project</a>
		<br />
		Tel: <strong>03444 77 20 20</strong>
	</p>

	<p>
		<img src="https://masassets.blob.core.windows.net/cms/files/000/001/192/original/M_G0036_LP_logos_v1-02.png" alt="National Debtline logo">
		<br />
		<strong>National Debtline</strong>
		<br />
		<a href="www.nationaldebtline.org" target="_blank">National Debtline</a>
		<br />
		Tel: <strong>0808 808 4000</strong> Mon-Fri 9am-8pm
	</p>

	<p>
		<img src="https://masassets.blob.core.windows.net/cms/files/000/001/193/original/M_G0036_LP_logos_v1-03.png" alt="StepChange logo">
		<br />
		<strong>StepChange</strong>
		<br />
		<a href="https://www.stepchange.org/?utm_source=mas&amp;utm_medium=referral&amp;utm_campaign=wales" target="_blank">StepChange</a>
		<br />
		Tel: <strong>0113 138 1111</strong> Mon-Fri 8am-8pm, Sat 8am-4pm
	</p>
</li>

<li class="urgent-actions__action coronavirus-stepchange-debt-england">
	<p><strong>Based on your answers we think you may qualify for the StepChange covid payment plan.​</strong></p>

	<p>It's the easy way to manage your coronavirus debts in one affordable payment.​ Find out if you can start a plan today.</p>

	<p><img src="https://masassets.blob.core.windows.net/cms/files/000/001/193/original/M_G0036_LP_logos_v1-03.png" alt="StepChange logo"></p>
</li>

<li class="urgent-actions__action coronavirus-self-employed-debt-advice">
	<p><strong>It looks like you really need to get some help.</strong></p>

	<p>Find free, confidential support with <a href="https://www.businessdebtline.org" target="_blank">Business Debtline</a>.​</p>

	<p><img src="https://masassets.blob.core.windows.net/cms/files/000/001/195/original/M_G0036_LP_logos_v1-04.png" alt="Business Debtline"></p>

	<p>Their money advisers are specially trained in self-employed debt and can help you start sorting out your financial problems today.</p>

	<p><a href="https://www.businessdebtline.org" target="_blank">Business Debtline</a></p>

	<p>Tel: <strong>0800 197 6026</strong> 9am-8pm Mon-Fri</p>

	<p><a href="https://www.businessdebtline.org/" target="_blank">Webchat</a><span class="visually-hidden">opens in new window</span></p>
</li>

<li class="urgent-actions__action coronavirus-self-employed-debt-advice-ni">
	<p><strong>It looks like you really need to get some help.​​</strong></p>

	<p>Find free, confidential support with <a href="https://www.adviceni.net/advice/debt" target="_blank">Advice NI</a>.​</p>

	<p><img src="https://masassets.blob.core.windows.net/cms/files/000/001/190/original/advice_ni_logo.png" alt="Advice NI logo"></p>

	<p>​Their money advisers are specially trained in self-employed debt and can help you start sorting out your financial problems today.</p>

	<p><a href="https://www.adviceni.net/advice/debt" target="_blank">Advice NI</a></p>

	<p>Tel: <strong>0800 915 460</strong> 10am-4pm Mon-Fri</p>

	<p>Text “Action” to 81025 and an adviser will call you back.</p>

	<p>Email: <a href="mailto:advice@adviceni.net">advice@adviceni.net</a></p>

	<p><a href="https://www.adviceni.net/advice/debt" target="_blank">Webchat</a><span class="visually-hidden">opens in new window</span></p>
</li>

<li class="urgent-actions__action urgent-pension-advice">
	<p><strong>Taking money out of your pension now could have a long-term impact on your financial wellbeing in<span class="TextRun SCXP165007323 BCX0"><span class="NormalTextRun SCXP165007323 BCX0"> retirement.</span></span><span class="EOP SCXP165007323 BCX0">​</span></strong></p>

	<p><img src="https://masassets.blob.core.windows.net/cms/files/000/001/196/original/tpas_pensions.png" alt="The Pensions Advisory Service TPAS logo"></p>

	<p>Before you do anything, speak to one of our pension specialists for free guidance today on <strong>0800 138 1677</strong> (9am-5pm, Mon-Fri) or <a href="https://www.pensionsadvisoryservice.org.uk/TPASChat?_ga=2.233211612.314660156.1590502661-1972765722.1553777825" target="_blank">start a web chat.</a><span class="visually-hidden">opens in new window</span>.</p>
</li>
<!-- Hard-coded content to work on styling -->

            </ul>
          </div>
        </section>
      <% end %>

			<section class="results__sections" data-dough-component="MoneyNavigatorResults">
				<ul class="sections__sections">
          <% @results.reject {|res| res[:section_code] == 'S1'}.each do |result| %>
						<li class="sections__section" data-section>
							<h3 class="section__title" data-section-title>
								<button class="mntreshead">
									<span class="section__title__text">
										<%= t("money_navigator_tool.results.#{result[:section_code]}.title") %>
									</span>
								</button>
							</h3>

							<div class="section__content">
								<% if I18n.exists?("money_navigator_tool.results.#{result[:section_code]}.subtitle") %>
									<h4 class="section__subtitle"><%= t("money_navigator_tool.results.#{result[:section_code]}.subtitle") %></h4>
								<% end %>

								<ul class="sections__headings">
									<% result[:headings].each do |heading| %>
										<li class="sections__heading" data-heading>
											<button class="mntresult">
												<h5 class="heading__title" data-heading-title>
													<%= t("money_navigator_tool.results.#{result[:section_code]}.#{heading[:heading_code]}") %>
												</h5>
											</button>

											<div class="heading__content mntpanel" data-heading-content>
												<h2 class="heading__content__title">
													<%= t("money_navigator_tool.results.#{result[:section_code]}.#{heading[:heading_code]}") %>
												</h2>

												<%= heading[:content][:html].html_safe %>

												<a data-overlay-hide class="overlay__hide" href="#" role="button">
													<%= t('mobile_nav.close') %>
													<%= render 'shared/svg/use_icon', 
														icon: 'mobile-close-box', 
														class_name: 'overlay__hide__icon mntpanelclose' 
													%>
												</a>
											</div>
										</li>
									<% end %>
								</ul>
							</div>
						</li>
					<% end %>
				</ul>

				<div class="results__sections__overlay is-hidden" data-overlay></div>
			</section>

			<section class="results__actions">
				<%= link_to('/en/tools/money-navigator-tool/questionnaire', class: 'button button--restart') do %>
					Re-start the diagnostic
				<% end %>
			</section>
		</div>
	</main>
</div>
