<% set_meta_tags(title:       t('money_navigator_tool.meta.title'),
                 description: t('money_navigator_tool.meta.description'),
                 canonical:   t('money_navigator_tool.meta.canonical'),
                 alternate:   t('money_navigator_tool.meta.alternate')) %>

<div class="l-container-tool">
	<main>
		<div class="l-money_navigator-results">
			<h1><%= t("money_navigator_tool.results.heading") %></h1>

			<p class="results__intro"><%= t("money_navigator_tool.results.intro") %></p>

      <% @results.select {|res| res[:section_code] == 'S1'}.each do |section| %>
        <section class="results__urgent-actions">
          <div class="urgent-actions__content">
            <h2 class="urgent-actions__heading"><%= t('money_navigator_tool.results.S1.title') %></h2>

            <ul class="urgent-actions__actions">
              <% section[:headings].each do |heading| %>
                 <li class="urgent-actions__action <%= heading[:content][:url].html_safe %>">
                  <div class="action__content"><%= heading[:content][:html].html_safe %></div>
                </li>
              <% end %>
            </ul>
          </div>
        </section>
      <% end %>

			<section class="results__sections" data-dough-component="MoneyNavigatorResults">
				<ul class="sections__sections">
          <% @results.reject {|res| res[:section_code] == 'S1'}.each do |result| %>
						<li class="sections__section" data-section>
							<h3 class="section__title" data-section-title>
								<button class="mntreshead">
									<span class="section__title__text">
										<%= t("money_navigator_tool.results.#{result[:section_code]}.title") %>
									</span>
								</button>
							</h3>

							<div class="section__content">
								<% if I18n.exists?("money_navigator_tool.results.#{result[:section_code]}.subtitle") %>
									<h4 class="section__subtitle"><%= t("money_navigator_tool.results.#{result[:section_code]}.subtitle") %></h4>
								<% end %>

								<ul class="sections__headings">
									<% result[:headings].each do |heading| %>
										<li class="sections__heading" data-heading>
											<button class="mntresult">
												<h5 class="heading__title" data-heading-title>
													<%= t("money_navigator_tool.results.#{result[:section_code]}.#{heading[:heading_code]}") %>
												</h5>
											</button>

											<div class="heading__content mntpanel" data-heading-content>
												<h2 class="heading__content__title">
													<%= t("money_navigator_tool.results.#{result[:section_code]}.#{heading[:heading_code]}") %>
												</h2>

												<%= heading[:content][:html].html_safe %>

												<a data-overlay-hide class="overlay__hide" href="#" role="button">
													<%= t('mobile_nav.close') %>
													<%= render 'shared/svg/use_icon', 
														icon: 'mobile-close-box', 
														class_name: 'overlay__hide__icon mntpanelclose' 
													%>
												</a>
											</div>
										</li>
									<% end %>
								</ul>
							</div>
						</li>
					<% end %>
				</ul>

				<div class="results__actions">
					<%= link_to('/en/tools/money-navigator-tool/questionnaire', class: 'button button--restart') do %>
						Re-start the diagnostic
					<% end %>
				</div>

				<div class="results__sections__overlay is-hidden" data-overlay></div>
			</section>
		</div>
	</main>
</div>
