<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.title') %>
        </h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/five-years-out.png", alt: t('pension_savings_timeline.thinking_about_retirement_five_years_out.image_alt') %>
        </div>
        <p class="graphic-info-box__copy">
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.text') %>
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_a_state_pension_forecast.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_a_state_pension_forecast.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_a_state_pension_forecast.link'), t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_a_state_pension_forecast.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.finding_lost_pension_pots.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.finding_lost_pension_pots.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.thinking_about_retirement_five_years_out.finding_lost_pension_pots.link'), t('pension_savings_timeline.thinking_about_retirement_five_years_out.finding_lost_pension_pots.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.reviewing_your_pension_investments.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.reviewing_your_pension_investments.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.thinking_about_retirement_five_years_out.reviewing_your_pension_investments.link'), t('pension_savings_timeline.thinking_about_retirement_five_years_out.reviewing_your_pension_investments.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.estimating_your_retirement_income.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.estimating_your_retirement_income.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.thinking_about_retirement_five_years_out.estimating_your_retirement_income.link'), t('pension_savings_timeline.thinking_about_retirement_five_years_out.estimating_your_retirement_income.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_free_guidance.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_free_guidance.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_free_guidance.link'), t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_free_guidance.link') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_financial_advice.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_financial_advice.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_free_guidance.link'), t('pension_savings_timeline.thinking_about_retirement_five_years_out.getting_free_guidance.url') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
