<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">
          <%= t('pension_savings_timeline.managing_money_in_retirement.title') %>
        </h2>
          <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/in-retirement@2x.png", alt: t('pension_savings_timeline.managing_money_in_retirement.image_alt') %>
        </div>
        <p class="graphic-info-box__copy">
          <%= t('pension_savings_timeline.managing_money_in_retirement.text') %>
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.managing_money_in_retirement.managing_your_money_day_to_day.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.managing_money_in_retirement.managing_your_money_day_to_day.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.managing_money_in_retirement.managing_your_money_day_to_day.link'), t('pension_savings_timeline.managing_money_in_retirement.managing_your_money_day_to_day.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_pension_investments.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_pension_investments.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_pension_investments.link'), t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_pension_investments.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.managing_money_in_retirement.planning_for_long_term_healthcare_needs.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.managing_money_in_retirement.planning_for_long_term_healthcare_needs.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.managing_money_in_retirement.planning_for_long_term_healthcare_needs.link'), t('pension_savings_timeline.managing_money_in_retirement.planning_for_long_term_healthcare_needs.url')%>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.managing_money_in_retirement.appointing_a_power_of_attorney.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.managing_money_in_retirement.appointing_a_power_of_attorney.text') %>
          </p>
          <p>
          <%= link_to t('pension_savings_timeline.managing_money_in_retirement.appointing_a_power_of_attorney.link'), t('pension_savings_timeline.managing_money_in_retirement.appointing_a_power_of_attorney.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_will.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_will.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_will.link'), t('pension_savings_timeline.managing_money_in_retirement.reviewing_your_will.url') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
