<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">
          <%= t('pension_savings_timeline.moving_into_retirement.title')  %>
        </h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/moving-into-retirement@2x.png", alt: t('pension_savings_timeline.moving_into_retirement.image_alt')  %>
        </div>
        <p class="graphic-info-box__copy">
          <%= t('pension_savings_timeline.moving_into_retirement.text')  %>
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.getting_retirement_income_quotes.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.getting_retirement_income_quotes.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.getting_retirement_income_quotes.link'), t('pension_savings_timeline.moving_into_retirement.getting_retirement_income_quotes.url')  %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.making_sure_youll_have_enough_to_live_on.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.making_sure_youll_have_enough_to_live_on.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.making_sure_youll_have_enough_to_live_on.link'), t('pension_savings_timeline.moving_into_retirement.making_sure_youll_have_enough_to_live_on.url')  %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.understanding_what_tax_youll_pay.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.understanding_what_tax_youll_pay.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.understanding_what_tax_youll_pay.link'), t('pension_savings_timeline.moving_into_retirement.understanding_what_tax_youll_pay.url')  %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.checking_your_benefits.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.checking_your_benefits.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.checking_your_benefits.link'), t('pension_savings_timeline.moving_into_retirement.checking_your_benefits.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.creating_a_retirement_budget.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.creating_a_retirement_budget.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.creating_a_retirement_budget.link'), t('pension_savings_timeline.moving_into_retirement.creating_a_retirement_budget.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.getting_free_guidance.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.getting_free_guidance.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.getting_free_guidance.link'), t('pension_savings_timeline.moving_into_retirement.getting_free_guidance.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.shopping_around_for_annuities.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.shopping_around_for_annuities.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.shopping_around_for_annuities.link'), t('pension_savings_timeline.moving_into_retirement.shopping_around_for_annuities.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.moving_into_retirement.getting_financial_advice.title')  %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.moving_into_retirement.getting_financial_advice.text')  %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.moving_into_retirement.shopping_around_for_annuities.link'), t('pension_savings_timeline.moving_into_retirement.shopping_around_for_annuities.url') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
