<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">
          <%= t('pension_savings_timeline.throughout_working_life.title') %>
        </h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/in-working-life@2x.png", alt: '' %>
        </div>
        <p class="graphic-info-box__copy">
          <%= t('pension_savings_timeline.throughout_working_life.intro_text') %>
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.throughout_working_life.monitoring_your_pension_investments.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.throughout_working_life.monitoring_your_pension_investments.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.throughout_working_life.monitoring_your_pension_investments.link'), t('pension_savings_timeline.throughout_working_life.monitoring_your_pension_investments.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.throughout_working_life.saving_more_into_your_pension.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.throughout_working_life.saving_more_into_your_pension.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.throughout_working_life.saving_more_into_your_pension.link'), t('pension_savings_timeline.throughout_working_life.saving_more_into_your_pension.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.throughout_working_life.managing_your_debt.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.throughout_working_life.managing_your_debt.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.throughout_working_life.managing_your_debt.link'), t('pension_savings_timeline.throughout_working_life.managing_your_debt.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>
            <%= t('pension_savings_timeline.throughout_working_life.managing_your_money.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.throughout_working_life.managing_your_money.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.throughout_working_life.managing_your_money.link'), t('pension_savings_timeline.throughout_working_life.managing_your_money.url') %>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>
            <%= t('pension_savings_timeline.throughout_working_life.getting_guidance_and_advice.title') %>
          </h3>
          <p>
            <%= t('pension_savings_timeline.throughout_working_life.getting_guidance_and_advice.text') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.throughout_working_life.getting_guidance_and_advice.link'), t('pension_savings_timeline.throughout_working_life.getting_guidance_and_advice.url') %>
          </p>
          <p>
            <%= link_to t('pension_savings_timeline.throughout_working_life.getting_guidance_and_advice.link_two'), t('pension_savings_timeline.throughout_working_life.getting_guidance_and_advice.url_two') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
