<% set_meta_tags( title:       article.title,
                  description: article.description,
                  canonical:   article.canonical_url,
                  alternate:   article.alternate_options,
                  og: {
                    title:       article.title,
                    url:         article.canonical_url,
                    description: article.description,
                    type:        'article',
                    image:       article.social_share_image
                  },
                  twitter: {
                    card: "summary_large_image",
                    site: "@YourMoneyAdvice",
                    image: article.social_share_image
                  }
                ) %>

<% content_for(:context_bar) do %>
  <% if @breadcrumbs.present? %>
    <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  <% elsif article.categories.present? %>
    <%= render 'shared/related_categories', categories: article.categories %>
  <% end %>
<% end %>

<div
  class="l-article-3col-main editorial"
  data-dough-component="BackToTop"
  data-dough-back-to-top-config='{"i18nStrings": {"title":"<%= t('articles.nav.back_to_top') %>"}}'
>
  <div class="l-main__row">
    <main class="l-main__cell-full t-article-main-content" role="main" id="<%= 'main' if !default_main_content_location? %>" tabindex="-1">
      <%= heading_tag article.title %>

      <%= article.content %>

      <% if article.accepts_feedback? %>
        <%= render 'shared/on_page_feedback' %>
      <% end %>

      <%= social_sharing_icons url:            article.canonical_url,
                               title:          I18n.t("articles.sharing.title"),
                               label_facebook: I18n.t("articles.sharing.label_facebook"),
                               label_twitter:  I18n.t("articles.sharing.label_twitter"),
                               label_email:    I18n.t("articles.sharing.label_email"),
                               text:           article.title %>

      <%= render 'previous_and_next' %>

      <div class='related-links--mobile'>
        <%= render 'articles/related_articles', type: 'mobile' %>
      </div>

      <%= render 'shared/more_in', article: @article, categories: related_content %>

      <%= render 'shared/feedback', article: article %>
    </main>
  </div>
</div>

<div class="l-nav l-article-3col-right">
  <div class='related-links--desktop' data-dough-component="StickyColumn">
    <%= render 'articles/related_articles', type: 'desktop' %>
  </div>
</div>

<div class="l-article-3col-left">
  <%= render 'shared/nav',
             categories:        category_navigation,
             active_categories: active_categories
  %>
</div>

<% content_for(:alternate_link) do %>
  <% article.footer_alternate_options.each do |locale, url| %>
    <%= link_to(url, lang: locale, class: "t-#{locale}-link") do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
