<% set_meta_tags(description: article.description,
                 canonical:   article.canonical_url,
                 alternate:   article.alternate_options) %>

<% content_for(:context_bar) do %>
  <% if @breadcrumbs.present? %>
    <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  <% elsif article.categories.present? %>
    <%= render 'shared/related_categories', categories: article.categories %>
  <% end %>
<% end %>

<div class="l-main editorial">
  <main role="main">
    <h1><%= title article.title %></h1>

    <%= article.content %>

    <%= render 'shared/related_links', categories: related_content %>
  </main>
</div>

<div class="l-nav">
  <%=
    render 'shared/nav',
      categories: category_navigation,
      active_categories: active_categories
  %>
</div>

<% content_for(:alternate_link) do %>
  <% article.footer_alternate_options.each do |locale, url| %>
    <%= link_to(url, id: "#{locale}Link", lang: locale) do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
