<% set_meta_tags(description: article.description,
                 canonical:   article.canonical_url,
                 alternate:   article.alternate_options) %>

<% content_for(:context_bar) do %>
  <% if breadcrumb_trails.size == 1 %>
    <%= render 'shared/breadcrumbs', breadcrumbs: breadcrumb_trails.first %>
  <% elsif article.parent_categories.present? %>
    <%= render 'shared/related_categories', categories: article.parent_categories %>
  <% end %>
<% end %>

<div class="l-article editorial">
  <div class="l-article-intro">
    <h1><%= title article.title %></h1>

    <p class="intro">
      <%= article.intro %>
    </p>
  </div>

  <div class="l-article-main">
    <%= article.content %>
  </div>

  <%= render 'shared/related_links', categories: article.related_categories %>
</div>

<% content_for(:alternate_link) do %>
  <% article.footer_alternate_options.each do |locale, url| %>
    <%= link_to(url, id: "#{locale}Link", lang: locale) do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
