<div class="sidebar">
  <div class="panel">
    <h2 class="heading-extra-small"><%= t('contact_page.panel_heading') %></h2>
    <%= t('contact_page.panel_content_html') %>
  </div>

  <% t('contact_page.secondary_details').each do |detail| %>
    <h2 class="heading-extra-small"><%= detail[:heading] %></h2>
    <%= raw detail[:content_html] %>
  <% end %>

  <div class="sidebar__smallprint">
    <%= t('contact_page.smallprint_html') %>
  </div>
</div>
