<% set_meta_tags(title:     t('site_map.meta.title'),
                 canonical: t('site_map.meta.canonical')) %>

<h1><%= t('footer.site_map') %></h1>

<% category_navigation.each do |first_nav| %>
  <h2><%= link_to first_nav.title, first_nav.path %></h2>

  <% if first_nav.object.has_children? %>
    <ul>
      <% first_nav.object.children.each do |second_nav| %>
        <li>
          <%= link_to second_nav.content.title, second_nav.content.path  %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if Feature.active?(:corporate) %>
  <% corporate_category_navigation.each do |first_nav| %>
    <h2><%= first_nav.title %></h2>

    <% if first_nav.object.has_children? %>
      <ul>
        <% first_nav.object.children.each do |second_nav| %>
          <li>
            <%= link_to second_nav.content.title, second_nav.content.path  %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
