<main role="main" class="l-registration">
  <h1>Change your password</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, :class => 'form' }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password do %>
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        <% end %>
      </div>
    </div>


    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password_confirmation do %>
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.submit "Change my password", class: 'button button--primary' %>
      </div>
    </div>
  <% end %>

  <div class="registration__links">
    <%= render "devise/shared/links" %>
  </div>
</main>
