<main role="main" class="l-registration">
  <h1>Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'form' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :email do %>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.submit "Send me reset password instructions", class: 'button button--primary' %>
      </div>
    </div>
  <% end %>

  <div class="registration__links">
    <%= render "devise/shared/links" %>
  </div>
</main>
