<% set_meta_tags(canonical: t('authentication.reset_password_page.meta.canonical')) %>

<main role="main" class="l-registration">
  <h1><%= t("authentication.reset_password_page.title") %></h1>

  <p><%= t("authentication.reset_password_page.intro") %></p>

  <p><%= t("authentication.reset_password_page.instructions") %></p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :email do %>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        <% end %>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.submit t("authentication.reset_password_page.button_label"), class: 'button button--primary' %>
      </div>
    </div>
  <% end %>

  <div class="registration__links">
    <%= render "devise/shared/links" %>
  </div>
</main>
