<nav class="primaryNav">
  <ul class="primaryNav-list">
    <li><%= link_to 'Overview', styleguide_path %></li>

    <li><%= link_to 'HTML', html_styleguide_path %></li>

    <li class="has-subMenu">
      <%= link_to css_overview_styleguide_path do %>
        CSS
      <% end %>
      <ul class="primaryNav-subMenu">
        <li><%= link_to 'Overview', css_overview_styleguide_path %></li>
        <li><%= link_to 'Basic styles', css_basic_styleguide_path %></li>
        <li><%= link_to 'Article demo', css_article_demo_styleguide_path %></li>
        <li><%= link_to 'Default demo', css_default_styles_styleguide_path %></li>
      </ul>
    </li>

    <!--<li><%= link_to 'Forms', forms_styleguide_path %></li>-->

    <li><%= link_to 'Layouts', layouts_styleguide_path %></li>

    <li><%= link_to 'Components', components_styleguide_path %></li>

    <li class="has-subMenu">
      <%= link_to pages_styleguide_path do %>
        Pages
      <% end %>

      <ul class="primaryNav-subMenu">
        <li><%= link_to 'Homepage', pages_homepage_styleguide_path %></li>
        <li><%= link_to 'Error Page', pages_error_styleguide_path %></li>
        <li><%= link_to 'Article / Guide', pages_guide_styleguide_path %></li>
        <li><%= link_to 'Action Plan', pages_action_plan_styleguide_path %></li>
      </ul>
    </li>

    <li class="has-subMenu">
      <%= link_to sass_overview_styleguide_path do %>
        Sass
      <% end %>
      <ul class="primaryNav-subMenu">
        <li><%= link_to 'Overview', sass_overview_styleguide_path %></li>
        <li><%= link_to 'Variables', sass_variables_styleguide_path %></li>
      </ul>
    </li>

    <li><%= link_to 'JavaScript', javascript_styleguide_path %></li>

    <li><%= link_to 'Ruby', ruby_styleguide_path %></li>
  </ul>
</nav>
