<div class="styleguide-example" id="<%= section.id %>">
  <h3><%= section.name %> <em><%= section.filename %></em></h3>

  <div class="styleguide-description">
    <p><%= section.description %></p>

    <% unless section.modifiers.empty? %>
      <ul class="styleguide-modifiers">
        <%= render partial: 'modifier', collection: section.modifiers %>
      </ul>
    <% end %>
  </div>

  <div class="styleguide-element">
    <%= yield %>
  </div>

  <% unless section.modifiers.empty? %>
    <%= render partial:    'element',
               collection: section.modifiers,
               locals:     { source: yield } %>
  <% end %>

  <div class="styleguide-html">
    <%= html { yield } %>
  </div>
</div>
