<h1>Components</h1>

<%= styleguide_section sections['icons'] do %>
  <span class="icon $modifier_class">
    <span class="u-visuallyHidden">hidden text</span>
  </span>
<% end %>

<%= styleguide_section sections['socialLinks'] do %>
  <ul class="socialLinks">

      <li>
          <a href="">
            <span class="icon icon--youtube">
              <span class="u-visuallyHidden">YouTube</span>
            </span>
          </a>
      </li>

      <li>
          <a href="">
            <span class="icon icon--facebook">
              <span class="u-visuallyHidden">Facebook</span>
            </span>
          </a>
      </li>

      <li>
          <a href="">
            <span class="icon icon--twitter">
              <span class="u-visuallyHidden">Twitter</span>
            </span>
          </a>
      </li>

  </ul>
<% end %>

<%= styleguide_section sections['header'] do %>
  <header class="header">
      <div class="l-container">
        <%= image_tag('mas-logo.png' , :size => "240x40", :alt => "the Money Advice Service") %>
      </div>
  </header>
<% end %>

<%= styleguide_section sections['footerSiteLinks'] do %>
  <div class="footerSiteLinks">
      <div class="l-container">
        <ul class="siteLinks unstyledList">
            <li>
                <a class="specialLink" href="">Cymraeg</a>
            </li>
        </ul>
      </div>
  </div>
<% end %>

<%= styleguide_section sections['footerSocialLinks'] do %>
  <footer class="footerSocialLinks">
      <div class="l-container">

        <div class="l-splitStart">
            <a href="#">
          <span class="icon icon--masLogo">
              <span class="u-visuallyHidden">Money Advice Service</span>
          </span>
            </a>
        </div>

        <div class="l-splitEnd">
            <ul class="socialLinks">

                <li>
                    <a href="">
              <span class="icon icon--youtube">
                <span class="u-visuallyHidden">YouTube</span>
              </span>
                    </a>
                </li>

                <li>
                    <a href="">
              <span class="icon icon--facebook">
                <span class="u-visuallyHidden">Facebook</span>
              </span>
                    </a>
                </li>

                <li>
                    <a href="">
              <span class="icon icon--twitter">
                <span class="u-visuallyHidden">Twitter</span>
              </span>
                    </a>
                </li>

            </ul>
        </div>

      </div>
  </footer>
<% end %>