<h1>Common Components</h1>

<%= styleguide_section sections['icons'] do %>
  <span class="icon $modifier_class"></span>
  <span class="visually-hidden">hidden text</span>
<% end %>

<%= styleguide_section sections['buttons'] do %>
  <a href="#url" class="button $modifier_class">link</a>
  <button class="button $modifier_class">button</button>
  <input type="button" class="button $modifier_class" value="input"/>
<% end %>

<%= styleguide_section sections['Direction buttons'] do %>
  <button class="button button--compact">
    <span class="icon icon--left-chevron"></span>
    <span class="button--compact__text">Prev</span>
  </button>
  <button class="button button--compact">
    <span class="button--compact__text">Next</span>
    <span class="icon icon--right-chevron"></span>
  </button>
<% end %>

<%= styleguide_section sections['pagination'] do %>
  <%= render 'styleguide/pagination' %>
<% end %>

<%= styleguide_section sections['inset-block'] do %>
  <div class="inset-block">
    <div class="inset-block__content-container">
      <p class="inset-block__text">This tool is designed to give you an approximate
        idea of how much a lender might offer for a mortgage, and if you could
        afford it. Actual amounts and affordability criteria will differ
        across lenders</p>
    </div>
  </div>
<% end %>

<%= styleguide_section sections['validation-summary'] do %>
  <div class="validation-summary">
    <div class="validation-summary__content-container">
      <p class="validation-summary__title">
        2 errors
        prevented calculation:
      </p>
      <ol class="validation-summary__list">
        <li>
          <a href="#savings_goal-errors">Your savings goal can't be blank</a>
        </li>
        <li>
          <a href="#regular_deposit-errors">The amount you can save can't be blank</a>
        </li>
      </ol>
    </div>
  </div>
<% end %>

<%= styleguide_section sections['Call out'] do %>
  <%= render 'styleguide/shared/callout' %>
<% end %>

<%= styleguide_section sections['panel'] do %>
  <%= render 'styleguide/shared/panel' %>
<% end %>

<%= styleguide_section sections['Scrollable Table'] do %>
  <%= render 'styleguide/shared/table' %>
<% end %>
