<h1>Website-specific Components</h1>

<%= styleguide_section sections['related categories'] do %>
  <% render 'shared/related_categories', categories: @categories %>
<% end %>

<%= styleguide_section sections['related link'] do %>
  <%= render 'shared/related_links', categories: @categories %>
<% end %>

<%= styleguide_section sections['Opt out bar'] do %>
  <%= render 'shared/opt_out_bar' %>
<% end %>

<%= styleguide_section sections['Primary Navigation'] do %>
  <%= render 'shared/primary_nav' %>
<% end %>

<%= styleguide_section sections['Footer Site Links'] do %>
  <%= render 'shared/footer_site_links', locals: %w(en) %>
<% end %>

<%= styleguide_section sections['Social Links'] do %>
  <%= render 'shared/social_links' %>
<% end %>

<%= styleguide_section sections['Footer Social Links'] do %>
  <div class="l-footer">
    <%= render 'shared/footer_social_links' %>
  </div>
<% end %>
