<h1>Components</h1>

<%= styleguide_section sections['buttons'] do %>
  <a href="#url" class="button $modifier_class">link</a>
  <button class="button $modifier_class">button</button>
  <input type="button" class="button $modifier_class" value="input"/>
<% end %>

<%= styleguide_section sections['icons'] do %>
  <span class="icon $modifier_class" aria-hidden="true"></span>
  <span class="visually-hidden">hidden text</span>
<% end %>

<%= styleguide_section sections['Social Links'] do %>
  <%= render 'shared/social_links' %>
<% end %>

<%= styleguide_section sections['Website version toggle'] do %>
  <%= render 'shared/opt_out_bar' %>
<% end %>

<%= styleguide_section sections['header'] do %>
  <%= render 'shared/header' %>
<% end %>

<%= styleguide_section sections['Footer Site Links'] do %>
  <%= render 'shared/footer_site_links', locals: %w(en) %>
<% end %>

<%= styleguide_section sections['Footer Social Links'] do %>
  <%= render 'shared/footer_social_links' %>
<% end %>

<%= styleguide_section sections['Call out'] do %>
  <%= render 'styleguide/shared/callout' %>
<% end %>

<%= styleguide_section sections['Scrollable Table'] do %>
  <%= render 'styleguide/shared/table' %>
<% end %>

<%= styleguide_section sections['Website version toggle'] do %>
  <%= render 'shared/opt_out_bar' %>
<% end %>
