<h1>Components</h1>

<%= styleguide_section sections['icons'] do %>
  <span class="icon $modifier_class" aria-hidden="true"></span>
  <span class="u-visuallyHidden">hidden text</span>
<% end %>

<%= styleguide_section sections['socialLinks'] do %>
  <%= render 'shared/social_links' %>
<% end %>

<%= styleguide_section sections['header'] do %>
  <%= render 'shared/header' %>
<% end %>

<%= styleguide_section sections['footerSiteLinks'] do %>
  <%= render 'shared/footer_site_links', locals: %w(en) %>
<% end %>

<%= styleguide_section sections['footerSocialLinks'] do %>
  <%= render 'shared/footer_social_links' %>
<% end %>