<h1>Website-specific Components</h1>


<!-- Molecules -->
<%= styleguide_section sections['Mobile navigation'] do %>
  <%= render 'shared/mobile_nav' %>
<% end %>

<%= styleguide_section sections['Breadcrumbs'] do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<%= styleguide_section sections['related categories'] do %>
  <%= render 'shared/related_categories', categories: categories %>
<% end %>

<%= styleguide_section sections['related link'] do %>
  <%= render 'shared/related_links', categories: categories %>
<% end %>

<%= styleguide_section sections['link-list-primary'] do %>
  <%= render 'styleguide/shared/link_list_primary' %>
<% end %>

<%= styleguide_section sections['link-list-secondary'] do %>
  <%= render 'styleguide/shared/link_list_secondary' %>
<% end %>

<%= styleguide_section sections['Social Links'] do %>
  <%= render 'shared/social_links' %>
<% end %>

<!-- Organisms -->

<%= styleguide_section sections['Opt out bar'] do %>
  <%= render 'shared/opt_out_bar' %>
<% end %>

<%= styleguide_section sections['Trust banner'] do %>
  <%= render 'shared/trust_banner' %>
<% end %>

<%= styleguide_section sections['Directory'] do %>
  <%= render 'shared/directory',
             items: categories_for_directory_en %>
<% end %>

<%= styleguide_section sections['Promo'] do %>
  <%= render 'shared/promos', items: t('home.show.promoted') %>
<% end %>

<%= styleguide_section sections['Main navigation'] do %>
  <%= render 'shared/nav', categories: @categories_for_directory_en %>
<% end %>

<%= styleguide_section sections['Search'] do %>
  <%= render 'shared/search', search_in_page_header: true %>
<% end %>

<%= styleguide_section sections['contact'] do %>
  <%= render 'shared/contact' %>
<% end %>

<%= styleguide_section sections['Footer Site Links'] do %>
  <%= render 'shared/footer_site_links', locals: %w(en) %>
<% end %>

<%= styleguide_section sections['Footer Social Links'] do %>
  <div class="l-footer">
    <%= render 'shared/footer_social_links' %>
  </div>
<% end %>
