<h1>Basic markup and typographic styles</h1>

<h2>Headings</h2>
<%= styleguide_section sections['headings'] do %>
  <h1>Welcome to the Money Advice Service</h1>
  <h2>Make sure you can afford your monthly repayments before borrowing</h2>
  <h3>Budget for the other costs of buying a home (h3)</h3>
  <h4>Budget for the other costs of buying a home (h4)</h4>
  <h5>Budget for the other costs of buying a home (h5)</h5>
  <h6>Budget for the other costs of buying a home (h6)</h6>
<% end %>


<h2>Body copy</h2>
<%= styleguide_section sections['p'] do %>
  <p>The various assets owned by an investor is called a portfolio. As a general rule, spreading your money between the different types of asset
    classes helps lower the risk of your overall portfolio underperforming – more on this later.</p>
<% end %>

<%= styleguide_section sections['intro'] do %>
  <p class="intro">If your savings goal is more than five years away, putting some of your cash into investments could allow you to earn
    more from your money and keep up with rising prices.</p>
<% end %>

<%= styleguide_section sections['smallprint'] do %>
  <p class="smallprint">24th June 2014</p>
<% end %>


<h2>Links</h2>
<%= styleguide_section sections['a'] do %>
  <a class="$modifier_class" href="/homepage.html">This is a default link</a>
<% end %>


<h2>Lists</h2>
<%= styleguide_section sections['ol'] do %>
  <ol>
    <li>Free, unbiased, independent money advice</li>
    <li>Set up by government</li>
    <li>Help online, over the phone or in person</li>
  </ol>
<% end %>

<%= styleguide_section sections['ul'] do %>
  <ul>
    <li>Free, unbiased, independent money advice</li>
    <li>Set up by government</li>
    <li>Help online, over the phone or in person</li>
  </ul>
<% end %>

<%= styleguide_section sections['list'] do %>
  <ul class="list">
    <li>Free, unbiased, independent money advice</li>
    <li>Set up by government</li>
    <li>Help online, over the phone or in person</li>
  </ul>
<% end %>

<%= styleguide_section sections['list-benefits'] do %>
  <ul class="list--benefits">
    <li>Free, unbiased, independent money advice</li>
    <li>Set up by government</li>
    <li>Help online, over the phone or in person</li>
  </ul>
<% end %>

<%= styleguide_section sections['unstyled-list'] do %>
  <ul class="unstyled-list">
    <li>Free, unbiased, independent money advice</li>
    <li>Set up by government</li>
    <li>Help online, over the phone or in person</li>
  </ul>
<% end %>

<%= styleguide_section sections['plain-list'] do %>
  <ul class="plain-list">
    <li>Free, unbiased, independent money advice</li>
    <li>Set up by government</li>
    <li>Help online, over the phone or in person</li>
  </ul>
<% end %>

<%= styleguide_section sections['hr'] do %>
  <hr />
<% end %>

<h2>Utilities</h2>
<%= styleguide_section sections['visually-hidden'] do %>
  <span class="visually-hidden">Text to visually hide</span> Text to display
<% end %>
