<h1>Layouts</h1>

<%= styleguide_section sections['layout-container'] do %>
  <div class="l-constrained">
    <h3>1 column, full width of container</h3>
  </div>
<% end %>

<%= styleguide_section sections['layout-1col'] do %>
  <div class="l-constrained">
    <div class="l-1col">
      <h3>1 column, full width of container</h3>
    </div>
  </div>
<% end %>

<%= styleguide_section sections['layout-2col'] do %>
  <div class="l-constrained">
    <h2>2 columns small on left</h2>

    <div class="l-2col">
      <div class="l-2col-side"><h3>SIDE</h3></div>
      <div class="l-2col-main"><h3>MAIN</h3></div>
    </div>

    <h2>2 columns small on right</h2>

    <div class="l-2col">
      <div class="l-2col-main"><h3>MAIN</h3></div>
      <div class="l-2col-side"><h3>SIDE</h3></div>
    </div>

    <h2>2 columns even</h2>

    <div class="l-2col">
      <div class="l-2col-even"><h3>Half</h3></div>
      <div class="l-2col-even"><h3>Half</h3></div>
    </div>
  </div>
<% end %>

<%= styleguide_section sections['layout-nested'] do %>
  <div class="l-constrained">
    <h2>Nested Columns</h2>

    <div class="l-2col">
      <div class="l-2col-side"><h3>SIDE</h3></div>
      <div class="l-2col-main">
        <h3>MAIN</h3>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </div>
    </div>

    <h2>Mimic Article Pull out</h2>
      <div class="l-2col">
        <div class="l-2col-side"><h3>SIDE</h3></div>
        <div class="l-2col-main">
          <h3>MAIN</h3>

          <p>Duis eu metus egestas, molestie tortor ut, venenatis velit. Aliquam vel tristique velit. Aenean urna urna,
            lacinia et arcu id, fringilla auctor libero. Cras egestas lectus eu arcu convallis pellentesque a non sem.
            In adipiscing non nulla a rhoncus. Etiam suscipit mollis quam vestibulum blandit. Donec ut erat tincidunt
            urna dictum sollicitudin ac vel diam. Suspendisse laoreet, arcu vel fermentum laoreet, mauris erat eleifend
            nisl, et feugiat quam lorem lobortis erat. Cras ornare elementum tristique. Integer quis nibh nulla.
            Praesent gravida scelerisque leo, sit amet vestibulum nulla suscipit dictum.</p>
          <blockquote>
            <cite>By Lorum of ipsum!</cite>
            <q>tristique leo quis turpis blandit, ut feugiat arcu convallis.</q>
          </blockquote>
          <p>Phasellus tincidunt sagittis tempus. Mauris venenatis sem id risus molestie, et suscipit ligula volutpat.
            Phasellus ac ante eu neque viverra dictum at ac massa. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Cras dictum, enim eget elementum dictum, lectus turpis fermentum dolor,
            semper rhoncus lacus elit ac lorem. Donec sit amet sapien ut tellus cursus commodo vel vel arcu. Ut
            porttitor molestie diam id mollis. Mauris nunc quam, volutpat nec arcu id, vehicula egestas quam. Duis
            congue metus at enim congue imperdiet. Nunc luctus mollis malesuada. Aliquam erat volutpat. Phasellus
            laoreet ante et orci imperdiet, in tempus massa commodo. Suspendisse ut eros vitae arcu accumsan lacinia
            eget in libero.</p>
        </div>
      </div>
  </div>
<% end %>

<%= styleguide_section sections['Fixed Footer Panel'] do %>
  <div class="l-footer-fixed-container">
  <div id="js-panel-footer" class="panel-footer">So the panel doesn't obscure other styleguide elements by default, click this button to activate the default fixed style:
    <button onclick="document.getElementById('js-panel-footer').className += ' l-footer-fixed'">Add fixed style</button>
  </div>
  </div>

<% end %>
