<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<main role="main">
  <div class="l-annuities__banner">
    <div class="l-constrained">
      <h1 class="l-annuities__heading"><%= t('annuities.page_heading') %></h1>

      <div class="l-annuities__banner-left">

        <!-- Brightcove Video Player START -->

        <!-- TODO needs to be added as a JS module that loads the scripts with a data-dough-attribute is detected -->

        <script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
        <object id="myExperience3815308761001" class="l-annuities__video BrightcoveExperience">
          <param name="bgcolor" value="#FFFFFF" />
          <param name="width" value="100%" />
          <param name="height" value="470" />
          <param name="playerID" value="3715052732001" />
          <param name="playerKey" value="AQ~~,AAADSDtymlk~,HgUAk1SkaoH6WQl7hbEPXow7YFuDoLBn" />
          <param name="isVid" value="true" />
          <param name="isUI" value="true" />
          <param name="dynamicStreaming" value="true" />
          <param name="@videoPlayer" value="3815308761001" />
        </object>
        <script type="text/javascript">brightcove.createExperiences();</script>

        <!-- Brightcove Video Player END -->

        <p class="l-annuities__video-caption"><%= t('annuities.video_caption') %></p>
      </div>

      <div class="l-annuities__banner-right">
        <ul class="l-annuities__list list">
          <% t('annuities.cta.list').each do |item| %>
          <li><%= item[:text] %></li>
          <% end %>
        </ul>

        <button class="button button--primary"><%= t('annuities.cta.button') %></button>
        <p><%= t('annuities.cta.retrieve_quote_html') %></p>
      </div>
    </div>
  </div>

  <div class="l-constrained">
    <%= image_tag('car_campaign/run-car.png', class: 'l-annuities__image') %>

    <div class="l-2col-even">
      <h2><%= t('annuities.section_one.heading') %></h2>
      <ul class="list">
        <%= t('annuities.section_one.list_html') %>
      </ul>
    </div>

    <div class="l-annuities__panel">
      <h2 class="l-annuities__heading l-annuities__small-heading"><%= t('annuities.section_two.heading') %></h2>

      <% t('annuities.section_two.content').each do |item| %>
      <p class="l-3col-even"><%= raw item[:text] %></p>
      <% end %>
    </div>

    <div class="l-2col-even">
      <h2 class="l-annuities__small-heading"><%= t('annuities.section_three.heading') %></h2>
      <ul class="unstyled-list">
        <% t('annuities.section_three.list').each do |item| %>
        <li><a href="<%= item[:url] %>"><%= item[:text] %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="l-2col-even">
      <h2 class="l-annuities__small-heading"><%= t('annuities.section_four.heading') %></h2>
      <ul class="list-benefits">
        <% t('annuities.section_four.list').each do |item| %>
        <li><%= item[:text] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</main>
