<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-double-primary" role="main">
      <h1><%= t('contact_us.title') %></h1>

      <p class="intro"><%= t('contact_us.intro') %></p>

      <% t('contact_us.details').each do |detail| %>
        <div class="contact-detail">
          <h2 class="contact-detail__heading"><%= detail[:heading] %></h2>

          <div class="contact-detail__content">
            <%= raw detail[:content_html] %>
          </div>
        </div>
      <% end %>
    </main>

    <div class=" l-main__cell-double-secondary">
      <div class="sidebar">
        <div class="panel">
          <h2 class="heading-extra-small"><%= t('contact_us.panel_heading') %></h2>
          <%= t('contact_us.panel_content_html') %>
        </div>

        <% t('contact_us.secondary_details').each do |detail| %>
          <h2 class="heading-extra-small"><%= detail[:heading] %></h2>
          <%= raw detail[:content_html] %>
        <% end %>

        <div class="sidebar__smallprint">
          <%= t('contact_us.smallprint_html') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>
