<div class="l-constrained">
  <section class="l-promo-articles">
    <%= heading_tag(level: 2, class: 'visually-hidden') do %>
      <%= t('home.show.promoted_heading') %>
    <% end %>

    <% items_with_image.each do |item| %>
      <div class="l-promo-articles__item">
        <div class="t-article-promos">
          <%= link_to item['url'], class: 'promo__link' do %>
            <%= image_tag(item['image'], alt: '', class: 'promo__img') %>
            <%= heading_tag(level: 2, class: "promo__heading promo__heading--#{item['label']}") do %>
              <%= item['heading'] %>
            <% end %>
            <p class="promo__content"><%= item['content'] %></p>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="l-promo-articles__noimages">
      <% items_without_image.each do |item| %>
        <div class="l-promo-articles__item l-promo-articles__item--no-image">
          <div class="t-article-promos-no-image">
            <%= link_to item['url'], class: 'promo__link' do %>
              <%= heading_tag(level: 2, class: 'promo__heading') do %>
                <%= item['heading'] %>
              <% end %>
              <p class="promo__content"><%= item['content'] %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
