<ul class="authentication <% unless display_search_box_in_header? %>l-authentication<% end %>">

  <li class="authentication__item l-language-link <% if hide_elements_irrelevant_for_third_parties? %> authentication__item--last<% end %>">
    <%= render 'shared/language_link', locals: alternate_locales %>
  </li>

  <% unless hide_elements_irrelevant_for_third_parties? %>
    <% if user_signed_in? %>
      <li class="authentication__item">
        <%= button_to t('authentication.sign_out'), main_app.destroy_user_session_path, class: 'authentication__link gtm-my-account-link', method: :delete %>
      </li>
      <li class="authentication__item authentication__item--last">
        <% if Feature.active?(:profile) %>
          <%= link_to t('authentication.my_account'), main_app.edit_profile_path, class: 'authentication__link' %>
        <% else %>
          <%= link_to t('authentication.my_account'), main_app.edit_user_registration_path, class: 'authentication__link' %>
        <% end %>
      </li>
    <% else %>
      <li class="authentication__item">
        <%= link_to t('authentication.sign_in'), main_app.new_user_session_path, class: 'authentication__link' %>
      </li>
      <li class="authentication__item authentication__item--last">
        <%= link_to t('authentication.register'), main_app.new_user_registration_path, class: 'authentication__link' %>
      </li>
    <% end %>
  <% end %>
</ul>
