<div class="call-us">
  <h2 class="call-us__title"><%= t('contact.call_us') %></h2>

  <a href="<%= t('contact.telephone_number_href') %>" class="call-us__number"><%= t('contact.telephone_number') %></a>

  <p class="call-us__opening_hours">
    <%= t('contact.opening_hours_html') %>
  </p>

  <p><%= t('contact.call_charges_html') %></p>
</div>
