<div class="contact">
  <div class="l-constrained">

    <div class="l-contact">
      <div class="l-contact__group l-contact__group--details">
        <div class="l-contact__group-row">
          <div class="l-contact__group-cell">
            <h2 class="contact__heading"><%= t('contact.heading') %></h2>
            <p class="contact__introduction"><%= t('contact.introduction') %></p>
          </div>
          <div class="l-contact__group-cell l-contact__group-cell--details">
            <div class="bubble">
              <h3 class="bubble__heading"><%= t('contact.call_us') %>&hellip;</h3>
              <div class="bubble__content-container">
                <a class="bubble__text" href="<%= t('contact.telephone_number_href') %>"><%= t('contact.telephone_number') %></a>
              </div>
            </div>
            <p class="contact__details-text"><%= t('contact.call_charges_html') %></p>
          </div>
          <div class="l-contact__group-cell l-contact__group-cell--details">
            <h3 class="contact__details-heading"><%= t('contact.opening_hours_heading') %></h3>
            <p class="contact__details-text"><%= t('contact.opening_hours_html') %></p>
          </div>
        </div>
      </div>

      <div class="l-contact__group l-contact__group--newsletter">
        <div class="l-contact__group-row">
          <div class="l-contact__group-cell">
            <%= render 'newsletter_subscriptions/form' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
