<section class="panel feedback-panel">
  <h2 class="feedback-panel__title"><%= t('feedback_panel.title') %></h2>

  <p><%= t('feedback_panel.greeting') %></p>

  <ul>
    <li><%= link_to t('feedback_panel.article_feedback_link_text'), new_article_feedback_path(article.id) %></li>
    <li><%= link_to t('feedback_panel.technical_feedback_link_text'), new_feedback_path %></li>
    <li><%= link_to t('feedback_panel.advice_link_text'), advice_path %></li>
  </ul>
</section>
