<nav class="footer-site-links" role="navigation" aria-label="footer">
  <div class="l-container l-container--space">
    <ul class="footer-site-links__internal-links list--unstyled">
      <li>
        <a href="<%= t('footer.about_us_link') %>"><%= t('footer.about_us') %></a>
      </li>
      <li>
        <a href="<%= t('footer.contact_us_link') %>"><%= t('footer.contact_us') %></a>
      </li>
      <li>
        <a href="<%= t('footer.jobs_link') %>"><%= t('footer.jobs') %></a>
      </li>
      <li>
        <a href="<%= t('footer.terms_and_conditions_link') %>"><%= t('footer.terms_and_conditions') %></a>
      </li>
      <li>
        <a href="<%= t('footer.accessibility_link') %>"><%= t('footer.accessibility') %></a>
      </li>
      <li>
        <a href="<%= t('footer.privacy_statement_link') %>"><%= t('footer.privacy_statement') %></a>
      </li>
      <li>
        <a href="<%= t('footer.site_map_link') %>"><%= t('footer.site_map') %></a>
      </li>
      <li>
        <a href="<%= t('footer.media_centre_link') %>"><%= t('footer.media_centre') %></a>
      </li>
      <li>
        <a href="<%= t('footer.our_debt_work_link') %>"><%= t('footer.our_debt_work') %></a>
      </li>
      <li>
        <a href="<%= t('footer.partners_link') %>"><%= t('footer.partners') %></a>
      </li>
    </ul>
  </div>
  <div class="l-container l-container--space">
    <ul class="footer-site-links__language list--unstyled">
      <% locals.each do |locale| %>
        <li>
          <%= link_to({locale: locale}, id: "#{locale}Link", lang: locale) do %>
            <span class="icon icon--globe"></span>
            <%= t("locales.#{locale}") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
