<div class="l-footer-secondary t-footer-secondary">
  <div class="l-constrained">
    <div class="l-footer-secondary--inner">
      <div class="l-footer-secondary__list--left">
        <ul class="l-footer-secondary__list">

          <li class="l-footer-secondary__list-item  l-language-link">
            <% if content_for?(:alternate_link) %>
            <%= yield(:alternate_link) %>
            <% else %>
            <% locals.each do |locale| %>
            <%= link_to({ locale: locale }, { lang: locale, :class => "t-#{locale}-link" }) do %>
            <span class="icon icon--globe"></span>
            <%= t("locales.#{locale}") %>
            <% end %>
            <% end %>
            <% end %>
          </li>

          <li class="l-footer-secondary__list-item accessibility-feedback-link">
            <form target="_blank" class="accessin" id="AccessIN_form"
              action="https://accessin.org/app/accessin/index.php/welcome/index_AccessIN" method="post">
              <input type="hidden" name="ai_url" id="AccessIN_url" value="unset">
              <input type="hidden" name="ai_dom" id="AccessIN_dom" value="unset">
              <button type="submit" class="accessin__submit">
                <span class="icon icon--accessibility"></span>
                <span><%= t('footer_secondary.title') %></span>
              </button>
            </form>

            <% content_for(:javascripts) do %>
            <script type="text/javascript" src="https://accessin.org/app/accessin/resources/AccessIN.js"></script>
            <% end %>
          </li>

          <li class="l-footer-secondary__list-item footer-secondary__mps-link">
            <a href="https://moneyandpensionsservice.org.uk/" target="_blank">
              <span class="footer-secondary__mps-text">
                <span><%= t('footer.mps_provided_1') %></span>
                <span><%= t('footer.mps_provided_2') %></span>
                <span><%= t('footer.mps_provided_3') %></span>
              </span>
              <%= image_tag("yeast/assets/images/mps-logo-#{locale}.png", class: 'mps-logo__img', alt: "#{t('footer.mps')} logo") %>
              <span class="visually-hidden">opens in a new window</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="l-footer-secondary__list--right">
        <ul class="l-footer-secondary__list">
          <li class="l-footer-secondary__list-item">
            <a href="<%= t('footer.contact_us_link') %>"><%= t('footer.contact_us') %></a>
          </li>

          <li class="l-footer-secondary__list-item">
            <a href="<%= t('footer.terms_and_conditions_link') %>"><%= t('footer.terms_and_conditions') %></a>
          </li>

          <li class="l-footer-secondary__list-item">
            <a href="<%= t('footer.privacy_statement_link') %>"><%= t('footer.privacy_statement') %></a>
          </li>

          <li class="l-footer-secondary__list-item">
            <a href="<%= t('footer.accessibility_link') %>"><%= t('footer.accessibility') %></a>
          </li>

          <li class="l-footer-secondary__list-item">
            <a href="<%= t('footer.cookie_guide_link') %>"><%= t('footer.cookie_guide') %></a>
          </li>

          <li class="l-footer-secondary__list-item">
            <a href="<%= t('footer.site_map_link') %>"><%= t('footer.site_map') %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
