<nav class="footer-site-links" role="navigation" aria-label="footer">
  <div class="l-constrained l-padded">
    <ul class="footer-site-links__internal-links">
      <li>
        <a href="<%= t('footer.tools_and_resources_link') %>"><%= t('footer.tools_and_resources') %></a>
      </li>
      <li>
        <a href="<%= t('footer.news_link') %>"><%= t('footer.news') %></a>
      </li>
      <li>
        <a href="<%= t('footer.our_debt_work_link') %>"><%= t('footer.our_debt_work') %></a>
      </li>
      <li>
        <a href="<%= t('footer.partners_link') %>"><%= t('footer.partners') %></a>
      </li>
      <li>
        <a href="<%= t('footer.media_centre_link') %>"><%= t('footer.media_centre') %></a>
      </li>
      <li>
        <a href="<%= t('footer.about_us_link') %>"><%= t('footer.about_us') %></a>
      </li>
      <li>
        <a href="<%= t('footer.jobs_link') %>"><%= t('footer.jobs') %></a>
      </li>
      <li>
        <a href="<%= t('footer.contact_us_link') %>"><%= t('footer.contact_us') %></a>
      </li>
      <li>
        <a href="<%= t('footer.site_map_link') %>"><%= t('footer.site_map') %></a>
      </li>
      <li>
        <a href="<%= t('footer.accessibility_link') %>"><%= t('footer.accessibility') %></a>
      </li>
      <li>
        <a href="<%= t('footer.terms_and_conditions_link') %>"><%= t('footer.terms_and_conditions') %></a>
      </li>
      <li>
        <a href="<%= t('footer.privacy_statement_link') %>"><%= t('footer.privacy_statement') %></a>
      </li>
      <li class="footer-site-links__cookie-link <%= 'is-on' if cookies_not_accepted? %>">
        <a href="<%= t('footer.cookie_guide_link') %>"><%= t('footer.cookie_guide') %></a>
      </li>
    </ul>
  </div>

  <% if cookies_not_accepted? %>
    <div class="cookie-message l-constrained l-padded">
      <%= form_tag cookie_notice_acceptance_path, remote: true, authenticity_token: true, class: 'js-cookie-message' do %>
        <p class="cookie-message__content"><%= t('footer.cookie_message.body_html', url: t('footer.cookie_guide_link')) %></p>
        <button class="cookie-message__close-button">
          <span class="visually-hidden"><%= t('footer.cookie_message.close_button') %></span><span class="icon icon--close"></span>
        </button>
      <% end %>
    </div>
  <% end %>

  <div class="l-constrained l-padded">
    <ul class="footer-site-links__language">
      <li>
        <% if content_for?(:alternate_link) %>
          <%= yield(:alternate_link) %>
        <% else %>
          <% locals.each do |locale| %>
            <%= link_to({ locale: locale }, id: "#{locale}Link", lang: locale) do %>
              <span class="icon icon--globe"></span>
              <%= t("locales.#{locale}") %>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= form_tag(main_app.beta_opt_out_path) do %>
          <input type="hidden" name="redirection_page" value="<%= request.original_url %>">
          <%= button_tag(class: 'footer-site-links__opt_out') do %>
            <span class="icon icon--desktop-green"></span>
            <%= t('opt_out.title') %>
          <% end %>
        <% end %>
      </li>
      <li>
        <span class="icon icon--speech-green"></span>
        <a href="<%= raw t('feedback.email_contents').gsub(/\n/, '') %>"><%= t('feedback.title') %></a>
      </li>

      <% if Feature.active?(:authentication) %>
        <li class="footer-site-links__login">
          <span class="icon icon--account"></span>
          <% if user_signed_in? %>
            <%= button_to t('authentication.sign_out'), "/#{I18n.locale}/users/sign_out", method: :delete, class: 'authentication__link' %>
            <span class="footer-site-links__pipe">|</span>
            <%= link_to t('authentication.my_account'), "/#{I18n.locale}/users/edit", class: 'authentication__link' %>
          <% else %>
            <%= link_to t('authentication.sign_in'), "/#{I18n.locale}/users/sign_in", class: 'authentication__link' %>
            <span class="footer-site-links__pipe">|</span>
            <%= link_to t('authentication.register'), "/#{I18n.locale}/users/sign_up", class: 'authentication__link' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
