<div class="l-footer-primary">
  <div class="l-constrained">
    <div class="l-footer-primary__left">
      <%= render 'shared/newsletter_signup' %>
    </div>

    <div class="l-footer-primary__right">
      <nav role="navigation" aria-label="footer">
        <ul class="footer-primary__list">
          <li class="footer-primary__list-item">
            <a href="<%= t('footer.about_us_link') %>"><%= t('footer.about_us') %></a>
          </li>
          <li class="footer-primary__list-item">
            <a href="<%= t('footer.tools_and_resources_link') %>"><%= t('footer.tools_and_resources') %></a>
          </li>
          <li class="footer-primary__list-item">
            <a href="<%= t('footer.our_debt_work_link') %>"><%= t('footer.our_debt_work') %></a>
          </li>
          <li class="footer-primary__list-item">
            <a href="<%= t('footer.news_link') %>"><%= t('footer.news') %></a>
          </li>
          <li class="footer-primary__list-item">
            <a href="<%= t('footer.media_centre_link') %>"><%= t('footer.media_centre') %></a>
          </li>
          <li class="footer-primary__list-item">
            <a href="<%= t('footer.partners_link') %>"><%= t('footer.partners') %></a>
          </li>
          <li class="footer-primary__list-item">
            <a href="<%= t('footer.jobs_link') %>"><%= t('footer.jobs') %></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
