<div class="l-constrained">
  <%= render 'shared/footer_newsletter_signup' %>

  <nav role="navigation" aria-label="footer">
    <ul class="footer-page-links">
      <li class="footer-page-links__item">
        <a href="<%= t('footer.about_us_link') %>"><%= t('footer.about_us') %></a>
      </li>
      <li class="footer-page-links__item">
        <a href="<%= t('footer.tools_and_resources_link') %>"><%= t('footer.tools_and_resources') %></a>
      </li>
      <li class="footer-page-links__item">
        <a href="<%= t('footer.our_debt_work_link') %>"><%= t('footer.our_debt_work') %></a>
      </li>
      <li class="footer-page-links__item">
        <a href="<%= t('footer.news_link') %>"><%= t('footer.news') %></a>
      </li>
      <li class="footer-page-links__item">
        <a href="<%= t('footer.media_centre_link') %>"><%= t('footer.media_centre') %></a>
      </li>
      <li class="footer-page-links__item">
        <a href="<%= t('footer.partners_link') %>"><%= t('footer.partners') %></a>
      </li>
      <li class="footer-page-links__item">
        <a href="<%= t('footer.jobs_link') %>"><%= t('footer.jobs') %></a>
      </li>
    </ul>
  </nav>
</div>
