<header 
  class="l-header <%= ' l-header--non-sticky' if hide_sticky_header? || hide_elements_irrelevant_for_third_parties? %>"
  role="banner"
>
  <div class="l-constrained l-header__content">
    <div class="mas-logo">
      <%= link_to main_app.root_path, class: 'mas-logo__link' do %>
        <%= image_tag("logo-sprite-#{I18n.locale}.png", alt: t('layouts.base.title'), class: 'mas-logo__img') %>
      <% end %>
      <div class="l-header__strapline"><%= t('layouts.base.strapline') %></div>
    </div>

    <%= render 'shared/mobile_nav' %>

    <%= render 'shared/authentication' %>

    <% if display_search_box_in_header? %>
      <div class="l-search" id="search-bar">
        <%= render 'shared/search', search_in_page_header: true %>
      </div>
    <% end %>
  </div>
</header>
