<header class="l-header" role="banner">
  <div class="l-constrained">
    <%= link_to root_path, class: 'mas-logo' do %>
      <%= image_tag("mas-logo.png", alt: 'the Money Advice Service') %>
    <% end %>

    <%= render 'shared/mobile_nav' %>

    <%= render 'shared/authentication' %>

    <% if display_search_box_in_header? %>
      <div class="l-search" id="search-bar">
        <%= render 'shared/search', search_in_page_header: true %>
      </div>
    <% end %>
  </div>
</header>
