<header class="l-header" role="banner">
  <div class="l-constrained l-header__content<%= ' l-header__content--non-sticky' if hide_sticky_header? %>">
    <div class="mas-logo">
      <%= link_to main_app.root_path, class: 'mas-logo__link' do %>
        <%= image_tag("logo-sprite-#{I18n.locale}.png", alt: t('layouts.base.title'), class: 'mas-logo__img') %>
      <% end %>
      <div class="l-header__strapline"><%= t('layouts.base.strapline') %></div>
    </div>

    <% if mobile_nav_in_header? %>
      <%= render 'shared/mobile_nav' %>
    <% end %>

    <% if authentication? %>
      <%= render 'shared/authentication' %>
    <% end %>

    <% if display_search_box_in_header? %>
      <div class="l-search" id="search-bar">
        <%= render 'shared/search', search_in_page_header: true %>
      </div>
    <% end %>
  </div>
</header>
