<% if Feature.active?(:new_header) %>

  <header class="l-header" role="banner">
    <div class="l-constrained">
      <%= link_to root_path do %>
        <%= image_tag("mas-logo.png", alt: 'the Money Advice Service', class: 'mas-logo') %>
      <% end %>

      <nav role="navigation" aria-label="primary">
        <%= render 'shared/mobile_nav' %>

        <% if display_search_box_in_header? %>
          <%= render 'shared/search' %>
        <% end %>
      </nav>
    </div>
  </header>

<% else %>

  <header class="l-header" role="banner">
    <div class="l-constrained">
      <%= link_to root_path do %>
        <%= image_tag("mas-logo.png", alt: 'the Money Advice Service', class: 'mas-logo') %>
      <% end %>

      <nav role="navigation" aria-label="primary">
        <%= render 'shared/mobile_nav' %>
        <%= render 'shared/primary_nav' %>
      </nav>
    </div>

    <% if display_search_box_in_header? %>
      <div class="l-header__search" id="search-bar">
        <%= render 'shared/search_box' %>
      </div>
    <% end %>
  </header>

<% end %>
