<header class="l-header header" role="banner">
  <div class="l-constrained">
    <%= link_to root_path do %>
      <%= image_tag("mas-logo.png", alt: 'the Money Advice Service', class: 'mas-logo') %>
    <% end %>

    <nav role="navigation" aria-label="primary">
      <%= render 'shared/mobile_nav' %>
      <%= render 'shared/primary_nav' %>
    </nav>
  </div>

  <% unless defined? @dont_show_search_box %>
    <%= render 'shared/search_box' %>
  <% end %>
</header>
