<section class="home-contact">
  <div class="l-constrained">
    <header class="home-contact-header">
      <h2><%= t('home.contact.cant-find') %></h2>
      <p class="home-contact-intro"><%= t('home.contact.trained-staff') %></p>
    </header>
    <div class="home-contact-details">
      <a class="home-contact-number" href="tel:<%= t('home.contact.number') %>"><%= t('home.contact.number') %></a>
      <h3><%= t('home.contact.opening-hours') %></h3>
      <p>
        <%= t('home.contact.mon-fri_html') %><br>
        <%= t('home.contact.sat_html') %>
      </p>
      <a href=""><%= t('home.contact.find-out') %></a>
    </div>
  </div>
</section>