<section class="home-feature">
  <div class="l-constrained">
    <header class="home-feature__header">
      <h1>Free, impartial &amp; set up by government</h1>
      <%= image_tag("home-illustration.jpg") %>
    </header>

    <ul class="home-feature__list">
      <li>
        <a href="<%= t('home.feature.f1.url') %>"><%= t('home.feature.f1.title') %></a>
        <p><%= t('home.feature.f1.desc') %></p>
      </li>
      <li>
        <a href="<%= t('home.feature.f2.url') %>"><%= t('home.feature.f2.title') %></a>
        <p><%= t('home.feature.f2.desc') %></p>
      </li>
      <li>
        <a href="<%= t('home.feature.f3.url') %>"><%= t('home.feature.f3.title') %></a>
        <p><%= t('home.feature.f3.desc') %></p>
      </li>
      <li>
        <a href="<%= t('home.feature.f4.url') %>"><%= t('home.feature.f4.title') %></a>
        <p><%= t('home.feature.f4.desc') %></p>
      </li>
      <li>
        <a href="<%= t('home.feature.f5.url') %>"><%= t('home.feature.f5.title') %></a>
        <p><%= t('home.feature.f5.desc') %></p>
      </li>
      <li>
        <a href="<%= t('home.feature.f6.url') %>"><%= t('home.feature.f6.title') %></a>
        <p><%= t('home.feature.f6.desc') %></p>
      </li>
    </ul>
  </div>
</section>