<section class="l-constrained">
  <ul class="home-promoted">
    <li class="home-promoted__item">
      <a href="<%= t('home.show.promoted_items.link_one') %>">
        <%= image_tag("home-promoted-1.jpg", alt: "") %>
        <%= t('home.show.promoted_items.promoted_item_one') %>
      </a>
    </li>
    <li class="home-promoted__item">
      <a href="<%= t('home.show.promoted_items.link_two') %>">
        <%= image_tag("home-promoted-2.jpg", alt: "") %>
        <%= t('home.show.promoted_items.promoted_item_two') %>
      </a>
    </li>
    <li class="home-promoted__item">
      <a href="<%= t('home.show.promoted_items.link_three') %>">
        <%= image_tag("home-promoted-3.jpg", alt: "") %>
        <%= t('home.show.promoted_items.promoted_item_three') %>
      </a>
    </li>
  </ul>
</section>
