<section class="home-contact">
  <div class="l-constrained">
    <header class="home-contact__header">
      <h2><%= t('home.contact.title') %></h2>
      <p class="home-contact__intro"><%= t('home.contact.intro') %></p>
    </header>
    <div class="home-contact__details">
      <a class="home-contact__number" href="tel:<%= t('telephone_number') %>"><%= t('telephone_number') %></a>
      <h3><%= t('home.contact.opening-hours') %></h3>
      <p><%= t('home.contact.dates_html') %></p>
      <a href="<%= t('home.contact.more_href') %>"><%= t('home.contact.more_copy') %></a>
    </div>
  </div>
</section>