<% active_categories = [] unless (defined?(:active_categories) && active_categories.present?) %>

<a href="#top" class="link-to-top-block"><%= t('back_to_top') %>
  <span class="icon icon--up-chevron-blue"></span>
</a>

<% if categories.present? %>
  <nav class="nav" role="navigation" aria-label="main" id="primary-nav" tabindex="-1">

      <% categories.each do |category| %>
      
        <% if active_categories.member?(category.id) %>

            <h2 class="sidenav__title"><%= category.title %></h2>
            <ul class="sidenav">
              <% category.contents.each do |sub_category| %>
                <li class="sidenav__item <%= active_categories.member?(sub_category.id) ? 'is-selected' : '' %>">
                  <div class="sidenav__toggle" data-dough-component="Collapsable"
                  data-dough-collapsable-config='{"iconPosition":"right","oneGroupOpenOnly":"true","focusTarget":false<%= active_categories.member?(sub_category.id) ? ",\"forceTo\":\"show\"" : "" %>}'
                  data-dough-collapsable-trigger="<%= sub_category.slug %>">
                    <%= sub_category.title %></div>
                  <ul class="sidenav--secondary" data-dough-collapsable-target="<%= sub_category.slug %>">
                    <% sub_category.left_nav_items.each do |item| %>
                    <li class="sidenav--secondary__item">
                      <%= link_to item.title, item.path, class: "sidenav--XXXX" %>
                    </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
        <% end %>
      <% end %>
  </nav>
<% end %>
