<div class="news-signup-sticky<% if local_assigns.has_key?(:fixed_position) %> news-signup-sticky--positioned<% end %> js-news-signup-sticky-form" data-dough-component="NewsletterSticky">
  <div class="news-signup-sticky__text news-signup-sticky__text--display">
    <p class="news-signup-sticky__intro">200,000 people are taking care of their money with our FREE money advice newsletter.</p>
    <p class="news-signup-sticky__intro news-signup-sticky__intro--emphasize">Are you? Sign up today.</p>
  </div>
  <div class="news-signup-sticky__error">
    <p class="news-signup-sticky__intro news-signup-sticky__intro--emphasize">Sorry, we can't do that right now. Please try again later.</p>
  </div>

  <div class="news-signup-sticky__inner">
    <%= form_tag(main_app.newsletter_subscription_path, remote: true) do %>
      <div class="news-signup-sticky__submitform">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: 'sticky_authenticity_token' -%>
        <%= hidden_field_tag 'subscription[ga_categoryid]', 'Newsletter SignUp Sticky' -%>
        <%= hidden_field_tag 'subscription[category]', 'sticky' -%>
        <%= label_tag('subscription[email]', 'Email address', for: 'news-signup-email', class: 'news-signup-sticky__email-label') %>
        <%= email_field_tag('subscription[email]', nil, id: 'news-signup-email', class: 'news-signup-sticky__email-input js-news-signup-sticky-input', placeholder: 'What\'s your email?', required: true) %>
        <%= button_tag('Send me money advice', type: 'submit', class: 'button button--newsletter') %>
        <p class="news-signup-sticky__disclaimer">We won't share your details. See our <a href="#">privacy policy</a></p>
      </div>
      <button class="news-signup-sticky__close unstyled-button" title="Don't ask me again">
          &times;
      </button>
    <% end %>
  </div>
</div>
