<%= form_tag(main_app.newsletter_subscription_path, class: 'newsletter-signup t-newsletter', remote: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%= heading_tag level: 2, class: 'contact-panel__heading' do %>
    <%= render 'shared/svg/use_icon',
               icon: 'email',
               svg_fallback_support: true
    %>
    <%= t('newsletter_subscriptions.title') %>
  <% end %>

  <p class="t-newsletter-introduction"><%= t('newsletter_subscriptions.introduction') %></p>
  <p class="newsletter-strap"><%= t('newsletter_subscriptions.strap') %></p>

  <fieldset class="newsletter-signup__form js-newsletter-form" id="newsletter_signup">
    <% if hide_elements_irrelevant_for_third_parties? %>
      <a href="https://www.moneyadviceservice.org.uk<%= t('footer.contact_us_link') %>#newsletter_signup" class="t-newsletter-button mas-button--newsletter third-party"><%= t('newsletter_subscriptions.hidden_title') %></a>
    <% else %>
      <legend class="visually-hidden"><%= t('newsletter_subscriptions.hidden_title') %></legend>
      <%= label_tag('subscription[email]', t('newsletter_subscriptions.label'), class: 'newsletter-signup__label visually-hidden') %>
      <%= text_field_tag(
        'subscription[email]',
        nil,
        class: 't-newsletter-email js-newsletter-input newsletter-signup__input',
        placeholder: t('newsletter_subscriptions.label')
      ) %>
      <%= hidden_field_tag 'subscription[ga_categoryid]', 'Newsletter SignUp' -%>
      <%= hidden_field_tag 'subscription[category]', 'footer' -%>
      <%= button_tag(t('newsletter_subscriptions.button'), type: 'submit', class: 'mas-button--newsletter t-newsletter-button') %>
    <% end %>
  </fieldset>

  <p class="smallprint"><%= t('newsletter_subscriptions.privacy_html') %></p>
<% end %>
