<%
   dev_visible = local_assigns[:visible].nil? ? false : local_assigns[:visible]
   ab_test_render = local_assigns[:ab_test_render].nil? ? false : local_assigns[:ab_test_render]

   component_class = ''
   component_dough = ' data-dough-component="Newsletter"'.html_safe
   if dev_visible then
     component_class = 'news-signup-inpage--with-image news-signup-inpage--in-article'
     component_dough = ''
   end

   if !ab_test_render && !dev_visible then
     component_class = component_class + ' news-signup-inpage--delete'
   end
%>

<div class="l-news-signup-inpage">

  <div class="news-signup-inpage js-mediaquery-test <%= component_class %>" <%= component_dough %>>
    <%= form_tag(main_app.newsletter_subscription_path, class: 'js-news-signup-test-form news-signup-inpage__form', remote: true) do %>

      <div class="news-signup-inpage__header">

        <div class="news-signup-inpage__image"></div>
        <div class="news-signup-inpage__text-container">

          <h3 class="news-signup-inpage__title">
            <span class="news-signup-inpage__title-text"><%= t('newsletter_subscriptions.signup_inpage.title') %></span>
          </h3>

          <p class="news-signup-inpage__supplementary-text">
            <%= t('newsletter_subscriptions.signup_inpage.supplementary_text') %>
          </p>
          <%= label_tag('subscription[email]', t('newsletter_subscriptions.signup_inpage.controls.email.label'), for: 'news-signup-email', class: 'news-signup-inpage__email-label') %>
        </div>

      </div>

      <div class="js-news-signup-inpage__form-container news-signup-inpage__form-container">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: 'test_authenticity_token' -%>
        <%= hidden_field_tag 'subscription[ga_categoryid]', 'Newsletter SignUp Test', id: 'subscription[test_ga_categoryid]' -%>
        <%= hidden_field_tag 'subscription[category]', 'in_article', id: 'subscription[test_category]' -%>

        <%= email_field_tag('subscription[email]', nil, id: 'news-signup-email', class: 'js-news-signup-test-input', placeholder: t('newsletter_subscriptions.signup_inpage.controls.email.placeholder')) %>
        <%= button_tag(t('newsletter_subscriptions.signup_inpage.controls.button.text'), type: 'submit', class: 'button button--newsletter') %>
      </div>
    <% end %>

    <div class="js-news-signup-inpage__footer news-signup-inpage__footer">
      <p class="news-signup-inpage__privacy-text">
        <span class="news-signup-inpage__privacy-text-section">
          <%= t('newsletter_subscriptions.signup_inpage.privacy_text') %>
        </span>
        <span class="news-signup-inpage__privacy-text-section">
          <%= t('newsletter_subscriptions.signup_inpage.privacy_text_2') %>
          <a class="news-signup-inpage__privacy-text-link" target="_blank" href="https://www.moneyadviceservice.org.uk/en/corporate/privacy"><%= t('newsletter_subscriptions.signup_inpage.privacy_link_text') %></a>
        </span>
      </p>

    </div>

  </div>
</div>
