<%= form_tag(newsletter_subscription_path, class: 'newsletter-signup', remote: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

  <h2 class="newsletter-signup__heading"><%= t('newsletter_subscriptions.title') %></h2>

  <ul class="newsletter-signup__benefits-list list-benefits">
    <% t('newsletter_subscriptions.benefits').each do |benefit| %>
      <li><%= benefit %></li>
    <% end %>
  </ul>

  <fieldset class="newsletter-signup__form js-newsletter-form">
    <legend class="visually-hidden"><%= t('newsletter_subscriptions.hidden_title') %></legend>
    <%= label_tag('subscription[email]', 'Email address', class: 'newsletter-signup__label') %>
    <%= text_field_tag('subscription[email]', nil, class: 'js-newsletter-input newsletter-signup__input', placeholder: 'example@example.com') %>
    <%= button_tag('Sign up', type: 'submit', class: 'button button--inline-input newsletter-signup__button') %>
  </fieldset>
<% end %>
