<div class="on-page-feedback" aria-live="polite" data-dough-component="OnPageFeedback" data-dough-on-page-feedback-post="<%= article_page_feedbacks_path(article.id) %>">

  <div data-dough-feedback-page="start">
    <h2 class="on-page-feedback__title"><%= t('articles.on_page_feedback.prompt') %></h2>
    <button class="on-page-feedback__thumb-button-up" data-dough-feedback="positive">
      <span class="visually-hidden"><%= t('articles.on_page_feedback.positive') %></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           class="svg-icon svg-icon--thumb-button-up"
           focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--thumb-icon-up"></use>
      </svg>
      <span class="icon icon--thumb-icon-up"></span>
    </button>
    <button class="on-page-feedback__thumb-button-down" data-dough-feedback="negative">
      <span class="visually-hidden"><%= t('articles.on_page_feedback.negative') %></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           class="svg-icon svg-icon--thumb-button-down"
           focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--thumb-icon-down"></use>
      </svg>
      <span class="icon icon--thumb-icon-down"></span>
    </button>
  </div>
  <div class="is-hidden" data-dough-feedback-page="negative">
    <form class="on-page-feedback__form" data-dough-component="Validation" data-dough-validation-config='{"showValidationSummary":false}' data-dough-feedback-form novalidate>
      <label for="on-page-user-feedback" class="on-page-feedback__label"><%= t('articles.on_page_feedback.user_feedback_heading') %></label>
      <div class="form__row">
        <textarea id="on-page-user-feedback"
        name="on-page-user-feedback"
        placeholder="<%= t('articles.on_page_feedback.feedback_placeholder') %>"
        data-dough-validation-empty="Please leave a comment"
        aria-required
        required
        data-dough-feedback-comment></textarea>
      </div>
        <input class="on-page-feedback__form-submit button button--primary" type="submit" data-dough-feedback-submit value="<%= t('articles.on_page_feedback.user_feedback_submit') %>"/>
    </form>
  </div>
  <div class="on-page-feedback__three is-hidden" data-dough-feedback-page="positive" data-dough-feedback-share>
    <%= social_sharing_icons url:            article.canonical_url,
                               title:          I18n.t("articles.on_page_feedback.social_share_heading"),
                               label_facebook: I18n.t("articles.sharing.label_facebook"),
                               label_twitter:  I18n.t("articles.sharing.label_twitter"),
                               label_email:    I18n.t("articles.sharing.label_email"),
                               text:           article.title %>
  </div>
  <div class="on-page-feedback__results is-hidden" data-dough-feedback-page="results">
    <h2 class="on-page-feedback__title"><%= t('articles.on_page_feedback.thankyou_heading') %></h2>
    <div class="on-page-feedback__results-item" data-dough-feedback-like-container>
      <div class="on-page-feedback__results-item-card">
        <div class="on-page-feedback__results-item-front">
          <svg xmlns="http://www.w3.org/2000/svg"
             class="svg-icon svg-icon--thumb-icon-up"
             focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--thumb-icon-up"></use>
        </svg>
        <span class="icon icon--thumb-icon-up"></span>
        </div>
        <div class="on-page-feedback__results-item-back"></div>
      </div>
    </div>
    <div class="on-page-feedback__results-item"  data-dough-feedback-dislike-container>
      <div class="on-page-feedback__results-item-card">
        <div class="on-page-feedback__results-item-front">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="svg-icon svg-icon--thumb-icon-down"
             focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--thumb-icon-down"></use>
        </svg>
        <span class="icon icon--thumb-icon-down"></span>
        </div>
        <div class="on-page-feedback__results-item-back"></div>
      </div>
    </div>
  </div>
</div>
