<div class="opt-out">
  <div class="l-constrained l-padded">
    <div class="l-1col">
      <p class="opt-out__message"><%= t('opt_out.message') %></p>

      <%= form_tag(beta_opt_out_path) do %>
        <input type="hidden" name="redirection_page" value="<%= request.original_url %>">
        <%= button_tag(class: 'opt-out__control') do %>
          <span class="icon icon--desktop"></span>
          <%= t('opt_out.title') %>
        <% end %>
      <% end %>

      <%= form_tag(beta_opt_out_path, remote: true, authenticity_token: true, method: :delete, class: 'js-close-opt-out') do %>
        <button class="opt-out__close">
          <span class="visually-hidden"><%= t('opt_out.dismiss') %></span>
          <span class="icon icon--close"></span>
        </button>
      <% end %>
    </div>
  </div>
</div>
