<div class="contact-panel contact-panel__chat-open" id="js-whatsapp-content">
  <%= heading_tag level: 2, class: 'contact-panel__heading' do %>
    <%= render 'shared/svg/whats_app_logo' %>
    WhatsApp
  <% end %>
  <ul class="t-chat-opening-times contact-panel__list unstyled-list">
    <li class="contact-panel__additional-info">
      <%= t('contact_panels.whatsapp.text1') %>
    </li>
    <li class="contact-panel__additional-info">
      <%= t('contact_panels.whatsapp.text2') %>
    </li>
    <li class="contact-panel__additional-info last-panel">
      <%= t('contact_panels.whatsapp.text3') %>
    </li>
  </ul>
  <% if chat_opening_hours.open? %>
  <div class="contact-panel__button-container">
    <a class="contact-panel__button button t-whatsapp-button" href="https://wa.me/447701342744">
      <%= t('contact_panels.chat.available.call_to_action') %>
    </a>
  </div>
  <% else %>
  <p class="t-whatsapp-unavailable">
    <%= t('contact_panels.chat.unavailable.call_to_action') %>
  </p>
  <% end %>
  <p class="smallprint t-welsh-smallprint"><%= @footer.web_chat.small_print %></p>
</div>
