<div class="related-links">
  <h2 class="visually-hidden">Related content</h2>
  <% categories.each do |category| %>
    <div class="related-links__category">
      <h3 class="related-links__heading">
        <%= t('related_links.title_prefix') %> <%= category.title %>
      </h3>
      <ul class="unstyled-list">
        <% category.contents.each do |article| %>
          <li class="related-links__category-link">
            <%= link_to article.title, article.path %>
          </li>
        <% end %>
        <li class="related-links__category-link">
          <%= link_to category.path do %>
            <%= t('related_links.link') %>
            <span class="visually-hidden"><%= t('related_links.hidden_link') %><%= category.title %></span>
          <% end %></li>
      </ul>
    </div>
  <% end %>
</div>
