<form class="search-box" action="<%= search_results_path %>" method="get" role="search">
  <div class="l-constrained">
    <label class="visually-hidden"><%= t('search_box.label') %></label>
    <input class="search-box__input" type="text" name="query" value="<%= params[:query] %>" placeholder="<%= t('search_box.placeholder') %>"/>
    <button class="search-box__submit" type="submit">
      <span class="icon icon--search"></span>
      <span class="visually-hidden"><%= t('search_box.button_text') %></span>
    </button>
  </div>
</form>
