<div class="social-sharing">
  <h2><%= t('social_sharing.title') %></h2>

  <ul class="unstyled-list">
    <li class="social-sharing__item social-sharing__item--facebook">
      <a
        href="https://www.facebook.com/sharer.php?u=<%= u request.original_url %>"
        target="_blank"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="social-sharing__icon">
          <use xlink:href="#icon-facebook"></use>
        </svg>
        <span class="visually-hidden"><%= t('social_sharing.label_facebook') %></span>
      </a>
    </li><li class="social-sharing__item social-sharing__item--twitter">
      <a
        href="https://twitter.com/share?text=<%= @article ? u(@article.title) : '' %>"
        target="_blank"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="social-sharing__icon">
          <use xlink:href="#icon-twitter"></use>
        </svg>
        <span class="visually-hidden"><%= t('social_sharing.label_twitter') %></span>
      </a>
    </li><li class="social-sharing__item social-sharing__item--email">
      <a
        href="mailto:?subject=<%= @article ? u(@article.title) : '' %>&amp;body=<%= u request.original_url %>"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="social-sharing__icon">
          <use xlink:href="#icon-email"></use>
        </svg>
        <span class="visually-hidden"><%= t('social_sharing.label_email') %></span>
      </a>
    </li>
  </ul>
</div>
