<div class="l-constrained">
  <section class="l-promos">
    <div class="l-promos__item">
      <%= heading_tag(level: 2, class: 'l-promos__heading') do %>
        <%= t('home.show.tools_heading') %>
      <% end %>
      <div class="l-promo__view-all">
        <%= link_to t('home.show.tools_view_all') do %>
        <%= t('home.show.view_all_link_html') %><span class="visually-hidden"><%= t('home.show.view_all_link_expanded') %></span>
        <% end %>
      </div>
    </div>
    <% items.each do |item| %>
    <div class="l-promos__item">
      <div>
        <%= heading_tag(level: 3, class: 'promo__heading') do %>
          <%= link_to item[:url], class: 'promo__link' do %>
            <%= item[:heading] %>
          <% end %>
        <% end %>

        <p class="promo__content">
          <%= item[:text] %>
        </p>
      </div>
      <svg class="promo__arrow">
        <use xlink:href="#icon-arrow-right"></use>
      </svg>
    </div>
    <% end %>
  </section>
</div>
