<div class="l-constrained">
  <section class="l-promos">
    <%= link_to(t('home.show.tools_view_all'), class: 'l-promos__item promo__link') do %>
      <%= heading_tag(level: 2, class: 'l-promos__heading') do %>
        <%= t('home.show.tools_heading') %>
      <% end %>
      <div class="l-promo__view-all">
        <%= t('home.show.view_all_link_html') %><span class="visually-hidden"><%= t('home.show.view_all_link_expanded') %></span>
      </div>
    <% end %>
    <% items.each do |item| %>
      <%= link_to item[:url], class: 'l-promos__item promo__link' do %>
        <%= heading_tag(level: 3, class: 'promo__heading') do %>
          <%= item[:heading] %>
        <% end %>
        <p class="promo__content">
          <%= item[:text] %>
        </p>
        <svg class="promo__arrow">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      <% end %>
    <% end %>
  </section>
</div>
