<h4 class="mobile-webchat__title"><%= t('contact_panels.chat_popup_pensions.title') %></h4>
<h4><%= t('contact_panels.chat_popup_pensions.intro') %></h4>
<div class="mobile-webchat__button-container">
  <div class="mobile-webchat__button">
    <a class="button mobile-webchat__button--pensions disabled">
      <div class="form-button__text">
        <span class="form-button__text-service">
          <%= t('contact_panels.chat_popup_pensions.number') %>
        </span>
      </div>
    </a>
  </div>
  <div class="mobile-webchat__button">
    <a class="button mobile-webchat__button--webchat<% if pensions_opening_hours.closed? %> disabled<% end %>"
      target="_blank" href="https://www.pensionsadvisoryservice.org.uk/TPASChat">
      <svg class="icon-svg--web-chat">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--web-chat"></use>
      </svg>
      <div class="form-button__text">
        <% if pensions_opening_hours.open? %>
          <span class="form-button__text-heading"><%= t('contact_panels.chat_popup.available.call_to_action') %></span>
          <span class="form-button__text-service"><%= t('contact_panels.chat_popup.available.text_webchat') %></span>
        <% else %>
          <span class="form-button__text-heading"><%= t('contact_panels.chat_popup.unavailable.call_to_action') %></span>
          <span class="form-button__text-service"><%= t('contact_panels.chat_popup.unavailable.text_webchat') %></span>
        <% end %>
      </div>
    </a>
  </div>
</div>
