<div aria-hidden="true" class="mobile-webchat__container mobile-webchat--closed" data-dough-component="ChatPopup">
  <button class="mobile-webchat__close" data-dough-webchat-close>
    <span>X</span>
  </button>
  <div class="mobile-webchat--icon" data-dough-webchat-icon>
    <span class="icon icon--web-chat"></span>
    <svg class="icon-svg--web-chat">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--web-chat"></use>
    </svg>
  </div>
  <div class="mobile-webchat__form">
    <% if pensions_and_retirement_page? %>
      <%= render 'shared/webchat_popup_pensions' %>
    <% else %>
    <h4 class="mobile-webchat__title"><%= t('contact_panels.chat_popup.title') %></h4>
    <div class="mobile-webchat__select-container">
      <select class="mobile-webchat__select" data-dough-webchat-select>
        <% clumps.each do |clump| %>
          <option value="<%= clump.categories[0].id %>"><%= clump.name %></option>
        <% end %>
      </select>
    </div>
    <div class="mobile-webchat__button-container">
      <div class="mobile-webchat__button">
        <a class="button mobile-webchat__button--whatsapp" href="https://wa.me/447701342744" target="_blank" data-dough-webchat-button-whatsapp>
          <svg class="icon-svg--whatsapp">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--whatsapp"></use>
          </svg>
          <div class="form-button__text">
            <span class="form-button__text-heading"><%= t('contact_panels.chat_popup.button_text') %></span>
            <span class="form-button__text-service">WhatsApp</span>
          </div>
        </a>
      </div>
      <div class="mobile-webchat__button">
        <a class="button mobile-webchat__button--webchat<% if chat_opening_hours.closed? %> disabled<% end %>"
          target="_blank" data-dough-webchat-button-webchat>
          <svg class="icon-svg--web-chat">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--web-chat"></use>
          </svg>
          <div class="form-button__text">
            <% if chat_opening_hours.open? %>
              <span class="form-button__text-heading"><%= t('contact_panels.chat_popup.button_text') %></span>
              <span class="form-button__text-service">Web Chat</span>
            <% else %>
              <span class="form-button__text-heading">Chat</span>
              <span class="form-button__text-service">Unavailable</span>
            <% end %>
          </div>
        </a>
      </div>
    </div>
    <% end %>
    <div class="mobile-webchat__contact">
      <a class="mobile-webchat__contact--link" href="<%= t('contact_panels.chat_popup.contact_link') %>">
        Other Contact Methods
      </a>
    </div>
  </div>
</div>
