<%= render 'shared/header' %>
<h1><%= t('.heading') %></h1>
<ul class="specialList"><%= t('.summary_list_html') %></ul>
<div id="introductionText"><%= t('.introduction_text_html') %></div>
<%= render 'shared/footer_site_links' %>
<%= render 'shared/footer_social_links' %>
