<%= render 'shared/header' %>

<main class="mainPageContent">
  <div class="l-container">
    <h1><%= t('.heading_html') %></h1>
    <ul class="list--iconBullets"><%= t('.summary_list_html') %></ul>
    <div id="introductionText"><%= t('.introduction_text_html') %></div>
  </div>
</main>

<%= render 'shared/footer_site_links', locals: alternative_locales %>
<%= render 'shared/footer_social_links' %>
