<% content_for :head do %>
  <script type="application/ld+json">
    {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "https://www.moneyadviceservice.org.uk/en",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "https://www.moneyadviceservice.org.uk/en/search?query={search_term_string}",
         "query-input": "required name=search_term_string"
       }
    }
  </script>
<% end %>

<% set_meta_tags(canonical:   root_url,
                 alternate:   alternate_home_map,
                 title:       t('.title'),
                 description: t('.description').strip) %>

<%= heading_tag t('layouts.base.title'), class: 'visually-hidden' %>

<%= render 'shared/home_top', item: @resource %>

<div class="l-home-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('.directory_heading') %>
    <% end %>
    <%= render 'shared/directory', items: category_navigation %>
  </div>
</div>

<%= render 'shared/tool_promos', items: @resource.tools %>

<%= render 'shared/article_promos', items_with_image: @resource.tiles, items_without_image: @resource.text_tiles %>

<%= render 'shared/stripe_banner', item: @resource %>
