<% content_for :head do %>
  <script type="application/ld+json">
    {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "https://www.moneyadviceservice.org.uk/en",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "https://www.moneyadviceservice.org.uk/en/search?query={search_term_string}",
         "query-input": "required name=search_term_string"
       }
    }
  </script>
<% end %>

<% set_meta_tags(canonical:   root_url,
                 alternate:   alternate_home_map,
                 title:       t('.title'),
                 description: t('.description').strip) %>

<%= heading_tag t('layouts.base.title'), class: 'visually-hidden' %>

<!-- TEMPORARY EMBED OF TWO SYNDICATED TOOLS BEGINS -->
<div>
  <p>
    <noscript>You have javascript turned off. Please turn javascript on to see the tools in action.</noscript>
  </p>

  <p>
    <a id="savings_calculator"‪
       class="mas-widget"
       target="_blank"
       href="url of tool page">Savings Caculator</a>
  </p>

  <p>
    <a id="pension_calculator"‪
       class="mas-widget"
       target="_blank"
       href="url of tool page">Pension Caculator</a>
  </p>
</div>

<script src="http://localhost:3000/assets/syndication/tools.js"></script>‪
<!-- TEMPORARY EMBED OF TWO SYNDICATED TOOLS ENDS -->

<%= render 'shared/home_top', item: @resource %>

<%= render 'shared/tool_promos', items: @resource.tools %>

<%= render 'shared/article_promos', items_with_image: @resource.tiles, items_without_image: @resource.text_tiles %>

<%= render 'shared/stripe_banner', item: @resource %>
