<% set_meta_tags(canonical: news.canonical_url,
                 alternate: news.alternate_options) %>

<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <h1 itemprop="headline"><%= title t('.title') %></h1>
      <% news.each do |news_article| %>
        <%= render 'news_item', news_article: news_article %>
      <% end %>
      <%= render 'pagination', news: news %>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>

<% content_for(:alternate_link) do %>
  <% alternate_locales.each do |locale| %>
    <%= link_to({ locale: locale, page_number: news.page }, id: "#{locale}Link", lang: locale) do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
