<% set_meta_tags(description: news_article.description,
                 canonical:   news_article.canonical_url,
                 alternate:   news_article.alternate_options) %>

<% content_for(:context_bar) do %>
  <% if @breadcrumbs.present? %>
    <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  <% end %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/NewsArticle">
        <h1 itemprop="headline"><%= title news_article.title %></h1>
        <hr>
        <p class="smallprint t-news-article-date">
          <time itemprop="datePublished" datetime=<%= news_article.date(format: :long) %>><%= news_article.date %></time>
        </p>

        <%= news_article.content %>
      </article>

      <%= render 'latest', news_articles: latest_news %>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>

<% content_for(:alternate_link) do %>
  <% news_article.footer_alternate_options.each do |locale, url| %>
    <%= link_to(url, id: "#{locale}Link", lang: locale, class: 'footer-secondary__link') do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
