<% content_for(:context_bar) do %>
  <% if @breadcrumbs.present? %>
    <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  <% elsif article.categories.present? %>
    <%= render 'shared/related_categories', categories: article.categories %>
  <% end %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <h1><%= t('.title') %></h1>

      <p><%= t('.mandatory_warning') %></p>

      <p><%= t('.subtitle', article_title: article.title) %></p>

      <%= form_for new_feedback, as: :feedback, url: article.feedback_path, builder: Dough::Forms::Builders::Validation do |f| %>
        <%= f.validation_summary %>
        <div class="form__row <%= 'form__row--is-errored' if f.object.errors.include?(:useful) %>">
          <%= f.errors_for :useful %>
          <fieldset class="form__group form__group--inline t-article-feedback__was-page-useful">
            <legend><%= t('.was_page_useful_html') %></legend>
            <div class="form__group-item">
              <label>
                <%= f.radio_button :useful, 'Yes', class: 'form__group-input t-article-feedback__was-page-useful--yes' %>
                <%= t('.yes') %>
              </label>
            </div>
            <div class="form__group-item">
              <label>
                <%= f.radio_button :useful, 'No', class: 'form__group-input t-article-feedback__was-page-useful--no' %>
                <%= t('.no') %>
              </label>
            </div>
          </fieldset>
        </div>

        <div class="form__row <%= 'form__row--is-errored' if f.object.errors.include?(:suggestions) %>">
          <%= f.errors_for :suggestions %>
          <label for="email" class="form__label-heading"><%= t('.tell_us_more_html') %></label>
          <%= f.text_area :suggestions, :cols => 60, :rows => 6, 'aria-required' => true, :class => 't-article-feedback__suggestions' %>
        </div>

        <input class="button button--primary t-article-feedback__submit" type="submit" value="<%= t('.submit_button') %>">
      <% end %>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>

<% content_for(:alternate_link) do %>
  <% article.footer_alternate_options.each do |locale, url| %>
    <%= link_to(url, id: "#{locale}Link", lang: locale, class: 'footer-secondary__link') do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
