<% content_for :main do %>
  <a class="skip-to-content" href="#main">Skip to main content</a>
  <%= render 'shared/opt_out_bar' %>
  <%= render 'shared/header' %>
  <div class="l-container l-container--body">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
<% end %>

<%= render template: 'layouts/styleguide' %>
