<% content_for :main do %>
  <a class="skip-to-link" href="#main">Skip to main content</a>

  <% if display_skip_to_main_navigation? %>
    <a class="skip-to-link" href="#primary-nav">Skip to main navigation</a>
  <% end %>

  <%= render 'shared/opt_out_bar' %>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/contact' %>
  <%= render 'shared/footer' %>
<% end %>

<%= render template: 'layouts/styleguide' %>
