<% content_for :main do %>
  <a class="skip-to-link" href="#main">Skip to main content</a>

  <% if display_skip_to_main_navigation? %>
    <a class="skip-to-link" href="#primary-nav">Skip to main navigation</a>
  <% end %>

  <%= render 'shared/opt_out_bar' %>
  <%= render 'shared/header' %>

  <% if content_for?(:context_bar) %>
    <div class="l-context-bar">
      <div class="l-constrained">
        <%= yield :context_bar %>
      </div>
    </div>
  <% end %>

  <div class="l-constrained">
    <%= yield %>
  </div>

  <%= render 'shared/contact' %>
  <%= render 'shared/footer' %>
<% end %>

<%= render template: 'layouts/styleguide' %>
