<% set_meta_tags(title:       t('retirements.meta.title'),
                 description: t('retirements.meta.description'),
                 canonical:   t('retirements.meta.canonical')) %>

<% content_for(:alternate_link) do %>
  <% locale_options.each do |locale, url| %>
    <%= link_to(url, lang: locale, class: "t-#{locale}-link") do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>

<div class="l-section l-section--intro">
  <div class="l-constrained">
      <h1 class="l-1col"><%= t('retirements.section1.title') %></h1>
      <div class="l-2col-even">
        <div class="video-wrapper">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/l26rUJby0cA?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p><%= raw t('retirements.section1.video_caption_html') %></p>
      </div>
      <div class="l-2col-even">
        <p class="intro"><%= t('retirements.section1.intro') %></p>
        <ul class="list">
          <% t('retirements.section1.bullets').each do |text| %>
            <li><%= text %></li>
          <% end %>
        </ul>
      </div>
  </div>
</div>

<div class="l-section">
  <div class="l-constrained">
    <% t('retirements.section2').each do |panel| %>
      <div class="l-3col-even retirements-panel">
        <% if panel.has_key?(:url) then %>
          <a href="<%= panel[:url] %>">
        <% end %>
          <% if (panel.has_key?(:image)) then %>
            <%= image_tag panel[:image], class: 'retirements-panel__image', alt: '' %>
          <% else %>
            <div class="retirements-panel__image--placeholder"></div>
          <% end %>
          <h2 class="retirements-panel__title"><%= panel[:text] %></h2>
        <% if panel.has_key?(:url) then %>
          </a>
        <% end %>

        <p><%= panel[:body] %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="l-section l-section--odd">
  <div class="l-constrained">
    <% t('retirements.section3').each do |panel| %>
      <div class="l-3col-even">
        <h2><%= panel[:title] %></h2>
        <ul class="link-list">
          <% panel[:links].each do |link| %>
            <li><%= link_to link[:text], link[:url] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="l-section">
  <div class="l-constrained">
    <div class="l-row retirements-panels retirements-panels--first">
      <% t('retirements.section4.panels1').each do |panel| %>
        <div class="l-3col-even retirements-panels__panel">
          <h3><%= panel[:title] %></h3>
          <ul class="link-list">
            <% panel[:links].each do |link| %>
              <li><%= link_to link[:text], link[:url] %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="l-row retirements-panels retirements-panels--last">
      <% t('retirements.section4.panels2').each do |panel| %>
        <div class="l-3col-even retirements-panels__panel">
          <h3><%= panel[:title] %></h3>
          <ul class="link-list">
            <% panel[:links].each do |link| %>
              <li><%= link_to link[:text], link[:url] %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
