<%= heading_tag 'Tools and calculator syndication' %>

<p class="intro">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, sequi debitis voluptates quas cupiditate consectetur sapiente vero esse sit, provident enim nemo, obcaecati ipsa optio officia minima, ullam iste consequuntur.
</p>

<%= heading_tag 'Our popular tools', level: 2 %>

<div class="l-promos">
  <div class="l-3col-even">
    <%= heading_tag(level: 3, class: 'promo__heading') do %>
      <%= link_to '#', class: 'promo__link' do %>
        <%= image_tag('http://placehold.it/200x100', class: 'promo__img') %>
        Lorem ipsum dolor
      <% end %>
    <% end %>
    <p class="promo__content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae ea corporis nihil.
    </p>
  </div>
  <div class="l-3col-even">
    <%= heading_tag(level: 3, class: 'promo__heading') do %>
      <%= link_to '#', class: 'promo__link' do %>
        <%= image_tag('http://placehold.it/200x100', class: 'promo__img') %>
        Lorem ipsum dolor
      <% end %>
    <% end %>
    <p class="promo__content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae ea corporis nihil.
    </p>
  </div>
  <div class="l-3col-even">
    <%= heading_tag(level: 3, class: 'promo__heading') do %>
      <%= link_to '#', class: 'promo__link' do %>
        <%= image_tag('http://placehold.it/200x100', class: 'promo__img') %>
        Lorem ipsum dolor
      <% end %>
    <% end %>
    <p class="promo__content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae ea corporis nihil.
    </p>
  </div>
</div>

<%= heading_tag 'All tools', level: 2 %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum, beatae dicta.
</p>

<div class="directory directory--partnerships">
  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
    <p class="directory__description">Also available in Welsh</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
    <p class="directory__description">Also available in Welsh</p>

  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
    <p class="directory__description">Also available in Welsh</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
  </div>

  <div class="directory__item">
    <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
      <%= link_to 'Ipsum Dolor Sim Amet', '#', class: 'directory__link' %>
    <% end %>

    <p class="directory__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolor sit amet, consectetur.</p>
    <p class="directory__description">Also available in Welsh</p>
  </div>

</div>

