<%= heading_tag t('corporate_tool_directory.popular_tools.heading'), level: 2, class: 'popular_tools_heading' %>

<div class="l-promo-partnerships promo promo--partnerships">
  <div class="l-promo-partnerships__item">
    <%= heading_tag(level: 3, class: 'promo__heading') do %>
      <%= link_to tool_path('pension-calculator'), class: 'promo__link' do %>
        <%= image_tag('corporate/pension_calculator.png', class: 'promo__img') %>
        <%= t('corporate_tool_directory.popular_tools.tool_one_heading') %>
      <% end %>
    <% end %>
    <p class="promo__content">
      <%= t('corporate_tool_directory.popular_tools.tool_one_content') %>
    </p>
  </div>
  <div class="l-promo-partnerships__item">
    <%= heading_tag(level: 3, class: 'promo__heading') do %>
      <%= link_to tool_path('budget-planner'), class: 'promo__link' do %>
        <%= image_tag('corporate/budget_planner.png', class: 'promo__img') %>
        <%= t('corporate_tool_directory.popular_tools.tool_two_heading') %>
      <% end %>
    <% end %>
    <p class="promo__content">
      <%= t('corporate_tool_directory.popular_tools.tool_two_content') %>
    </p>
  </div>
  <div class="l-promo-partnerships__item">
    <%= heading_tag(level: 3, class: 'promo__heading') do %>
      <%= link_to tool_path('mortgage-affordability-calculator'), class: 'promo__link' do %>
        <%= image_tag('corporate/mortgage_affordability_calculator.png', class: 'promo__img') %>
        <%= t('corporate_tool_directory.popular_tools.tool_three_heading') %>
      <% end %>
    <% end %>
    <p class="promo__content">
      <%= t('corporate_tool_directory.popular_tools.tool_three_content') %>
    </p>
  </div>
</div>

<%= heading_tag t('corporate_tool_directory.all_tools.heading'), level: 2, class: 'all_tools_heading' %>

<p>
  <%= t('corporate_tool_directory.all_tools.description') %>
</p>

<div class="directory directory--partnerships">
  <% @syndication_tools.contents.each do |tool| %>
    <div class="directory__item">
      <%= heading_tag(level: heading_level ||= 3, class: 'directory__title') do %>
        <%= link_to tool.title, corporate_path(tool.id), class: 'directory__link' %>
      <% end %>

      <p class="directory__description"><%= tool.description %></p>
    </div>
  <% end %>

</div>
