<%= render 'shared/header', item: @resource %>
<div class="l-constrained">
  <h1 class="l-offline__heading"><%= t('offline.heading') %></h1>
  <div class="l-offline__body">
    <h2><%= t('offline.subheading') %></h2>
    <p><%= t('offline.text') %></p>
    <p>
        <a href="tel:<%= t('offline.phone') %>" class="l-offline__phone"><%= t('offline.phone') %> *</a>
    </p>
    <ul class="l-offline__dates">
        <%= t('offline.dates_html') %>
    </ul>
    <p class="smallprint"><%= t('offline.note_html') %></p>
  </div>
</div>
