<h1><%= t('offline.heading') %></h1>
<h2><%= t('offline.subheading') %></h2>
<p><%= t('offline.text') %></p>
<p><%= t('offline.phone') %></p>
<ul><%= t('offline.dates_html') %></ul>
<p><%= t('offline.note_html') %></p>
