<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">

      <h1><%= t('corporate_home.title') %></h1>

      <p><%= t('corporate_home.description') %></p>

      <div class="l-promo-corporate">
        <div class="l-promo-corporate__item">
          <a class="promo__link" href="/en/corporate_categories/about-us">
            <%= image_tag('corporate/about_us_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.about_us.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.about_us.content') %></p>
          </a>
        </div>
        <div class="l-promo-corporate__item">
          <a class="promo__link" href="/en/corporate_categories/media-centre">
            <%= image_tag('corporate/media_centre_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.media_centre.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.media_centre.content') %></p>
          </a>
        </div>
        <div class="l-promo-corporate__item">
          <a class="promo__link" href="/en/corporate_categories/partners">
            <%= image_tag('corporate/partners_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.partners.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.partners.content') %></p>
          </a>
        </div>
        <div class="l-promo-corporate__item">
          <a class="promo__link" href="/en/corporate_categories/our-debt-work">
            <%= image_tag('corporate/our_debt_work_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.our_debt_work.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.our_debt_work.content') %></p>
          </a>
        </div>
        <div class="l-promo-corporate__item">
          <a class="promo__link" href="/en/corporate_categories/resources-for-professionals">
            <%= image_tag('corporate/professional_resources_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.resources.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.resources.content') %></p>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/mas_sections_link' %>
  <%= render 'shared/nav',
             categories:        category_navigation(corporate_category?(category.object.id)),
             active_categories: active_categories %>
</div>
