<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">

      <h1><%= t('corporate_home.title') %></h1>

      <p><%= t('corporate_home.description') %></p>

      <div class="l-promo-corporate">
        <div class="l-promo-corporate__item">
          <%= link_to corporate_article_path(t('corporate_home.about_us.link')), class: 'promo__link' do %>
            <%= image_tag('corporate/about_us_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.about_us.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.about_us.content') %></p>
          <% end %>
        </div>
        <div class="l-promo-corporate__item">
          <%= link_to corporate_article_path(t('corporate_home.media_centre.link')), class: 'promo__link' do %>
            <%= image_tag('corporate/media_centre_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.media_centre.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.media_centre.content') %></p>
          <% end %>
        </div>
        <div class="l-promo-corporate__item">
          <%= link_to corporate_category_path(t('corporate_home.partners.link')), class: 'promo__link' do %>
            <%= image_tag('corporate/partners_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.partners.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.partners.content') %></p>
          <% end %>
        </div>
        <div class="l-promo-corporate__item">
          <%= link_to corporate_category_path(t('corporate_home.our_debt_work.link')), class: 'promo__link' do %>
            <%= image_tag('corporate/our_debt_work_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.our_debt_work.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.our_debt_work.content') %></p>
          <% end %>
        </div>
        <div class="l-promo-corporate__item">
          <%= link_to corporate_category_path(t('corporate_home.resources.link')), class: 'promo__link' do %>
            <%= image_tag('corporate/professional_resources_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.resources.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.resources.content') %></p>
          <% end %>
        </div>
        <div class="l-promo-corporate__item">
          <%= link_to corporate_article_path(t('corporate_home.research.link')), class: 'promo__link' do %>
            <%= image_tag('corporate/research_promo.jpg', class:'promo__img') %>
            <h2 aria-level="2" class="promo__heading" role="heading"><%= t('corporate_home.research.heading') %></h2>
            <p class="promo__content"><%= t('corporate_home.research.content') %></p>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/mas_sections_link' %>
  <%= render 'shared/nav',
             categories:        category_navigation(corporate_category?(category.object.id)),
             active_categories: active_categories %>
</div>
