<section>
  <div class="l-section">
    <div class="l-3col-even">
      <%= link_to t('employer_best_practices.page_navigator.navigation_option_1_url') do %>
        <%= image_tag('atm_en.png', class: 'employer-best-practices__panel-image', alt: '') %>
        <h2 class="employer-best-practices__panel-title">
          <%= t('employer_best_practices.page_navigator.navigation_option_1_title') %>
        </h2>
      <% end %>
      <p>
        <%= t('employer_best_practices.page_navigator.navigation_option_1_content') %>
      </p>
    </div>
    <div class="l-3col-even">
      <%= link_to t('employer_best_practices.page_navigator.navigation_option_2_url') do %>
        <%= image_tag('employer_best_practices/landing-page/employer-best-practices__business-faq.png', class: 'employer-best-practices__panel-image', alt: '') %>
        <h2 class="employer-best-practices__panel-title">
          <%= t('employer_best_practices.page_navigator.navigation_option_2_title_html') %>
        </h2>
      <% end %>
      <p>
        <%= t('employer_best_practices.page_navigator.navigation_option_2_content') %>
      </p>
    </div>
    <div class="l-3col-even">
      <%= link_to t('employer_best_practices.page_navigator.navigation_option_3_url') do %>
        <%= image_tag('campaign/debt-management-side1.jpg', class: 'employer-best-practices__panel-image', alt: '') %>
        <h2 class="employer-best-practices__panel-title">
          <%= t('employer_best_practices.page_navigator.navigation_option_3_title') %>
        </h2>
      <% end %>
      <p>
        <%= t('employer_best_practices.page_navigator.navigation_option_3_content') %>
      </p>
    </div>
  </div>
</section>
