<% set_meta_tags(title: t('employer_best_practices.faqs.page_title')) %>

<section class="faq-section employer-best-practices" id="back-to-top">
  <div class="l-constrained">
    <div class="l-1col">
      <h1 role="heading" aria-level="1">
        <%= t('employer_best_practices.faqs.title') %>
      </h1>
      <ul class="list">
        <li>
          <%= link_to t('employer_best_practices.faqs.anchor_1_url') do %>
          <strong><%= t('employer_best_practices.faqs.anchor_1_text') %></strong>
          <% end %>
        </li>
        <li>
          <%= link_to t('employer_best_practices.faqs.anchor_2_url') do %>
          <strong><%= t('employer_best_practices.faqs.anchor_2_text') %></strong>
          <% end %>
        </li>
        <li>
          <%= link_to t('employer_best_practices.faqs.anchor_3_url') do %>
          <strong><%= t('employer_best_practices.faqs.anchor_3_text') %></strong>
          <% end %>
        </li>
        <li>
          <%= link_to t('employer_best_practices.faqs.anchor_4_url') do %>
          <strong><%= t('employer_best_practices.faqs.anchor_4_text') %></strong>
          <% end %>
        </li>
        <li>
          <%= link_to t('employer_best_practices.faqs.anchor_5_url') do %>
          <strong><%= t('employer_best_practices.faqs.anchor_5_text') %></strong>
          <% end %>
        </li>
      </ul>
      <h2 id="what-financial-information-can-i-give-my-employees" role="heading" aria-level="2">
        <%= t('employer_best_practices.faqs.financial_information_title') %>
      </h2>
      <ul class="list">
        <li>
          <%= t('employer_best_practices.faqs.financial_information_content_html') %>
        </li>
      </ul>
      <h2 id="how-do-i-get-started" role="heading" aria-level="2">
        <%= t('employer_best_practices.faqs.get_started_title') %>
      </h2>
      <ul class="list">
        <li><%= t('employer_best_practices.faqs.get_started_list_item1_html') %></li>
        <li><%= t('employer_best_practices.faqs.get_started_list_item2_html') %></li>
        <li><%= t('employer_best_practices.faqs.get_started_list_item3_html') %></li>
      </ul>
      <h2 id="what-do-i-do-if-my-employee-has-more-questions" role="heading" aria-level="2">
        <%= t('employer_best_practices.faqs.questions_title') %>
      </h2>
      <ul class="list">
        <li>
          <%= t('employer_best_practices.faqs.questions_content_html') %>
        </li>
      </ul>
      <h2 id="how-did-we-put-this-guide-together" role="heading" aria-level="2">
        <%= t('employer_best_practices.faqs.guide_title') %>
      </h2>
      <ul class="list">
        <%= t('employer_best_practices.faqs.guide_content_html') %>
      </ul>
      <div class="callout callout--tip employer-best-practices__callout employer-best-practices__callout--employers">
        <span class="callout__icon  employers-callout-icon" aria-hidden="true"></span>
        <h3 role="heading" aria-level="3">
          <%= t('employer_best_practices.faqs.employers_box_title') %>
        </h3>
        <div class="seperator">
          <ul class="list">
            <li>
              <%= t('employer_best_practices.faqs.employers_box_content_1') %>
            </li>
          </ul>
        </div>
        <div>
          <ul class="list">
            <li>
              <%= t('employer_best_practices.faqs.employers_box_content_2') %>
            </li>
          </ul>
        </div>
      </div>
      <div class="employer-best-practices__together-guide">
        <%= image_tag t('employer_best_practices.faqs.image_url') %>
      </div>
      <div class="experts-employee-container">
        <div class="callout callout--tip employer-best-practices__callout employer-best-practices__callout--experts">
          <span class="callout__icon experts-callout-icon" aria-hidden="true"></span>
          <h3 role="heading" aria-level="3">
            <%= t('employer_best_practices.faqs.experts_box_title') %>
          </h3>
          <div class="seperator">
            <ul class="list">
              <li>
                <%= t('employer_best_practices.faqs.experts_box_content_1') %>
              </li>
            </ul>
          </div>
          <div>
            <ul class="list">
              <li>
                <%= t('employer_best_practices.faqs.experts_box_content_2') %>
              </li>
            </ul>
          </div>
        </div>
        <div class="callout callout--tip employer-best-practices__callout employer-best-practices__callout--employees">
          <span class="callout__icon employees-callout-icon" aria-hidden="true"></span>
          <h3 role="heading" aria-level="3">
            <%= t('employer_best_practices.faqs.employees_box_title') %>
          </h3>
          <div class="seperator">
            <ul class="list">
              <li>
                <%= t('employer_best_practices.faqs.employees_box_content_1') %>
              </li>
            </ul>
          </div>
          <div>
            <ul class="list">
              <li>
                <%= t('employer_best_practices.faqs.employees_box_content_2') %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h2 id="how-do-link-the-guide-to-my-intranet" role="heading" aria-level="2">
        <%= t('employer_best_practices.faqs.link_guide_title') %>
      </h2>
      <ul class="list">
        <li>
          <%= t('employer_best_practices.faqs.link_guide_content_html') %>
        </li>
      </ul>
    </div>
  </div>
</section>

<%= render 'back_to_top' %>
