<% set_meta_tags(title: t('employer_best_practices.help.page_title')) %>

 <section class="intro-section" id="back-to-top">
  <div class="l-constrained">
    <div class="l-1col">
      <h1 role="heading" class="help-header" aria-level="1">
        <%= t('employer_best_practices.help.heading') %>
      </h1>
      <p>
        <strong>
          <%= t('employer_best_practices.help.intro_text') %>
        </strong>
      </p>
    </div>
  </div>
</section>

<section class="more-ways-you-can-help">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--1"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <p>
            <%= t('employer_best_practices.help.linear.slot_1_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--2"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <p>
            <%= t('employer_best_practices.help.linear.slot_2_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--3"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <p>
            <%= t('employer_best_practices.help.linear.slot_3_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--4"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <p>
            <%= t('employer_best_practices.help.linear.slot_4_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--5"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <p>
            <%= t('employer_best_practices.help.linear.slot_5_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--6"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <p>
            <%= t('employer_best_practices.help.linear.slot_6_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--7"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <p>
            <%= t('employer_best_practices.help.linear.slot_7_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--8"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <p>
            <%= t('employer_best_practices.help.linear.slot_8_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--9"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <p>
            <%= t('employer_best_practices.help.linear.slot_9_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--10"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <p>
            <%= t('employer_best_practices.help.linear.slot_10_html') %>
          </p>
        </div>
      </div>
      <div class="linear employer-best-practices__linear--help">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot line-marker__small-outline-dot--11"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <p>
            <%= t('employer_best_practices.help.linear.slot_11_html') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'back_to_top' %>
