<% set_meta_tags(title: t('employer_best_practices.money_guide.page_title')) %>

 <div class="l-constrained">

  <!-- Download -->
  <section id="back-to-top">
    <div class="intro-section">
      <div class="l-constrained">
        <div class="employer-best-practices__download-pdf">
          <%= link_to t('employer_best_practices.money_guide.download_url'), class: 'employer-best-practices__download-pdf-link' do %>
            <%= image_tag('employer_best_practices/money-guide/pdf_icon.png', class: 'employer-best-practices__pdf-icon') %>
            <%= image_tag('employer_best_practices/money-guide/download_icon.png', class: 'employer-best-practices__download-icon') %>
            <span class="employer-best-practices__download-pdf-desktop">
              <%= t('employer_best_practices.money_guide.download_button') %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="intro-section">
    <div class="l-constrained">
      <div class="l-1col">
      <h1><%= t('employer_best_practices.money_guide.heading') %></h1>
        <p class="intro">
          <%= t('employer_best_practices.money_guide.intro_text') %>
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="l-constrained">
      <div class="l-1col">
        <div class="graphic-info-box">
          <div class="graphic-info-box__top-dot"></div>
          <h2 class="graphic-info-box__heading">
            <%= t('employer_best_practices.money_guide.linear.take_control.title') %>
          </h2>
          <div class="graphic-info-box__illustration">
            <%= image_tag('employer_best_practices/money-guide/employer-best-practices__take-control.png', class: 'employer-best-practices__timeline-image') %>
          </div>
          <div class="graphic-info-box__line-fade-in"></div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.take_control.slot_1_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.take_control.slot_2_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.take_control.slot_3_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.take_control.slot_4_html') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="l-constrained">
      <div class="l-1col">
        <div class="graphic-info-box">
          <div class="graphic-info-box__inline-dot"></div>
          <h2 class="graphic-info-box__heading">
            <%= t('employer_best_practices.money_guide.linear.entitlements.title') %>
          </h2>
          <div class="graphic-info-box__illustration">
            <%= image_tag('retirement_concepts/moving-into-retirement@2x.png') %>
          </div>
          <div class="graphic-info-box__line-fade-in"></div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.entitlements.slot_1_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.entitlements.slot_2_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.entitlements.slot_3_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.entitlements.slot_4_html') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="l-constrained">
      <div class="l-1col">
        <div class="graphic-info-box">
          <div class="graphic-info-box__inline-dot"></div>
          <h2 class="graphic-info-box__heading">
            <%= t('employer_best_practices.money_guide.linear.unexpected.title') %>
          </h2>
          <div>
            <%= image_tag('employer_best_practices/money-guide/plan_for_the_unexpected.png') %>
          </div>
          <div class="graphic-info-box__line-fade-in"></div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.unexpected.slot_1_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.unexpected.slot_2_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.unexpected.slot_3_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.unexpected.slot_4_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.unexpected.slot_5_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.unexpected.slot_6_html') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="l-constrained">
      <div class="l-1col">
        <div class="graphic-info-box">
          <div class="graphic-info-box__inline-dot"></div>
          <h2 class="graphic-info-box__heading">
            <%= t('employer_best_practices.money_guide.linear.securing_future.title') %>
          </h2>
          <div>
            <%= image_tag('employer_best_practices/money-guide/secure_your_future.png') %>
          </div>
          <div class="graphic-info-box__line-fade-in"></div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.securing_future.slot_1_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.securing_future.slot_2_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.securing_future.slot_3_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.securing_future.slot_4_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--right">
            <p>
              <%= t('employer_best_practices.money_guide.linear.securing_future.slot_5_html') %>
            </p>
          </div>
        </div>
        <div class="linear">
          <div class="line-marker line-marker--waypoint">
            <div class="line-marker__small-outline-dot"></div>
          </div>
          <div class="speech-bubble speech-bubble--left">
            <p>
              <%= t('employer_best_practices.money_guide.linear.securing_future.slot_6_html') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'back_to_top' %>

</div>
