<% set_meta_tags(title: t('employer_best_practices.my_business.page_title')) %>

<div class="l-constrained">
  <div class="l-1col">
    <section id="back-to-top">
      <h1><%= t('employer_best_practices.my_business.heading') %></h1>
      <p><strong><%= t('employer_best_practices.my_business.intro_text') %></strong></p>
    </section>
    <section>
      <div class="employer-best-practices__employees">
        <div class="employer-best-practices__employees-1">
          <div class="individual-employees image">
            <%= image_tag('employer_best_practices/my-business/1.png', class: 'employer-best-practices__employees-image-mobile') %>
          </div>
          <div>
            <%= t('employer_best_practices.my_business.column_1_html') %>
          </div>
        </div>
      </div>
      <div class="employer-best-practices__employees">
        <div class="employer-best-practices__employees-2">
          <div class="individual-employees image">
            <%= image_tag('employer_best_practices/my-business/2.png', class: 'employer-best-practices__employees-image-mobile') %>
          </div>
          <div>
            <%= t('employer_best_practices.my_business.column_2_html') %>
          </div>
        </div>
      </div>
      <div class="employer-best-practices__employees">
        <div class="employer-best-practices__employees-3">
          <div class="individual-employees image">
            <%= image_tag('employer_best_practices/my-business/3.png', class: 'employer-best-practices__employees-image-mobile') %>
          </div>
          <div>
            <%= t('employer_best_practices.my_business.column_3_html') %>
          </div>
        </div>
      </div>
      <div class="employer-best-practices__employees">
        <div class="employer-best-practices__employees-4">
          <div class="individual-employees image">
            <%= image_tag('employer_best_practices/my-business/4.png', class: 'employer-best-practices__employees-image-mobile') %>
          </div>
          <div>
            <%= t('employer_best_practices.my_business.column_4_html') %>
          </div>
        </div>
      </div>
      <div class="employer-best-practices__employees">
        <div class="employer-best-practices__employees-5">
          <div class="individual-employees image">
            <%= image_tag('employer_best_practices/my-business/5.png', class: 'employer-best-practices__employees-image-mobile') %>
          </div>
          <div>
            <%= t('employer_best_practices.my_business.column_5_html') %>
          </div>
        </div>
      </div>
      <div class="employer-best-practices__employees">
        <div class="employer-best-practices__employees-6">
          <div class="individual-employees image">
            <%= image_tag('employer_best_practices/my-business/7.png', class: 'employer-best-practices__employees-image-mobile') %>
          </div>
          <div>
            <%= t('employer_best_practices.my_business.column_6_html') %>
          </div>
        </div>
      </div>
      <div class="employer-best-practices__employees">
        <div class="employer-best-practices__employees-7">
          <div class="individual-employees image">
            <%= image_tag('employer_best_practices/my-business/6.png', class: 'employer-best-practices__employees-image-mobile') %>
          </div>
          <div>
            <%= t('employer_best_practices.my_business.column_7_html') %>
          </div>
        </div>
      </div>
      <div class="peoples-image-container">
        <%= image_tag('employer_best_practices/my-business/people_d.png', class: 'employer-best-practices__image-desktop') %>
      </div>
      <div class="need-your-help">
        <h3>
          <%= t('employer_best_practices.my_business.figures.heading_html') %>
        </h3>
      </div>
    </section>
    <section>
      <div class="l-constrained">
        <div class="employer-best-practices__survey">
          <div class="employer-best-practices__survey-percentage">
            <%= image_tag('employer_best_practices/my-business/30.png', class: 'employer-best-practices__survey-percentage-image') %>
          </div>
          <div class="employer-best-practices__survey-info info_1">
            <%= t('employer_best_practices.my_business.figures.figure_1_html') %>
          </div>
        </div>
        <div class="employer-best-practices__survey">
          <div class="employer-best-practices__survey-percentage">
            <%= image_tag('employer_best_practices/my-business/46.png', class: 'employer-best-practices__survey-percentage-image') %>
          </div>
          <div class="employer-best-practices__survey-info info_2">
            <%= t('employer_best_practices.my_business.figures.figure_2_html') %>
          </div>
        </div>
        <div class="employer-best-practices__survey">
          <div class="employer-best-practices__survey-percentage">
            <%= image_tag('employer_best_practices/my-business/58.png', class: 'employer-best-practices__survey-percentage-image') %>
          </div>
          <div class="employer-best-practices__survey-info info_3">
            <%= t('employer_best_practices.my_business.figures.figure_3_html') %>
          </div>
        </div>
        <div class="employer-best-practices__survey">
          <div class="employer-best-practices__survey-percentage">
            <%= image_tag('employer_best_practices/my-business/70.png', class: 'employer-best-practices__survey-percentage-image') %>
          </div>
          <div class="employer-best-practices__survey-info info_4">
            <%= t('employer_best_practices.my_business.figures.figure_4_html') %>
          </div>
        </div>
        <div class="employer-best-practices__survey">
          <div class="employer-best-practices__click-here-to-help">
            <div class="employer-best-practices__outer-circle">
              <div class="employer-best-practices__inner-circle">
                <%= link_to t('employer_best_practices.my_business.help_link_url'), class: 'employer-best-practices__help-link' do %>
                  <%= t('employer_best_practices.my_business.help_link_html') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="employer-best-practices__faq-button-container">
        <a class="button button--primary" href="faq">
          <span class="icon icon--right-chevron"></span>
          <strong>
            <%= t('employer_best_practices.my_business.faq_tips_button_html') %>
          </strong>
        </a>
      </div>
    </section>
    <%= render 'back_to_top' %>
  </div>
</div>
