<% set_meta_tags(title: 'Content Hub') %>

<div class="l-content-hub__main">
  <div class="l-content-hub__inner">
    <div class="l-constrained">
      <section class="l-content-hub__title">
        <%= heading_tag t("#{translation_prefix}.page_title"), class: 'heading-extra-large content-hub__heading', level: 1 %>
      </section>

      <section class="l-content-hub__hero">
        <div class="l-content-hub__hero-inner">
          <div
            class="content-hub__hero-image"
            style="background-image:url(/assets/content_hub/card_payment_reader.jpg)"
          ></div>
          <div class="l-content-hub__hero-content">
            <%= heading_tag t("#{translation_prefix}.hero.title"), class: 'content-hub__hero-title heading-large', level: 1 %>
            <div class="content-hub__hero-description">
              <%= t("#{translation_prefix}.hero.description_html") %>
            </div>
            <%= form_tag t("#{translation_prefix}.hero.button.url"), method: :get do %>
              <button class="button button--primary content-hub__hero-button"><%= t("#{translation_prefix}.hero.button.text") %></button>
            <% end %>
          </div>
        </div>
      </section>

      <section class="l-content-hub__modules">
        <div class="l-content-hub__modules-inner">
          <div class="l-content-hub__modules-content">
            <% t("#{translation_prefix}.blocks").each do |block| %>
              <%= render partial: "/content_hub/blocks/#{block[:type]}", locals: { block: block } %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
