<%= image_tag('campaign/interest-rate-rise-campaign-bg.jpg', alt: '', class: 'l-campaign-image') %>

<div class="l-constrained">
  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner">
      <h1><%= t('page_heading') %></h1>
      <% t('section_one.content').each do |item| %>
        <p><%= item[:text] %></p>
      <% end %>
    </div>

    <%= image_tag('http://placehold.it/300x300', alt: '', class: 'l-debtmanagement__image-small') %>
    <a class="l-debtmanagement__button button button--primary" href="#go_to_faq"><%= t('primary_button') %></a>
  </section>

  <section class="l-debtmanagement">
    <%= image_tag('http://placehold.it/300x300', alt: '', class: 'l-debtmanagement__image-small l-debtmanagement__image-small--left') %>
    <div class="l-debtmanagement__inner">
      <h2><%= t('section_two.heading') %></h2>
      <% t('section_two.content').each do |item| %>
        <p><%= raw item[:text] %></p>
      <% end %>
    </div>
  </section>


  <section class="l-debtmanagement">
    <h2><%= t('section_three.heading') %></h2>
    <%= raw t('section_three.advice_benefits') %>
  </section>

  <section class="l-debtmanagement">
  <h2><%= t('section_four.heading') %></h2>
    <form>
      <% t('countries').each do |item| %>
        <label class="l-debtmanagement__radio-item"><input type="radio" name="country_group" /><%= item[:text] %></label>
      <% end %>
    </form>
  </section>

  <section class="l-debtmanagement">
    <h3>Options available to you</h3>

    <% t('advisors').each do |item| %>
      <section class="debt-advisor l-debtmanagement__advisor">
        <%= image_tag(item[:logo], alt: item[:company_name]) %>
        <p><%= item[:description] %></p>
        <h4 class="debt-advisor__heading"><%= item[:chat_heading] %></h4>
        <p><%= item[:chat_description] %></p>
        <h5 class="debt-advisor__subheading"><%= item[:opening_hours_heading] %></h5>
        <%= raw item[:chat_opening_hours_html] %>
        <a href="" class="button button--primary"><%= item[:button] %></a>
        <h4 class="debt-advisor__heading"><%= item[:phone_heading] %></h4>
        <a href="tel:%<%= item[:phone_number] %>"><%= item[:phone_number_readable] %></a>
        <h5 class="debt-advisor__subheading"><%= item[:opening_hours_heading] %></h5>
        <%= raw item[:phone_opening_hours] %>
        <a href="mailto:<%= item[:email] %>"><%= item[:email] %></a>
      </section>
    <% end %>
  </section>
</div>

<div class="l-tool-advert">
  <div class="l-constrained">
    <div class="l-tool-advert__inner">
      <h2 class="l-tool-advert__heading"><%= t('tool_advert.heading') %></h2>
      <p><%= t('tool_advert.description_html') %></p>
    </div>
  </div>
</div>
