<div class="l-constrained">
  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner l-debtmanagement__inner--with-image">
      <h1><%= t('page_heading') %></h1>
      <% t('section_one.content').each do |item| %>
        <p><%= item[:text] %></p>
      <% end %>
    </div>

    <%= image_tag('campaign/debt-management-side1.jpg', alt: '', class: 'l-debtmanagement__image-small') %>

    <div class="l-debtmanagement__button">
      <a class=" button button--primary button--fill-width" href="#get-debt-help-now"><%= t('primary_button') %></a>
    </div>
  </section>

  <section class="l-debtmanagement">
    <%= image_tag('campaign/debt-management-side2.jpg', alt: '', class: 'l-debtmanagement__image-small l-debtmanagement__image-small--left') %>
    <div class="l-debtmanagement__inner l-debtmanagement__inner--with-image">
      <h2><%= t('section_two.heading') %></h2>
      <% t('section_two.content').each do |item| %>
        <p><%= raw item[:text] %></p>
      <% end %>
    </div>
  </section>

  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner">
      <h2><%= t('section_three.heading') %></h2>
      <%= raw t('section_three.advice_benefits') %>
    </div>
  </section>

  <a name="get-debt-help-now"></a>

  <section class="l-debtmanagement l-debtmanagement--filters" data-dough-component="InputFilters" data-dough-input-filters-config='{"target": ".l-debtmanagement--options, .js-tool-advert", "jumpTo": "get-debt-help-now"}'>
    <div class="l-debtmanagement__inner">
      <h2><%= t('section_four.heading') %></h2>
      <% t('section_four.content').each do |item| %>
        <p><%= raw item[:text] %></p>
      <% end %>
      <form>
        <% t('countries').each do |id, country| %>
          <span class="l-debtmanagement__radio-item input-filter">
            <input class="input-filter__input" type="radio" name="country_group" id="country-group-<%= id %>" data-country="<%= id %>" />
            <label class="input-filter__label" for="country-group-<%= id %>">
              <%= country %>
            </label>
            <span class="input-filter__border"></span>
          </span>
        <% end %>
      </form>
    </div>
  </section>

  <section class="l-debtmanagement l-debtmanagement--options">
    <h3 class="l-debtmanagement__heading"><%= t('options_heading') %></h3>

    <% t('advisors').each do |country, advisors| %>
      <section class="js-debtmanagement-country" data-dough-input-filter="country-group-<%= country %>">
        <h4 class="l-debtmanagement__country-heading"><%= t('countries')[country] %></h4>
        <% advisors.each do |advisor| %>
          <section class="debt-advisor l-debtmanagement__advisor">
            <a href="<%= advisor[:url] %>">
              <%= image_tag(advisor[:logo], alt: advisor[:company_name]) %>
            </a>
            <% if advisor[:description] %>
              <p><%= advisor[:description] %></p>
            <% end %>
            <h5 class="debt-advisor__heading"><%= advisor[:online_heading] %></h5>
            <% if advisor[:online_description] %>
              <p><%= advisor[:online_description] %></p>
            <% end %>
            <% if advisor[:online_opening_hours_heading] %>
              <h6 class="debt-advisor__subheading"><%= advisor[:opening_hours_heading] %></h6>
            <% end %>
            <% if advisor[:online_opening_hours_html] %>
              <%= raw advisor[:online_opening_hours_html] %>
            <% end %>
            <a href="<%= advisor[:url] %>" class="button button--primary debt-advisor__go-to-button">
              <%= raw advisor[:button] %>
            </a>
            <h5 class="debt-advisor__heading"><%= advisor[:phone_heading] %></h5>
            <a class="debt-advisor__phone" href="tel:<%= advisor[:phone_number] %>"><%= advisor[:phone_number_readable] %></a>
            <% if advisor[:phone_opening_hours_heading] %>
              <h6 class="debt-advisor__subheading"><%= advisor[:phone_opening_hours_heading] %></h6>
            <% end %>
            <% if advisor[:phone_opening_hours] %>
              <%= raw advisor[:phone_opening_hours] %>
            <% end %>
            <% if advisor[:email] %>
              <a class="debt-advisor__email" href="mailto:<%= advisor[:email] %>"><%= advisor[:email] %></a>
            <% end %>
          </section>
      <% end %>
      </section>
    <% end %>
  </section>

  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner l-debtmanagement__inner--with-image">
      <h2 class="l-debtmanagement__companies-heading"><%= t('companies.title') %></h2>
      <div class="l-debtmanagement__companies-list">
        <%= t('companies.intro_html') %>
        <ul>
          <% companies_list.each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
</div>

<div class="l-tool-advert">
  <div class="l-constrained">
    <div class="l-tool-advert__inner">
      <h2 class="l-tool-advert__heading"><%= t('tool_advert.heading') %></h2>
      <%= t('tool_advert.description_html') %>
    </div>
  </div>
</div>
