<% set_meta_tags(title:       t('debt_management.meta.title'),
                 description: t('debt_management.meta.description'),
                 canonical:   t('debt_management.meta.canonical'),
                 alternate:   t('debt_management.meta.alternate')) %>
<div class="l-constrained">
  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner l-debtmanagement__inner--with-image">
      <h1><%= t('page_heading') %></h1>
      <% t('section_one.content').each do |item| %>
        <p><%= item[:text] %></p>
      <% end %>
    </div>

    <%= image_tag('campaign/debt-management-side1.jpg', alt: '', class: 'l-debtmanagement__image-small') %>

    <div class="l-debtmanagement__button">
      <a class=" button button--primary button--fill-width" href="#get-debt-help-now"><%= t('primary_button') %></a>
    </div>
  </section>

  <section class="l-debtmanagement">
    <%= image_tag('campaign/debt-management-side2.jpg', alt: '', class: 'l-debtmanagement__image-small l-debtmanagement__image-small--left') %>
    <div class="l-debtmanagement__inner l-debtmanagement__inner--with-image">
      <h2><%= t('section_two.heading') %></h2>
      <% t('section_two.content').each do |item| %>
        <p><%= raw item[:text] %></p>
      <% end %>
    </div>
  </section>

  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner">
      <h2><%= t('section_three.heading') %></h2>
      <%= raw t('section_three.advice_benefits') %>
    </div>
  </section>

  <a name="get-debt-help-now"></a>

  <section class="l-debtmanagement l-debtmanagement--options">
    <% t('advisors').each do |advisor| %>
      <section class="debt-advisor l-debtmanagement__advisor">
        <div class="debit-advisor__online">
          <a href="<%= advisor[:url] %>">
            <%= image_tag(advisor[:logo], alt: advisor[:company_name]) %>
          </a>
          <% if advisor[:description] %>
            <p><%= advisor[:description] %></p>
          <% end %>
          <% if advisor[:online_description] %>
            <p><%= advisor[:online_description] %></p>
          <% end %>
          <a href="<%= advisor[:url] %>" class="button debt-advisor__go-to-button">
            <%= raw advisor[:button] %>
          </a>
        </div>
      </section>
    <% end %>
  </section>

  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner l-debtmanagement__inner--with-image">
      <h2 class="l-debtmanagement__companies-heading"><%= t('companies.title') %></h2>
      <div class="l-debtmanagement__companies-list">
        <%= company_list.content %>
      </div>
    </div>
  </section>
</div>

<div class="l-tool-advert">
  <div class="l-constrained">
    <div class="l-tool-advert__inner">
      <h2 class="l-tool-advert__heading"><%= t('tool_advert.heading') %></h2>
      <%= t('tool_advert.description_html') %>
    </div>
  </div>
</div>
