<div class="l-car-campaign__section l-car-campaign__section--<%= section.css_name %>">
  <div class="l-car-campaign__section-row">
    <div class="l-car-campaign__section-text">
      <%= heading_tag section.title, level: 2, class: 'l-car-campaign__section-heading' %>
      <p><%= section.intro %></p>
    </div>

    <% if section.trust_message? %>
      <div class="l-car-campaign__trust-message">
        <div class="logo logo--green">
          <span class="visually-hidden">section.hidden_logo_message </span>
        </div>
        <%= heading_tag section.trust_title, level: 2 %>
        <%= section.trust_content %>
      </div>
    <% else %>
      <div class="l-car-campaign__section-media"></div>
    <% end %>

    <div class="l-car-campaign__section-text">
      <ul class="unstyled-list">
        <%= render partial: 'article', collection: section %>
      </ul>
    </div>
  </div>
</div>
<% if section.separator? %>
<div class="l-car-campaign__section-separator"></div>
<% end %>
