<%= render 'shared/campaign_canonical' %>

<div class="l-constrained">
  <article>
    <div class="l-campaign__content l-campaign__content--padded-top">
      <%= heading_tag 'Budgeting to get through January', class: 'l-campaign__heading', level: 1 %>
      <p>
        The cost of Christmas can mount up for many people, eating into the January budget. It can be a long and difficult month, with money issues becoming a struggle.
      </p>
      <p>
        It can also be a great time to review your money – your income and outgoings – and make some changes so you are better off. We have a range of tools that could help you manage your money better and get to grips with budgeting.We can also help you to look at where you might cut back on day-to-day purchases.
      </p>
      <p>
        Finally, read our <a href="/en/news/new-years-money-resolutions-31122013">New Year’s money resolutions - ten tips for a 2014 makeover</a> and make your money go further.
      </p>

      <div class="callout">
        <%= heading_tag 'Who is MA anyway?', level: 3 %>
        <p>
          We’re the Money Advice Service, an independent service set up by government to help people like you make the most of your money.
        </p>
        <p>
          We give free, unbiased money advice online, on webchat, over the phone, in printed guides and face to face.
        </p>
      </div>
    </div>

    <section class="l-campaign__next-steps">
      <%= heading_tag 'Get started by using the tools below', class: 'l-campaign__next-steps-heading', level: 2 %>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/money-stretcher">
          <%= heading_tag 'Money stretcher calculator', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Use this to work out how long your money could last over a particular period.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/budget-planner">
          <%= heading_tag 'Budget planner', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Use this Budget planner to work out how much money you have coming in and what you're spending it on.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/health-check">
          <%= heading_tag 'Money health check', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Use the Money health check to give you a picture of your finances and an action plan.
          </p>
        </a>
      </div>
    </section>
  </article>
</div>

<%= render 'shared/campaign_trust_banner' %>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('home.show.directory_heading_two') %>
    <% end %>

    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
