<%= render 'shared/campaign_canonical' %>

<div class="l-constrained">
  <article>
    <div class="l-campaign__content l-campaign__content--padded-top">
      <%= heading_tag 'Coping with unexpected bills', class: 'l-campaign__heading', level: 1 %>
      <p>
        The car needs repairing. Your boiler breaks down. The washing machine packs it in. We can all be caught out by unplanned events.
      </p>
      <p>
        In fact, our recent Financial Capability of the UK study found that more than two out of five people  would have to think about how to cover an unexpected bill of £300.
      </p>
      <p>
        <a href='/en/videos/unexpected-costs-tv-advert'>Watch our latest video</a>
      </p>
      <p>
        <b>Take the steps below to be better prepared for unexpected costs.</b>
      </p>

      <%= heading_tag 'Save', level: 2 %>
      <p>
        It’s best to have an emergency savings fund for sudden expenses but how much is enough? This handy guide will help you determine how much to save.
      </p>
      <ul>
        <li>
          <a href="/en/articles/emergency-savings-how-much-is-enough">Read more</a>
        </li>
      </ul>

      <%= heading_tag 'Act now', level: 2 %>
      <p>
        Follow this step-by-step action plan to help you save money on utility bills, shopping and travel costs, making your hard-earned cash go further.
      </p>
      <ul>
        <li>
          <a href="/en/action_plans/how-to-make-your-money-go-further">Get started</a>
        </li>
      </ul>

      <%= heading_tag 'Cut back', level: 2 %>
      <p>
        Use this calculator to work out where you can make savings on things that you buy regularly. It’s quick and easy and will only take five minutes to complete.
      </p>
      <ul>
        <li>
          <a href="/en/tools/cut-back-calculator">Try it now</a>
        </li>
      </ul>

    </div>

    <section class="l-campaign__next-steps">
      <%= heading_tag 'About us', level: 3 %>
      <p>
        We’re the Money Advice Service, an independent service set up by government to help people like you make the most of their money. We give free, unbiased money advice online, on webchat, over the phone, in printed guides and face to face.
      </p>
    </section>
  </article>
</div>

<%= render 'shared/campaign_trust_banner' %>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('home.show.directory_heading_two') %>
    <% end %>

    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
