<div class="l-constrained">
  <article>
    <div class="l-campaign__content l-campaign__content--padded-top">
      <%= heading_tag 'Have a savvy Christmas', class: 'l-campaign__heading', level: 1 %>
      <p>
        Use our handy tools and tips to see how much money you can save this Christmas with savvy cut-backs and simple budgeting.
      </p>
      <p>
        Our <a href="/en/tools/christmas-money-planner">Christmas money planner</a> will show you how the cost of the festivities stack up and help you plan your budget while our <a href="/en/tools/cut-back-calculator">Cut-back calculator</a> will help you see where you can make savings on regular expenses. Check out our <a href="/en/tools/saving-for-christmas">Saving for Christmas guide</a> to make for a much merrier Christmas and a far more prosperous New Year.
      </p>
      <p>
        We reveal the <a href="#">True cost of Christmas</a> but our <a href="#">12 saves of Christmas</a> can help you make the most of the holiday when on a budget
      </p>
      <p>
        Finally, see the kids estimate the <a href="/en/videos/the-cost-of-christmas">Cost of Christmas</a> in our latest video.
      </p>

      <div class="callout">
        <%= heading_tag 'Ask MA', level: 3 %>
        <p>
          We’re the Money Advice Service, an independent service set up by government to help people like you make the most of their money.
        </p>
        <p>
          We give free, unbiased money advice online, on webchat, over the phone, in printed guides and face to face.
        </p>
      </div>
    </div>

    <section class="l-campaign__next-steps">
      <%= heading_tag 'Click the boxes below and take the stress out of Christmas', class: 'l-campaign__next-steps-heading', level: 2 %>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/christmas-money-planner">
          <%= heading_tag 'Christmas money planner', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Take control of your Christmas costs with our money planner.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/cut-back-calculator">
          <%= heading_tag 'Cut-back calculator', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Find out where you can make quick and easy savings to boost your Christmas budget.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/saving-for-christmas">
          <%= heading_tag 'Saving for Christmas', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Ease the strain of funding festivities with these easy steps.
          </p>
        </a>
      </div>
    </section>
  </article>
</div>

<%= render 'shared/campaign_trust_banner' %>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('home.show.directory_heading_two') %>
    <% end %>

    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
