<%= render 'shared/campaign_canonical' %>

<div class="l-constrained">
  <%= image_tag('campaign/interest-rate-rise-campaign-bg.jpg', alt: '', class: 'l-campaign-image') %>

  <article>
    <div class="l-campaign__content">
      <%= heading_tag t('interest-rate-rise.section.heading'), class: 'l-campaign__heading', level: 2 %>
      <p class="l-campaign__tagline"><%= t('interest-rate-rise.section.tagline') %></p>

      <% t('interest-rate-rise.section.content').each do |item| %>
        <p><%= item[:text] %></p>
      <% end %>
    </div>

    <section class="l-campaign__next-steps">
      <%= heading_tag t('interest-rate-rise.section.next_steps_heading'), class: 'l-campaign__next-steps-heading', level: 2 %>

      <% t('interest-rate-rise.section.next_steps').each do |item| %>
      <div class="next-step">
        <%= link_to(item[:url], class: 'next-step__link') do %>
        <%= heading_tag(item[:heading], level: heading_level ||= 2, class: 'next-step__heading') %>
        <p class="next-step__content"><%= item[:text] %></p>
        <% end %>
      </div>
      <% end %>
    </section>
  </article>
</div>

<%= render 'shared/campaign_trust_banner' %>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('home.show.directory_heading_two') %>
    <% end %>

    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
