<%= render 'shared/campaign_canonical' %>

<div class="l-constrained">
  <article>
    <div class="l-campaign__content l-campaign__content--padded-top">
      <%= heading_tag 'Saving for a holiday', class: 'l-campaign__heading', level: 1 %>
      <p>
        A recent study from the Money Advice Service revealed that holiday-makers estimate they will have to spend on average £1,027 per person to go on a summer holiday.
      </p>
      <p>
        The majority plan to use their savings to fund the getaway, but almost a million holidaymakers plan to borrow money from the bank, from family or friends, or use a payday loan.
      </p>
      <p>
        <a href="/en/videos/saving-for-a-holiday-tv-advert">Watch our latest video.</a>
      </p>

      <div class="callout">
        <%= heading_tag 'Who is MA anyway?', level: 3 %>
        <p>
          We’re the Money Advice Service, an independent service set up by government to help people like you make the most of their money. We give free, unbiased money advice online, on webchat, over the phone, in printed guides and face to face.
        </p>
      </div>
    </div>

    <section class="l-campaign__next-steps">
      <%= heading_tag 'If you don’t have a holiday fund, we can help you get started by following the steps below.', class: 'l-campaign__next-steps-heading', level: 2 %>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/saving-for-a-holiday">
          <%= heading_tag 'Get saving', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Saving even just a small amount this year means you’ll be in better shape to pay for next year’s holiday. Follow this handy step-by-step guide.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/action_plans/action-plan-paying-for-your-summer-holiday">
          <%= heading_tag 'Act now', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Take the steps in this easy action plan to make sure you can best enjoy your summer holiday in style without breaking the bank.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/savings-calculator">
          <%= heading_tag 'Calculator', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Use our Savings calculator to see how your savings can grow. It will work out how much you need to save a month to reach your savings goal.
          </p>
        </a>
      </div>
    </section>
  </article>
</div>

<%= render 'shared/campaign_trust_banner' %>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('home.show.directory_heading_two') %>
    <% end %>

    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
