<% set_meta_tags(title:       campaign.title,
                 description: campaign.description,
                 canonical:   campaign.canonical_url,
                 alternate:   campaign.alternate_options) %>

<div class="l-car-campaign-page-bg"></div>

<div class="l-car-campaign editorial">
  <div class="l-car-campaign__banner"></div>
  <div class="l-car-campaign__section l-car-campaign__section--intro">
    <div class="l-car-campaign__section-text">
      <header>
        <%= heading_tag campaign.title %>
        <p class="intro"><%= campaign.intro_html %></p>
      </header>
    </div>

    <% if local_assigns.fetch(:show_car_costs_calculator_cta) { true } %>
      <%= campaign.cost_calculator_link %>
    <% end %>
  </div>

  <%= render partial: 'section', collection: campaign %>
</div>

<% content_for(:alternate_link) do %>
  <% campaign.footer_alternate_options.each do |locale, url| %>
    <%= link_to(url, id: "#{locale}Link", lang: locale, class: 'footer-secondary__link') do %>
      <span class="icon icon--globe"></span>
      <%= t("locales.#{locale}") %>
    <% end %>
  <% end %>
<% end %>
