<%= render 'shared/campaign_canonical' %>

<div class="l-constrained">
  <article>
    <div class="l-campaign__content--padded-top">

      <div class="l-campaign__2col-heading">
        <%= heading_tag 'How to #survivejanuary', class: 'l-campaign__heading', level: 1 %>
        <p class="l-campaign__tagline">Easy ways to help if money’s tight after Christmas</p>
      </div>

      <div class="l-campaign__2col-left">
        <%= image_tag('campaign/survive-january.png', alt: '', class: 'l-campaign-image') %>
      </div>

      <div class="l-campaign__2col-main l-campaign__content" data-dough-newsletter-article="true">

        <p>January can be a tough month, and it can seem long, so we've come up with some simple ways to put pounds back in your pocket. Just sign up below to receive your free kit, full of helpful tips from people who have already saved hundreds.</p>

        <%= render 'shared/news_signup_test',
                   visible: true,
                   ab_test_render: true,
                   component_image_class: 'news-signup-test__image news-signup-test__image--survive-january-2016',
                   component_title_text: 'Your Survive January kit',
                   component_info_text: 'Sign up to get money saving tips and advice direct to your inbox',
                   component_form_endpoint: main_app.survive_january_subscription_path %>

        <p>Our kit will show you how to stop wasting hundreds on food, how to find money you didn't know you had, and other ways to help stretch your money until payday.</p>

        <p>Want a head start? See how easy it is by checking out our blog posts from experts and people who have already saved.</p>

      </div>
    </div>
  </article>
</div>

<div class="l-constrained">

  <div class="l-3col-even">
    <h2>Save hundreds on food</h2>
    <div class="t-article-promos">
      <%= image_tag('campaign/survive-january-your-food.png', alt: '', class: 'promo__img') %>
    </div>
    <ul>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/download-your-recipe-for-smarter-shopping">A recipe for smarter shopping</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/how-to-reduce-food-waste-at-home-and-save-money">Save £60 a month with a meal plan</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/be-loyal-to-your-pocket-not-supermarket-and-save">3 reasons not to be loyal to your supermarket</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/video-inside-thrifty-lesley-s-waste-free-kitchen">Get inside a waste free kitchen</a>
      </li>
    </ul>
  </div>

  <div class="l-3col-even">
    <h2>Find hidden cash at home</h2>
    <div class="t-article-promos">
      <%= image_tag('campaign/survive-january-your-home.png', alt: '', class: 'promo__img') %>
    </div>
    <ul>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/how-to-sell-stuff-and-turn-your-trash-into-cash">6 steps to turn trash into cash</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/how-to-sell-online-a-seasoned-seller-reveals-all">Video: A seller reveals his top tips</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/selling-online-for-the-first-time-here-s-how">How to sell online for the first time</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/easy-tweaks-to-save-money-on-energy-bills">7 easy ways to save on energy bills</a>
      </li>
    </ul>
  </div>

  <div class="l-3col-even">
    <h2>Challenge your habits</h2>
    <div class="t-article-promos">
      <%= image_tag('campaign/survive-january-you.png', alt: '', class: 'promo__img') %>
    </div>
    <ul>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/survive-january-how-to-look-good-for-less">How to look good for less</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/revealed-the-hidden-habits-that-cost-you-money">Revealed: Hidden habits that cost you money</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/survive-january-how-to-have-fun-for-less">5 ways to party in January for less</a>
      </li>
      <li>
        <a href="https://blog.moneyadviceservice.org.uk/when-did-you-last-check-your-bank-balance">Signs that it's time to switch banks</a>
      </li>
    </ul>
  </div>

</div>
