<%= render 'shared/campaign_canonical' %>

<div class="l-constrained">
  <article>
    <div class="l-campaign__content l-campaign__content--padded-top">
      <%= heading_tag 'What does MA do for me?', class: 'l-campaign__heading', level: 1 %>
      <p>
        We can’t plan for everything in life. But it’s good to think ahead and consider the financial implications for things like being made <a href="/en/categories/redundancy">redundant</a>, <a href="/en/tools/savings-calculator">saving for a holiday</a> or even <a href="/en/articles/first-time-buyer-money-tips">moving home</a>.
      </p>
      <p>
        We’ve got lots of helpful advice that will be useful when those unexpected or difficult situations come along like <a href="/en/categories/having-a-baby">having a baby</a> or losing your job.
      </p>
      <p>
        Click the boxes on the right to find out how you can start planning for tomorrow now.
      </p>

      <%= heading_tag "Watch the ad again", level: 2 %>

      <h3>Making of Everyday budgeting</h3>

      <div class="video-wrapper">
        <iframe frameborder="0" height="263" width="467" src="https://www.youtube.com/embed/fBohpOn635E?list=PLzJI8W1q5m7pks_mYtM46mI96yEL7ftss&amp;hl=en_US"></iframe>
      </div>

      <ul>
        <li><a href="https://www.youtube.com/playlist?list=PLzJI8W1q5m7qV5t7zCaK0atLEZqYOpKVc&feature=plcp">What does MA think?</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLzJI8W1q5m7pks_mYtM46mI96yEL7ftss&feature=plcp">Behind the scenes&hellip;</a></li>
        <li><a href="https://www.youtube.com/user/MoneyAdviceService">MA YouTube channel</a></li>
      </ul>
    </div>

    <section class="l-campaign__next-steps">
      <%= heading_tag 'Next steps', class: 'l-campaign__next-steps-heading', level: 2 %>

      <div class="next-step">
        <a class="next-step__link" href="/en/categories/redundancy">
          <%= heading_tag "Redundancy", level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Job loss on the horizon? Or now redundant? How to take control of your money and survive a period out of work.
          </p>
        </a>
      </div>
      <div class="next-step">
        <a class="next-step__link" href="/en/tools/budget-planner">
          <%= heading_tag "Budgeting", level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Get to grips with your spending. Work out how much money you have coming in and what you're spending it on.
          </p>
        </a>
      </div>
      <div class="next-step">
        <a class="next-step__link" href="/en/articles/first-time-buyer-money-tips">
          <%= heading_tag "Moving home", level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Find out how much moving home will cost and why you should start saving now in preparation.
          </p>
        </a>
      </div>
    </section>
  </article>
</div>

<%= render 'shared/campaign_trust_banner' %>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('home.show.directory_heading_two') %>
    <% end %>

    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
