<%= render 'shared/campaign_canonical' %>

<div class="l-constrained">
  <article>
    <div class="l-campaign__content l-campaign__content--padded-top">
      <%= heading_tag 'Young people’s money regrets', class: 'l-campaign__heading', level: 1 %>
      <p>
        Are you leaving school or heading to college? Perhaps you’re starting full-time work for the first time?
      </p>
      <p>
        Whatever your position, there will be some difficult money decisions to make. You’ll maybe move away from home and stop relying on your parents for money. But with independence comes responsibility.
      </p>
      <p>
        You could have rent and bills to pay. Maybe you might buy a car, with all the associated running costs. And although it’s generally easy to get a credit card, it’s an easy way to slip into debt.
      </p>
      <p>
        There’s a very real chance that you could make the wrong decisions – decisions that could impact on your finances for years. But we have tools and advice that can help.
      </p>

      <div class="callout">
        <%= heading_tag 'Who is MA anyway?', level: 3 %>
        <p>
          We’re the Money Advice Service, an independent service set up by government to help people like you make the most of your money.
        </p>
        <p>
          We give free, unbiased money advice online, on webchat, over the phone, in printed guides and face to face.
        </p>
      </div>
    </div>

    <section class="l-campaign__next-steps">
      <%= heading_tag 'Read more below to find out how to avoid making bad choices and look after your money better', class: 'l-campaign__next-steps-heading', level: 2 %>

      <div class="next-step">
        <a class="next-step__link" href="/en/news/financial-decisions-come-back-to-haunt-young-people">
          <%= heading_tag 'Money regrets', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Read about some of the bad choices young adults have made, how they are paying the price years later and how you can avoid making the same mistakes.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/files/mas_money_regrets_online.pdf">
          <%= heading_tag 'Report in full', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            Read our report ‘It’s time to talk: young people and money regrets’ in full, looking at the attitudes and behaviours of 16-21 year-olds.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/news/introducing-wishfund">
          <%= heading_tag 'Try our app', level: 2, class: 'next-step__heading' %>
          <p class="next-step__content">
            We've worked with 16-19 years olds to help develop Wishfund, a savings goal app, which is available to download from iTunes and Google Play.
          </p>
        </a>
      </div>
    </section>
  </article>
</div>

<%= render 'shared/campaign_trust_banner' %>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= heading_tag(level: heading_level ||= 2, class: 'l-home-directory__title') do %>
      <%= t('home.show.directory_heading_two') %>
    <% end %>

    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
