<% contents.each_with_index do |child_category, i| %>
  <section class="category-detail category-detail--<%= i+1 %>">
    <h2 class="category-detail__heading" id="<%= child_category.id %>">
      <%= link_to child_category.path, class: '' do %>
        <span class="icon icon--plus"></span>
        <span class="visually-hidden">Expand</span>
        <%= child_category.title %>
      <% end %>
    </h2>

    <p><%= child_category.description %></p>

    <% if child_category.contents.present? %>
      <%= render 'content_items', contents: child_category.contents %>
    <% end %>
  </section>
<% end %>
