<div class="l-2col">
  <div class="l-2col-side">
    <ul class="category-filter">
      <li class="category-filter__list-item is-selected"><%= link_to 'All', '#top' %></li>
      <% contents.each do |child_category| %>
        <li class="category-filter__list-item"><%= link_to child_category.title, "##{child_category.id}" %></li>
      <% end %>
    </ul>
  </div>

  <div class="l-2col-main">
    <a id="top" />

    <% contents.each_with_index do |child_category, i| %>
      <section class="category-detail category-detail--<%= i+1 %>">
        <h2 class="category-detail__heading" id="<%= child_category.id %>"><%= link_to child_category.title, child_category.path %></h2>

        <p><%= child_category.description %></p>

        <% if child_category.contents.present? %>
          <ol class="category-detail__list">
            <% child_category.contents.each do |content_item| %>
              <li class="category-detail__list-item">
                <span class="icon <%= content_item.icon_class %>"></span>
                <span class="visually-hidden"><%= content_item.label %></span>
                <%= link_to content_item.title, content_item.path %>
              </li>
            <% end %>
          </ol>
        <% end %>

        <a class="link-to-top" href="#top">Go to top <span class="visually-hidden">of the page</span></a>
      </section>
    <% end %>
  </div>
</div>
