<% set_meta_tags(description: category.description) %>

<h1><%= title category.title %></h1>
<p class="intro"><%= category.description %></p>

<% if category.grandparent? %>
  <%= render partial: 'parent_categories', locals: { parent_categories: category.contents } %>
<% elsif category.parent? %>
  <%= render partial: 'child_categories', locals: { child_categories: category.contents } %>
<% elsif category.child? %>
  <%= render partial: 'content_items', locals: { items: category.contents } %>
<% end %>
