<% set_meta_tags(canonical:   category.canonical_url,
                 alternate:   category.alternate_options,
                 description: category.description) %>

<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs unless @breadcrumbs.empty? %>
<% end %>

<div class="l-main editorial">
  <main role="main">
    <h1><%= title category.title %></h1>

    <p class="intro intro--constrained"><%= category.description %></p>

    <%= category.render_contents %>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav',
             categories:        category_navigation,
             active_categories: active_categories %>
</div>
