<% set_meta_tags(title:       category.title,
                 description: category.description,
                 canonical:   category.canonical_url,
                 alternate:   category.alternate_options) %>

<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs unless @breadcrumbs.empty? %>
<% end %>

<%= render 'shared/svg/icon_sprite' %>

<div class="l-main editorial">
  <div class="l-main__row">
    <% if category.images? %>
      <%= render 'categories/category_image', small_url: category.images['small'], large_url: category.images['large'] %>
      <main class="l-main__cell-full l-category l-category--image" role="main" data-parent="<%= category.parent_id %>">
    <% else %>
      <main class="l-main__cell-full l-category" role="main" data-parent="<%= @category.parent_id %>">
    <% end %>
      <div class="l-category__top">
        <div class="l-category__top__content">
          <%= heading_tag category.title, class: 'l-category__heading' %>
          <span class="l-category__top__background"></span>
          <p class="l-category__top__intro"><%= category.description %></p>
        </div>
        <%= render 'top_links', category: category unless !category.links || category.links.empty? %>
      </div>
      <%= category.render_contents %>

      <%= social_sharing_icons title: I18n.t("categories.social_sharing.title"), text: category.title, url: request.original_url, label_facebook: I18n.t("categories.social_sharing.label_facebook"), label_twitter: I18n.t("categories.social_sharing.label_twitter"), label_email: I18n.t("categories.social_sharing.label_email") %>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/mas_sections_link' if category_within_corporate_section?(category) %>
  <%= render 'shared/nav',
             categories:        category_navigation(corporate_category?(category.object.id)),
             active_categories: active_categories %>
</div>
