<% set_meta_tags(title:       category.title,
                 description: category.description,
                 canonical:   category.canonical_url,
                 alternate:   category.alternate_options) %>

<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs unless @breadcrumbs.empty? %>
<% end %>

<div class="l-2col-main editorial">
  <div class="l-main__row">
    <% if category.images? %>
      <%= render 'categories/category_image', small_url: category.small_image, large_url: category.large_image %>
      <main class="l-main__cell-full l-category l-category--image t-category-main-content" role="main" data-parent="<%= category.parent_id %>" id="<%= 'main' if !default_main_content_location? %>" tabindex="-1">
    <% else %>
      <main class="l-main__cell-full l-category t-category-main-content" role="main" data-parent="<%= @category.parent_id %>" id="<%= 'main' if !default_main_content_location? %>" tabindex="-1">
    <% end %>
      <div class="l-category__top">
        <div class="l-category__top__content">
          <%= heading_tag category.title, class: 'l-category__heading' %>
          <span class="l-category__top__background"></span>
          <p class="l-category__top__intro"><%= category.description %></p>
        </div>
        <%= render 'top_links', category: category unless !category.links || category.links.empty? %>
      </div>
      <%= category.render_contents %>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/mas_sections_link' if category_within_corporate_section?(category) %>
</div>
