<p><%= t("authentication.emails.reset_passwords.greeting") + " #{@resource.first_name}" %>!</p>

<p><%= t("authentication.emails.reset_passwords.intro")%></p>

<p><%= t("authentication.emails.reset_passwords.step_1")%></p>

<p><%= link_to t("authentication.emails.reset_passwords.link_label"), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t("authentication.emails.reset_passwords.step_2")%></p>

<p><%= t("authentication.emails.reset_passwords.step_3")%></p>

<p><%= t("authentication.emails.reset_passwords.expired_token_tip")%></p>

<p><%= t("authentication.emails.reset_passwords.expired_token_tip_steps_html", url: new_password_url(@resource, locale: I18n.locale))%></p>

<p><%= t("authentication.emails.reset_passwords.signature")%></p>

<p><%= t("authentication.emails.reset_passwords.sender")%></p>
