<% accessibility_title = local_assigns[:accessibility_title].nil? ? '' : "title=\"#{local_assigns[:accessibility_title]}\"".html_safe %>
<% accessibility_description = local_assigns[:accessibility_description].nil? ? '' : local_assigns[:accessibility_description] %>
<% svg_fallback_support = local_assigns[:svg_fallback_support].nil? ? false : true %>

<%
  variant_class = ''
  custom_class = ''
  icon_class = ' svg-icon--' + local_assigns[:icon]

  unless local_assigns[:variant].nil?
    variant_class = icon_class + '--' + local_assigns[:variant]
  end

  unless local_assigns[:class_name].nil?
    custom_class = ' ' + local_assigns[:class_name]
  end

  svg_icon_class = 'svg-icon' + icon_class + variant_class + custom_class

  if svg_fallback_support
    no_svg_icon_class = 'no-svg-icon no-svg-icon--' + local_assigns[:icon]
  else
    no_svg_icon_class = 'no-svg-icon no-svg-icon--default'
  end
%>

<% if svg_fallback_support %>
<span class="<%= no_svg_icon_class %>">
<% end %>
<svg xmlns="http://www.w3.org/2000/svg" class="<%= svg_icon_class %>" <%= accessibility_title %>>
  <use xlink:href="#svg-icon--<%= local_assigns[:icon] %>"></use>
</svg>
<% if accessibility_description.length > 0 %>
<span class="visually-hidden"><%= accessibility_description %></span>
<% end %>
<% if svg_fallback_support %>
</span>
<% end %>
