<% accessibility_title = local_assigns[:accessibility_title].nil? ? '' : "title=\"#{local_assigns[:accessibility_title]}\"".html_safe %>
<% accessibility_description = local_assigns[:accessibility_description].nil? ? '' : local_assigns[:accessibility_description] %>
<% svg_fallback_support = local_assigns[:svg_fallback_support].nil? ? false : true %>

<%
   icon_class = ''

   if !local_assigns[:icon].nil? then
     icon_class = icon_class + local_assigns[:icon]
   end
   if !local_assigns[:variant].nil? then
     icon_class = icon_class + '--' + local_assigns[:variant]
   end
   svg_icon_class = 'svg-icon svg-icon--' + icon_class

   if !local_assigns[:class_name].nil? then
     svg_icon_class = svg_icon_class + ' ' + local_assigns[:class_name]
   end

   if svg_fallback_support === true then
     no_svg_icon_class = 'no-svg-icon no-svg-icon--' + icon_class
   else
     no_svg_icon_class = 'no-svg-icon no-svg-icon--default'
   end
%>

<% if svg_fallback_support %>
<span class="<%= no_svg_icon_class %>">
<% end %>
<svg xmlns="http://www.w3.org/2000/svg" class="<%= svg_icon_class %>" focusable="false" <%= accessibility_title %>>
  <use xlink:href="#svg-icon--<%= local_assigns[:icon] %>"></use>
</svg>
<% if accessibility_description.length > 0 %>
<span class="visually-hidden"><%= accessibility_description %></span>
<% end %>
<% if svg_fallback_support %>
</span>
<% end %>
