<% content_for :head do %>
  <script type="application/ld+json">
    {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "https://www.moneyadviceservice.org.uk/en",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "https://www.moneyadviceservice.org.uk/en/search?query={search_term_string}",
         "query-input": "required name=search_term_string"
       }
    }
  </script>
<% end %>

<% set_meta_tags(canonical:   root_url,
                 alternate:   alternate_home_map,
                 title:       t('home.show.title'),
                 description: t('home.show.description').strip) %>

<%= heading_tag t('layouts.base.title'), class: 'visually-hidden' %>

<%= render 'shared/home_beta/central_search' %>

<div class="l-constrained">
  <div class="l-home-promos">
    <%= render 'shared/home_beta/tool_promos', items: @resource.tools %>
    <%= render 'shared/home_beta/seasonal_spotlight', item: @resource %>
  </div>

  <%= render 'shared/home_beta/information_guides', item: @resource %>
  <%= render 'shared/home_beta/most_read', items_with_image: @resource.tiles, items_without_image: @resource.text_tiles %>
</div>
