<div class="leader" data-component="leader" aria-hidden="true">
  <%= heading_tag(level: 1, class: "leader__heading") do %>
    <%= t('home.show.beta_leader.title') %>
  <% end %>

  <div class="leader__content leader__content--<%= locale %>">
    <div class="leader__image leader__image--<%= rand(3) %>"></div>
    <%= render 'shared/home_beta/leader_text' %>
  </div>
</div>
