<div class="l-recommended-tools">
  <h2 class="l-recommended-tools__heading"
      data-dough-component="Collapsable"
      data-dough-collapsable-trigger="recommended-tools"
      data-dough-collapsable-config='{"forceTo": "show"}'>
    <%= t('recommended_tools.title') %>
  </h2>

  <div class="l-recommended-tools__content is-active" data-dough-collapsable-target="recommended-tools">
    <p class="l-recommended-tools__content__intro">
      <%= t('recommended_tools.description') %>
    </p>

    <% recommended_tools.each_with_index do |tool, index| %>
      <div class="l-recommended-tools__tool l-recommended-tools__tool--<%= index %>">
        <div class="recommended-tool">
          <div class="recommended-tool__header">
            <h3 class="recommended-tool__header__title">
              <span class="recommended-tool__header__title__border"><%= tool.title %></span>
            </h3>
            <p class="recommended-tool__header__subtitle">
              <%= tool.subtitle %>
            </p>
          </div>
          <div class="recommended-tool__body">
            <%= link_to tool.link_copy, tool.link_url, class: "button button--primary button--fill-width button--wrap-text gtm-recommended-tool-link" %>
            <h4 class="recommended-tool__body__summary-title">
              <%= t('recommended_tools.summary_title') %>
            </h4>
            <p class="recommended-tool__body__description">
              <%= tool.description %>
            </p>
            <p class="recommended-tool__body__time">
              <%= tool.time_to_complete %>
            </p>
          </div>
          <% if tool.quote.present? %>
            <div class="recommended-tool__footer">
              <blockquote class="recommended-tool__footer__quote">
                &ldquo;<%= tool.quote %>&rdquo;
              </blockquote>
              <p class="recommended-tool__footer__quotee">
                <%= tool.quotee_name %>, <%= tool.quotee_location %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
