<div class="l-profile">
  <div class="l-profile__intro">
    <h1><%= t('.heading', first_name_with_possession: singular_noun_possessive(current_user.first_name)) %></h1>
    <p class="intro"><%= t('.intro') %></p>
  </div>
  <div class="l-profile__your-goal">
    <h2><%= t('.goal.heading') %></h2>
    <p><%= t('.goal.introduction') %></p>
    <%= form_for current_user, html: {id: 'goal_form', class: 'form form--your-goal'}, url: profile_path, method: :put do |f| %>
      <fieldset class="form__group">
        <div class="form__row">
          <label class="form__label-heading" for="goal_statement" ><%= t('.goal.statement_field_label') %></label>
          <input id="goal_statement" type="text" name="goal_statement" value="<%= current_user.goal_statement %>">
        </div>
        <div class="form__row">
          <label class="form__label-heading" for="goal_deadline"><%= t('.goal.deadline_field_label') %></label>
          <input id="goal_deadline" type="text" name="goal_deadline" value="<%= current_user.goal_deadline%>">
        </div>
      </fieldset>
      <div class="form__group form__group--last">
        <input class="button button--primary button--fill-width" type="submit" value="<%= t('.goal.save_button_text') %>">
      </div>
    <% end %>
  </div>
</div>
