<%= render layout: 'layouts/base' do %>
  <a class="skip-to-link" href="#main"><%= t('skip_links.to_main_content') %></a>

  <% if display_skip_to_main_navigation? %>
    <a class="skip-to-link" href="#primary-nav"><%= t('skip_links.to_main_nav') %></a>
  <% end %>

  <a class="skip-to-link" href="<%= t('footer.accessibility_link') %>"><%= t('skip_links.to_accessibility_statement') %></a>

  <%= render 'shared/alerts' if alerts? %>
  <%= render 'shared/header' %>

  <%= yield %>

  <%= render 'shared/contact_panels', contact_panels_border_top: contact_panels_border_top?, contact_panels_homepage: contact_panels_homepage? %>
  <%= render 'shared/footer' %>

  <% if display_sticky_newsletter_form_cookie? %>
    <%= render 'shared/news_signup_sticky', fixed_position: true %>
  <% end %>
<% end %>
