<!DOCTYPE html>
<html>
<head>
  <title>Money Advice Service - Living Styleguide</title>
  <%= stylesheet_link_tag 'enhanced_responsive', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
