<!DOCTYPE html>

<!--[if IE 7 ]> <html lang="<%= I18n.locale %>" class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="<%= I18n.locale %>" class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]> <html lang="<%= I18n.locale %>" class="ie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="<%= I18n.locale %>" class="no-js"><!--<![endif]-->

<head>
  <%= display_meta_tags(site: t('.title'), reverse: true, separator: '-') %>
  <%= csrf_meta_tags %>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="HandheldFriendly" content="True">

  <%= baseline_grid %>

  <%# Basic styles for all devices, doesnt contain anything that could cause rendering issues such as positional info %>
  <%= stylesheet_link_tag 'basic' %>

  <%# Fixed width styles and html5shiv for IE7+8 , styles will not include any media queries, but will include .ie specific fixes %>
  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <%= javascript_include_tag 'html5shiv/dist/html5shiv.js' %>
  <![endif]-->

  <%# Responsive styles for all modern devices, excluded from older IE version %>
  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
  <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
  <!--<![endif]-->

  <%= yield :head %>

  <script>
    // Any JS that is required before DOM is created should be in this block
    // includes feature detection, analytics setup, json bootstrap
    var MAS = window.MAS || {};

    MAS.supports = {};

    (function(d, w){
      // JS is enabled, add class .js to html, also based on feature support add .js-advanced or .js-basic
      MAS.supports.js = ('querySelector' in d && 'localStorage' in w  && 'addEventListener' in w)? 'advanced' : 'basic';

      // Update className
      var el = d.getElementsByTagName('html')[0];
      el.className = el.className.replace('no-js','js js-'+ MAS.supports.js);
    })(document, window);

    MAS.supports.localstorage = (function supports_html5_storage() {try {return 'localStorage' in window && window['localStorage'] !== null;} catch (e) {return false;}})();

    MAS.env = '<%= Rails.env %>';

    // For GoogleTagManager
    MAS.datalayer = dataLayer = [];

    // For MAS custom analytics to work out duration user has been on page when they interact
    MAS.timestamp = new Date().getTime();

    // Use MAS.log/info/warn over console
    MAS.logged = [];

    (function(){
      var opts = ['log','info','warn'],
        l = opts.length;

      while(l--){
        (!window.console || MAS.env !== 'development')
          ? MAS[opts[l]] = function(name, options){ MAS.logged.push(name, options, opts[l]) }
          : MAS[opts[l]] = console[opts[l]];
      }
    })();

    // Required for webfont loader to work
    MAS.supports.fonts = false;
    MAS.fontConfig = {
      custom: {
        families: ['MuseoSlab', 'icomoon'],
        urls: ['<%= stylesheet_path('fonts') %>']
      }
    };

    // When fonts load we store a string in localstorage, this can then be used to help us load them quicker a second time
    if(MAS.supports.localstorage) MAS.fontsCached = localStorage.getItem('MAS.fontsCached');

    // Paths need to be added to config/application.rb for production use
    MAS.paths = {
      mas_analytics : "<%= javascript_path('mas_analytics').sub('.js', '') %>",
      pubsub: "<%= javascript_path('jquery-tiny-pubsub/src/tiny-pubsub').sub('.js', '') %>",
      waypoints: "<%= javascript_path('jquery-waypoints/waypoints').sub('.js', '') %>"
    }

  </script>
  <%= yield :js_bootstrap %>

  <!--[ if ( !IE ) | ( gte IE 9 ) ]><!-->
    <script>
      // Limits loading to only supported browsers
      MAS.supports.fonts = true;
    </script>
  <!--<![endif]-->

</head>
<body>

  <%# Google Tag Manager %>
  <noscript>
    <%= tag :iframe, { src:   "//www.googletagmanager.com/ns.html?id=#{Rails.application.config.google_tag_manager_id}",
                       style: 'display:none;visibility:hidden', width: 0, height: 0 } %>
  </noscript>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '<%= Rails.application.config.google_tag_manager_id %>');
  </script>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <% if Rails.env.development? %>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <%= javascript_include_tag 'html_inspector' %>
    <!--<![endif]-->
  <% end %>

  <%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
  <%= yield :scripts %>

</body>
</html>
