<!DOCTYPE html>

<!--[if IE 7 ]> <html lang="<%= I18n.locale %>" class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="<%= I18n.locale %>" class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]> <html lang="<%= I18n.locale %>" class="ie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="<%= I18n.locale %>" class="no-js"><!--<![endif]-->

<head>
  <%= display_meta_tags(site: t('.title'), reverse: true, separator: '-') %>
  <%= csrf_meta_tags %>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="HandheldFriendly" content="True">

  <%= baseline_grid %>

  <%# Basic styles for all devices, doesnt contain anything that could cause rendering issues such as positional info %>
  <%= stylesheet_link_tag 'basic' %>

  <%# Fixed width styles and html5shiv for IE7+8 , styles will not include any media queries, but will include .ie specific fixes %>
  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <%= javascript_include_tag 'html5shiv/dist/html5shiv.js' %>
  <![endif]-->

  <%# Responsive styles for all modern devices, excluded from older IE version %>
  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
  <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
  <!--<![endif]-->

  <%= yield :head %>

  <%# Any JS that is required before DOM is created should be in this block
      includes feature detection, analytics setup, json bootstrap %>
  <script type="text/javascript">
    var MAS = window.MAS || {};

    MAS.supports = {};
    MAS.config = {};
    MAS.localCache = {};
    MAS.env = '<%= Rails.env %>';
    MAS.datalayer = dataLayer = []; // For GoogleTagManager
    MAS.timestamp = new Date().getTime(); // For MAS custom analytics to work out duration user has been on page when they interact
    MAS.logged = []; // Use MAS.log/info/warn over console
    MAS.supports.fonts = false; // Required for webfont loader to work
    MAS.config.fonts = {
      custom: {
        families: ['MuseoSlab', 'icon-font'],
        urls:     ['<%= stylesheet_path('fonts') %>']
      }
    };

    (function (d, w, M) {
      // JS is enabled, add class .js to html, also based on feature support add .js-advanced or .js-basic
      M.supports.js = ('querySelector' in d && 'localStorage' in w && 'addEventListener' in w) ? 'advanced' : 'basic';

      // Update className
      var el = d.getElementsByTagName('html')[0];
      el.className = el.className.replace('no-js', 'js js-' + M.supports.js);

      // Wrap logging so it can be pushed to log in prod, and used safely on old browsers
      var opts = ['log', 'info', 'warn'], l = opts.length;

      while (l--) {
        var type = l;
        (!w.console || M.env === 'production') ? M[opts[l]] = function (name, options) {
          M.logged.push([name, options, type])
        } : M[opts[l]] = console[opts[l]];
      }
    })(document, window, MAS);

    // Support check for html5 local storage API
    MAS.supports.localstorage = (function supports_html5_storage() {
      try {
        return 'localStorage' in window && window['localStorage'] !== null;
      } catch (e) {
        return false;
      }
    })();

    // When fonts load we store a string in localstorage, this can then be used to help us load
    // them quicker a second time
    if (MAS.supports.localstorage) {
      MAS.localCache.fonts = localStorage.getItem('MAS.localCache.fonts');
    }

    // Fix for iPhone viewport scale bug
    // http://www.blog.highub.com/mobile-2/a-fix-for-iphone-viewport-scale-bug/
    // MAS = mobile boilerplate
    MAS.viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]');
    MAS.ua = navigator.userAgent;
    MAS.scaleFix = function () {
      if (MAS.viewportmeta && /iPhone|iPad|iPod/.test(MAS.ua) && !/Opera Mini/.test(MAS.ua)) {
        MAS.viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
        document.addEventListener("gesturestart", MAS.gestureStart, false);
      }
    };
    MAS.gestureStart = function () {
      MAS.viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
    };
  </script>

  <%= yield :js_bootstrap %>

  <!--[ if ( !IE ) | ( gte IE 9 ) ]><!-->
    <script>
      // Limits loading to only supported browsers
      MAS.supports.fonts = true;
    </script>
  <!--<![endif]-->

</head>
<body>
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=<%= Rails.application.config.google_tag_manager_id %>"
            height="0" width="0" style="display:none;visibility:hidden"
            title="Google Tag Manager"></iframe>
  </noscript>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '<%= Rails.application.config.google_tag_manager_id %>');
  </script>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <% if Rails.env.development? %>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <%= javascript_include_tag 'html_inspector' %>
    <!--<![endif]-->
  <% end %>

  <%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
  <%= yield :scripts %>

</body>
</html>
