<!DOCTYPE html>

<!--[if IE 7 ]> <html lang="<%= I18n.locale %>" class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="<%= I18n.locale %>" class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]> <html lang="<%= I18n.locale %>" class="ie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="<%= I18n.locale %>" class="no-js"><!--<![endif]-->

<head>
  <%= display_meta_tags(site: t('.title'), reverse: true, separator: '-') %>
  <%= csrf_meta_tags %>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="HandheldFriendly" content="True">

  <%= baseline_grid %>

  <%# Basic styles for all devices, doesnt contain anything that could cause rendering issues such as positional info %>
  <%= stylesheet_link_tag 'basic' %>

  <%# Fixed width styles and html5shiv for IE7+8 , styles will not include any media queries, but will include .ie specific fixes %>
  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <%= javascript_include_tag 'html5shiv/dist/html5shiv.js' %>
  <![endif]-->

  <%# Responsive styles for all modern devices, excluded from older IE version %>
  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
  <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
  <!--<![endif]-->

  <%= yield :head %>
  
  <script type="text/javascript">
    <% if Rails.env.development? %>
      <%= raw Rails.application.assets['in_head.js'].to_s %>
    <% else %>
      <%= raw Uglifier.new(:copyright => false).compile Rails.application.assets['in_head.js'].to_s %>
    <% end %>
  </script>

  <%= yield :js_bootstrap %>

  <%# after first load cookie gets set, then we can load JS In head so fonts render faster on concsecutive loads %>
  <% if cookies['MAS.localCache.fonts'] %>
    <%= stylesheet_link_tag 'fonts', media: 'all' %>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>WebFont.load(MAS.config.fonts);</script>
  <% end %>

  <!--[ if ( !IE ) | ( gte IE 9 ) ]><!-->
  <script>
    // Limits loading to only supported browsers
    MAS.supports.fonts = true;
  </script>
  <!--<![endif]-->

</head>
<body>

  <%# Google Tag Manager %>
  <noscript>
    <%= tag :iframe, { src:   "//www.googletagmanager.com/ns.html?id=#{Rails.application.config.google_tag_manager_id}", 
                       style: 'display:none;visibility:hidden', width: 0, height: 0 } %>
  </noscript>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '<%= Rails.application.config.google_tag_manager_id %>');
  </script>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <% if Rails.env.development? %>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <%= javascript_include_tag 'html_inspector' %>
    <!--<![endif]-->
  <% end %>
  <%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
  <%= yield :scripts %>

</body>
</html>
