<%= render layout: 'layouts/base' do %>

  <%= render 'shared/header' %>

  <div class="l-constrained l-error-page">
    <main class="l-main__primary" role="main">
      <div class="l-error-page-message">

        <%= yield %>

      </div>

      <%= yield(:directory) %>
    </main>
  </div>

  <%= render 'shared/footer' %>
<% end %>
