<%= render layout: 'layouts/base' do %>

  <%= render 'shared/header' %>

  <div class="l-error-page">
    <main class="l-main__primary" role="main">
      <div class="l-constrained">
        <div class="l-error-page-message">
          <%= yield %>
        </div>
      </div>
      <div class="error-page__directory">
        <div class="l-constrained">
          <%= yield(:directory) %>
        </div>
      </div>
    </main>
  </div>

  <% content_for(:javascripts) do %>
  <script>
  if (Object.prototype.toString.call(dataLayer) === '[object Array]') {
    dataLayer.push({'event': 'error_500'});
  }
  </script>
  <% end %>

  <%= render 'shared/footer' %>
<% end %>
