<% content_for :content do %>

  <%= render 'shared/header' %>

  <div class="l-constrained">
    <main role="main">
      <div class="l-error-page-message">

        <%= yield %>

        <%= render 'shared/directory', items: category_navigation %>
      </div>
    </main>
  </div>

  <footer class="l-footer">
    <%= render 'shared/footer_social_links' %>
  </footer>
<% end %>

<%= render template: 'layouts/base' %>
