<% content_for :content do %>
  <a class="skip-to-content" href="#main">Skip to main content</a>
  <%= render 'shared/opt_out_bar' %>
  <%= render 'shared/header' %>
  <div id="main" tabindex="-1">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
<% end %>

<%= render template: 'layouts/base' %>
