<% content_for :head do %>
  <%= stylesheet_link_tag 'styleguide', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :content do %>
  <div class="styleguide">
    <ul>
      <li><%= link_to 'Overview', styleguide_path %></li>
      <li><%= link_to 'HTML', html_styleguide_path %></li>
      <li><%= link_to 'CSS', css_styleguide_path %></li>
      <li><%= link_to 'Sass', sass_styleguide_path %></li>
      <li><%= link_to 'JavaScript', javascript_styleguide_path %></li>
      <li><%= link_to 'Ruby', ruby_styleguide_path %></li>
    </ul>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/base' %>
